
<div class="service-all image">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'harborList'|translate" class="hc-topbar-name"></span>
		</div>
		
		<div class="hc-action-wrap">
			<div class="hc-topbar-block hc-button-block">
				<button class="hc-button hc-button-green hc-button-green-heavy" ng-click="upload()" ng-bind="'downAndUpload'|translate"></button>
				
			</div>
		</div>
	</div>
	<div class="hc-detail-outer">
  		
		<div class="service-table-div">
			<table class="service-table">
				<thead class="service-table-head">
					<tr>
						<td class="service-choose-td"></td>
						<td class="service-name" ng-bind="'name'|translate"></td>
						<!-- <td ng-bind="'tenantName'|translate"></td> -->
						<td ng-bind="'creationTime'|translate"></td>
					</tr>
				</thead>
				<tbody  class="service-table-body" ng-repeat="harbor in harborList">
					<tr>
						<td class="service-choose-td"></td>
						<td><a ui-sref="imgDetail({tenantid:harbor.tenant.tenantId,harborid:harbor.harborid})">{{harbor.name | harborName}}</a></td>
						<!-- <td>{{harbor.tenant.name}}</td> -->
						<td>{{harbor.time | transTime}}</td>
					</tr>
				</tbody>
			</table>
			<span ng-show="!harborList||harborList.length == 0" class="nomore">
				There is no data!
			</span>
		</div>
		
	</div>
</div>