<div class="hc-container-outer hc-detail-outer clearfix">
	<div class="modify-container-title hc-container-title" ng-bind="'addsubnet'|translate">Add Subnet</div>
	<form name="volume_form">
<!-- <div class="modify-container new-container-wrap network-new"> -->
	<!-- <div class="modify-container-title">Add Subnet</div> -->
		<ul class="hc-info-total">
			<li class="hc-info-list">
				<span class="hc-info-name hc-dialog-info-name ne-required">{{'subnetName'|translate}} ：</span>
				<div class="hc-con-info-block">
					<div class="hc-con-info hc-width-p100">
						<input type="input" name="name" class="hc-con-add" ng-model="name" required>
					</div>
				</div>
			<!-- <div class="service-informantion-name">
				<span class="ne-required">{{'subnetName'|translate}} ：</span>
			</div>
			<input type="input" name="name" class="service-new-input container-input width208" ng-model="name" required> -->
			</li>
		<!-- <li class="service-information-list">
			<div class="service-informantion-name">
				<span class="ne-required">{{'CIDR'|translate}} ：</span>
			</div>
			<input type="input" name="name" class="service-new-input container-input width208" ng-model="cidr" required>
		</li>
		<li class="service-information-list">
			<div class="service-informantion-name">
				<span class="ne-required">{{'gateway'|translate}} ：</span>
			</div>
			<input type="input" name="name" class="service-new-input container-input width208" ng-model="gateway" required>
		</li> -->
		<!-- <li class="service-information-list service-information-button  container-button-father">
			<button class="service-new-button container-next next-position disabled-{{disable()}}"  ng-click="save()" ng-disabled="disable()" su-load="/rest/subnetwork/create">save</button>
		</li> -->
		</ul>
		<div class="hc-dialogOp-block">
			<button class="service-new-button container-next next-position disabled-{{disable()}}"  ng-click="save()" ng-disabled="disable()" su-load="/rest/subnetwork/create">save</button>
		</div>
	</form>
<!-- </div> -->
</div>