.hc-info-block{
	width: 480px;
    margin: 0px 20px 40px 0px;
}
.hc-col-block{
	width: 500px;
}
.hc-podlist-block{
	width: 100% !important;
}
.hc-harbor-pie{
 	width: 300px;
 }
.hc-tenant-second .hc-info-block {
    width: 500px;
}