.audit-search-div{
	position: relative;
	/*left: 20px;*/
	top: 8px;
	color: #9ea9ad;
	font-size: 12px;
	float: left;
	/*border:1px solid red;*/
}
.audit-input-wrap{
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	display: inline-block;
}
.audit-input-wrap label {
    margin-left: 20px;
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    color: #000;
    text-align: right;
}
.audit-input-wrap select {
    float: left;
    height:22px;
    width:70px;
}
.audit-input-wrap input {
    height: 22px;
    width: 125px;
    margin-bottom: 52px;
    padding: 0px;
}
.audit-input-wrap button {
   font-size: 10px;
   margin-left: 10px;
   margin-bottom: 50px;
}
.audit-padding-td {
    /* text-align: center !important; */
    padding-left: 20px !important;
    padding-right: 10px !important;
}
/*.td day new{
   
}*/
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu .next{
    position: inherit;
    color: #000000;
    border: none;
    background: none;
}

.tcdPageCode {
    padding: 15px 20px;
    text-align: left;
    color: #ccc;
    text-align: center;
}
.tcdPageCode span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca; 
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode span.disabled {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode a {
    display: inline-block;
    color: #428bca;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode a:hover {
    text-decoration: none;
    border: 1px solid #428bca;
}
