.harbor-pie{
	min-height: 300px;
 }
 .harbor-inform{
 	display: inline-block;
 	width: 40%;
 	float: left;
 }
 .harbor-blockb{
 	display: inline-block;
 	width: 57%;
 	height: 300px;
 	/*background: red;*/
 	float: left;
 	border-left:2px solid #eee 
 }
 .harbor-block-pie{
 	width: 300px;
 	height: 300px;
 	margin-left: 100px;
 	display: inline-block;
 }
 .harbor-block-state{
 	width: 20%;
 	display: inline-block;
 	color:#000;
 	padding-bottom: 20px;
 }
 .repo-list{
 	padding: 0px;
 }

 /*repo detail begin*/
 .chart-block{
 	min-height: 300px;
 	width: 100%;
 	/*border-bottom: 2px solid #eee;*/
 }
 .chart-circle{
 	display: inline-block;
 	float: left;
 	height: 300px;
 	width: 600px;
 }
 .chart-state{
 	/*margin-top: 50px;*/
 	display: inline-block;
 	float: left;
 	height: 300px;
 	font-size: 13px;
 	padding-top: 50px;
    box-sizing: border-box;
 	/*background: red;*/
 }
 .text-line{
 	line-height: 30px;
 }
 .text-line-total{
 	font-size: 15px;
 	font-weight: bold;
 }
 .state-number{
 	color: black;
 	font-weight: bold;
 	min-width: 30px;
 	display: inline-block;
 }
 .state-word{
 	display: inline-block;
 	padding-left: 5px;
 }

/*repo table*/
 .table-block{
 	width: 100%;
 	padding-top: 20px;
 }
 .table-title{
 	color: #000;
 	font-weight: bold;
 	font-size: 15px;
 }
 .vultab-title{
 	border-bottom: 1px solid #eee;
 }
 .vul-table{
 	width: 100%;
 }
 .vul-th{
 	display: inline-block;
 	color: #ccc;
 	font-weight: bold;
 	height: 50px;
 	line-height: 50px;
 }
 .name-td{
 	width: 10%;
 }
 .version-td{
 	width: 13%;
 }
 .num-td{
 	width: 15%;
 }

 .vultab-body{
 	border-bottom: 1px solid #eee;
 }
 .vul-td{
 	display: inline-block;
 	color: #000;
 	height: 30px;
 	line-height: 30px;
 }
 .table-state-number{
 	font-weight: bold;
 	min-width: 20px;
 	display: inline-block;
 }

 /*vul table*/
 .vul-name{
 	width: 15%;
 }
 .vul-packagename{
 	width: 13%;
 }
 .vul-level{
 	width: 7%;
 	font-weight: bold;
 }
 .vul-version{
 	width: 15%;
 }
 .vul-image{
 	width: 30%;
 	/*overflow: hidden;*/
 }
 .image-content{
 	overflow: hidden;
 }

 .levelHigh{
 	color: #bd2119;
 }
 .levelMedium{
 	color: #d96c2b;
 }
 .levelLow{
 	color: #dec57b;
 }
 .levelNegligible{
 	color: #527384;
 }
 .levelUnknown{
 	color: #298473;
 }

 .fixed-version{
 	color: #34b369;
 }

 .vulinf-title{
 	color: #000;
 	font-weight: bold;
 }
 .img-otherinf{
 	font-size: 15px;
 	margin-bottom: 20px;
 }
 .no-repotext{
 	text-align: center;
 	color:#000;
 	display: inline-block;
    padding-left: 20px;
 }