.sp-sliders-wrap .slider-item p{
	margin: 0px !important;
}
.sp-sliders-wrap{
  position: fixed;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 0px;
  padding-top: 60px;
  z-index: 1001;
}
.sp-sliders-wrap .slider-item{
  width: 250px;
  height: 70px;
  box-shadow: 0px 0px 6px #121F26;
  background-color: #121F26;
  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  opacity: 0.9;
}
.sp-sliders-wrap .slider-item:hover{
  opacity: 1;
}
.sp-sliders-wrap .slider-item.green .slider-content{
  border-left: 7px solid #61BD8D;
}
.sp-sliders-wrap .slider-item.green .slider-title{
  color: #61BD8D;
}
.sp-sliders-wrap .slider-item.red .slider-content{
  border-left: 7px solid #F78362;
}
.sp-sliders-wrap .slider-item.red .slider-title{
  color: #F78362;
}
.sp-sliders-wrap .slider-item.on{
  margin-left: -260px;
}
.sp-sliders-wrap .slider-item.shrink{
  height: 0px;
}
.sp-sliders-wrap .slider-content{
  height: 100%;
  width: 190px;
  border-left: 7px solid #61BD8D;
  padding: 5px 0px;
  float: left;
}
.sp-sliders-wrap .slider-inner{
  color: #fff;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sp-sliders-wrap .slider-button{
  height: 70px;
  width: 50px;
  text-align: center;
  color: #656565;
  line-height: 70px;
  font-size: 12px;
  float: left;
  cursor: pointer;
  border-left: 1px solid #1E2E39;
}
.sp-sliders-wrap .slider-button:hover{
  background-color: #1E2E39;
}