.new-container-wrap .addct-form{
	position: relative;
    display: block;
    float: left;
    width: 400px;
}
.new-container-wrap .err-msg{
	position: absolute;
    left: 0px;
    top: 30px;
}

.next-position{
	float: right;
	margin-left: 20px;
}
.container-input{
	padding-left: 5px;
	width: 415px;
}
.container-image{
	max-width: 15px;
	max-height: 15px;
}

.config-setup{
	/*margin-top: 8px;*/
	background-color: #f2f2f3;
	width: 415px;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	margin-right: 4px;
	float: left;
	display: inline-block;
}
.container-input-key{
	padding-left: 5px;
	width: 150px;
	margin-bottom: 0px !important;
}
.container-input-value{
	padding-left: 5px;
	width: 260px;
	margin-bottom: 0px;
}
.storage-form{
	margin-top: 10px;
}
.storage-volume{
	width: 260px;
}
.port-with{
	width: 100px;
}
.check{
	display: inline-block;
	margin: 0px 5px 0px 5px;
}
.check input{
	margin: 0px;
	font-size: 20px;
}
.setup-div{
	height: 25px;
	margin-top: 8px;
	width: 560px;
}

.modify-container .service-informantion-name{
	width: 130px;
	text-align: right;
}

.volume-choose{
	/*float: left;*/
	display: inline-block;
}
.newing.modify-container .service-informantion-name{
	height: 20px;
	width: 132px;
}
.newing .content-list{
	float: left;
	width: 460px;
}
.newing .content-item{
	height: 20px;
	width: 500px;
	margin-bottom: 10px;
}
.newing input.ing-rules{
	margin-bottom: 0px;
}
.setWidth100{
	width: 100px;
}
.setWidth415{
	width: 415px;
}

/*probe relative style begin*/
.probeDetail{
	padding-top: 10px;
}
.confHttp{
	display: inline-block;
}
.confTcp{
	display: inline-block;
}
.none-top{
	position: absolute;
	left: 0px;
}
/*probe relative style end*/



