.service-information{
	margin: 25px 20px 7px 0px;
	padding: 15px 0px 15px 35px;
	background-color: #fff;
	font-size: 13px;
	color: #728a9a;
}
.service-information-ul{
	margin: 0px;
}
.service-information-list{
	list-style-type: none;
	/*background-color: red;*/
	padding-bottom: 15px;
	white-space: nowrap;
	overflow: hidden;
	/*clear: left;*/
}
.service-informantion-name{
	float: left;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
	/*font-weight: bold;*/
	color: #000;
	white-space: nowrap;
}
.service-informantion-var{
	padding-left: 5px;
	color: #000;
	text-align: left;
}
.service-informantion-label{
	/*margin-top: 5px;*/
	margin-left: 5px;
	display: inline-block;
	background-color: #f2f2f3;
}
.informantion-label-table{
	float: left;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	width: 290px;
	border: 1px solid #e3e9ed;
}
.informantion-label-table td{
	text-align: left;
	padding-left: 5px;
	height: 25px;
	line-height: 25px;
}
.port-name td{
	background-color: #e3e9ed;
}
.port-content td{
	background-color: #fff;
	color: #000;
}

/*edit instance count begin*/
.instant-edit{
	padding-left: 10px;
}
.edit-form{
	display: inline-block;
	margin: 0px;
}
.edit-form .service-new-input{
	width: 100px;
	margin: 0px;
}
.edit-button{
	width: 60px;
	height: 25px;
	border-radius: 3px;
	/*margin-bottom: 10px;*/
	font-size: 10px;
	font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif !important;
}
.edit-yes{
	background-color: #2da949;
	border: 1px solid #2da949;
	color: #fff;
}
.edit-no{
	background-color: #fff;
	border: 1px solid #a7a8ab;
	color: #576979;
}
.edit-instance{
	display: inline-block;
}
/*edit instance count end*/

/*volume table start*/
.volume-table{
	width: 650px !important;
}

.podname-span{
	width: 100px;
}
.open-console{
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}
