.service-new{
	margin: 10px 15px auto 15px;
	/*margin-top:61px; */
	/*background-color: red;*/
}
.service-new-detail{
	margin: 7px 0px 7px 0px;
	padding: 20px 5px 15px 35px;
	background-color: #fff;
	border-radius: 5px;
	font-size: 13px;
	color: #728a9a;
}
.expose-port-label{
	margin-left: 5px;
	padding-right: 15px;
	display: inline-block;
	background-color: #f2f2f3;
}
.service-new-input{
	width: 260px;
	height: 25px !important;
	border: 1px solid #b8c2c7 !important;
	padding: 0px 6px 0px 6px !important;
	border-radius: 0px !important;
}
.stay-session{
	margin-top: 4px;
	margin-left: 90px;
}
.stay-session-checkbox{
	margin: 0px !important;
	background-color: #fff;
	border: 1px solid #a4aeb1;
}
.stay-session-text{
	font-size: 12px;
}
.continer-label{
	float: left;
	margin-right: 10px;
	margin-left: 0px;
	padding-left: 10px;
	width: 210px;
	height: 105px;
	margin-bottom: 10px;
	position: relative;
}
.continer-label .value-span{
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 0px;
}
.hidden-text{
	overflow: hidden;
	text-overflow: ellipsis;
}
.new-container-label{
	width: 200px;
	height: 85px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	padding-top: 20px;
	margin-left: 0px;
}
.add-label{
	text-align: center;
	float: left;
}
.add-label .add-icon{
	text-align: center;
	font-size: 50px;
}
.remark-input{
	width: 265px;
	height: 110px;
	border: 1px solid #b8c2c7;
}
.service-information-button{
	margin-left: 73px;
}
.service-new-button{
	width: 90px;
	height: 27px;
	font-size: 12px;
	font-family:  Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif !important;
}
.service-new-seave{
	background-color: #fff;
	border: 1px solid #8f9398;
	color: #546675;
	border-radius: 2px;
}
.service-new-create{
	background-color: #4cac4f;
	border: 1px solid #4cac4f;
	color: #fff;
	border-radius: 2px;
	margin-left: 20px;
}
.disabled-true{
	border: 1px solid #8f9398 !important;
	background-color: #8f9398 !important;
}
.all-container-div{
	margin-left: 90px;
	overflow: hidden;
}
.label-name{
	width: 70px;
}
.container-edit-ul{
	display: inline-block;
	padding: 10px 0px 15px 0px;
}
.container-edit{
	position: absolute;
	top: 0px;
	right: 0px;
}
.service-new-detail .service-list{
	line-height: 27px;
}
.namespace-width{
	width: 274px;
}
.padLeft10{
	padding-left: 10px;
}