@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1a3wa8');
  src:  url('../fonts/icomoon.eot?1a3wa8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1a3wa8') format('truetype'),
    url('../fonts/icomoon.woff?1a3wa8') format('woff'),
    url('../fonts/icomoon.svg?1a3wa8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-menu:before {
  content: "\e5d2";
}
.ico-notifications:before {
  content: "\e7f4";
}
.ico-person:before {
  content: "\e7fd";
}
.ico-expand:before {
  content: "\e903";
}
.ico-storage:before {
  content: "\e908";
}
.ico-home:before {
  content: "\e900";
}
.ico-image:before {
  content: "\e901";
}
.ico-route:before {
  content: "\e902";
}
.ico-beat:before {
  content: "\e904";
}
.ico-switch:before {
  content: "\e905";
}
.ico-bin:before {
  content: "\e906";
}
.ico-settings:before {
  content: "\e909";
}
.ico-chevron-thin-down:before {
  content: "\e907";
}
.ico-pencil:before {
  content: "\e90a";
}
.ico-plus:before {
  content: "\e90e";
}
.ico-wrench:before {
  content: "\e90b";
}
.ico-checkmark:before {
  content: "\e90c";
}
.ico-cancel:before {
  content: "\e90d";
}

