<div class="service-all">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'ClusterComponentList'|translate" class="hc-topbar-name"></span>
		</div>
		
		<div class="hc-action-wrap">
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green" ng-show="isLogMonitor" ng-click="logMonitor()" ng-bind="'ConfigLogAlarm'|translate"></button>
				<button class="hc-button hc-button-green" ng-show="!isLogMonitor" ng-click="logMonitor()" ng-bind="'OpenLogAlarm'|translate"></button>


			</div>
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green" ng-show="!isInfluxMonitor" ng-click="influxMonitor()" ng-bind="'OpenLogMonitor'|translate"></button>
				<button class="hc-button hc-button-green" ng-show="isInfluxMonitor" ng-click="influxMonitor()" ng-bind="'ConfigLogMonitor'|translate"></button>
			</div>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div class="service-table-div mt0">
			<table class="service-table">
				<thead class="service-table-head">
					<tr>
						<td class="service-choose-td"><!-- <input class="service-choose-box" id="choose-all" type="checkbox" ng-model="checkboxAll" --></td>
						<td class="service-name" ng-bind="'name'|translate">
						</td>
						<td ng-bind="'host'|translate"></td>
						<td ng-bind="'lastUpdateTime'|translate"></td>
						<td ng-bind="'state'|translate"></td>
					</tr>
				</thead>
				<tbody  class="service-table-body">
					<tr ng-repeat="comp in compList">
						<td class="service-choose-td"><!-- <input class="service-choose-box" type="checkbox" ng-model="service.checkbox"> --></td>
						<td class="service-name">
							<a ng-bind="comp.name" ui-sref="componentDetail({name:comp.name,node:comp.host})"></a>
						</td>
						<td ng-bind="comp.host"></td>
						<td ng-bind="comp.time | transTime"></td>
						<td ng-bind="comp.status | compStatus" ng-class="{'green': comp.status == 'Y'}"></td>
					</tr>
				</tbody>
			</table>
			<span ng-show="!serviceList||serviceList.length==0" class="nomore">
			</span>
		</div>
	</div>
	
</div>