<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span class="hc-topbar-name" ng-bind="compName"></span>
			<span ng-bind="'('+comp.host+')'" ng-show='nodeName'></span> 
			<span ng-if="node.status.name == 'Ready'" class="state-icon icon-circle" style="color:#34b369;"></span>
			<span ng-if="node.status.name == 'OutOfDisk'" class="state-icon icon-circle" style="color: #f4c600;"></span>
			<span ng-if="node.status.name == 'MemoryPressure'" class="state-icon icon-circle" style="color: red;"></span>
		</div>
	</div>
	<div class="hc-detail-outer clearfix">
		<div class="hc-container hc-detail-inner">
			<div sp-tabs sp-default-tab="monitor"></div>
		</div>
	</div>
</div>