<div class="graphWrap monitor-chart">
		<div class="selection monitor-graph">
			<div class="input-wrap" style="height: -30px">
				<label ng-bind="'Node'+':'"></label>
				<label ng-bind="comp.host"></label>
			</div>
			<div class="input-wrap">
				<label>{{'process'|translate}}：</label>
				<label ng-bind="comp.name"></label>
			</div>
			
			<div class="input-wrap">
				<label>{{'time'|translate}}：</label>

				<select ng-model="selectNow.range" ng-options="item.value as item.name|translate for item in rangeList"  class="choose"></select>

				
			</div>
		</div>
		<div class="type">
			<div class="choose-type pointer" ng-click="chooseType('processcpu')" ng-class="{active:selectNow.target=='processcpu'}" id="cpu">CPU</div>
			<div class="choose-type pointer" ng-click="chooseType('processmem')" ng-class="{active:selectNow.target=='processmem'}">Memory</div>
		<!-- 	<div class="choose-type pointer" ng-click="chooseType('disk')" ng-class="{active:selectNow.target=='disk'}">Disk</div> -->
			<!-- <div class="choose-type pointer" ng-click="chooseNetwork('rx','tx')" ng-class="{active:select.target=='rxtx'}">Network</div> -->
		</div>
		<div class="graphInner">
			<div class="nodata" ng-show="nodata">
				{{'createMonitor'|translate}}
			</div>
			<div class="graph-div">
				<div id='graph' class="graphContent my-graph"></div>
			</div>
		</div>
	</div>
</div>