<div class="service-information">
	<div class="selection monitor-graph">
		<div class="input-wrap" style="height: -30px">
			<label ng-bind="'Node'+':'"></label>
			<label>{{NodeName}}</label>
		</div>
		<div class="input-wrap">
			<label ng-bind="('process'|translate)+':'"></label>

			<select ng-model='select.com'  class="choose" >
				<option ng-repeat='com in comList' value="{{com.name}}" style="margin-left: 8px">{{com.name}}</option>

			</select>
		</div>
		<div class="input-wrap">
				<label>{{'time'|translate}}：</label>

				<select ng-model="select.range" ng-options="item.value as item.name|translate for item in rangeList"  class="choose"></select>

				
		</div>
		
		<div class="log-bodys" style="margin-left: -40px;margin-right: 20px">
			<ul>
				<li ng-repeat="l in log track by $index" ng-bind="l+'\n'"></li>

			</ul>
			<div style="text-align: center;" ng-if="log != null">
	
				<span ng-show="log.length != 0 && currentPage != (pageCount()-1)" ng-click="nextPage()" style="text-align: center;cursor: pointer;">--------点击加载更多--------</span>
				<span ng-show="log.length != 0 && currentPage == (pageCount()-1)" style="cursor: pointer;">--------没有更多--------</span>
			</div>

		</div>
</div>