<div class="graphWrap monitor-chart">
		<div class="selection monitor-graph">
			<div class="input-wrap" style="height: -30px">
				<label ng-bind="'Node'+':'"></label>
				<label>{{NodeName}}</label>
			</div>
			<div class="input-wrap">
				<label>{{'type'|translate}}：</label>
				<select ng-model='select.type'  class="choose" ng-init="select.type='node'">
					<option ng-repeat='typ in typList' value="{{typ.name}}">{{typ.name | harborName}}</option>
				</select>
			</div>
			
			<div class="input-wrap" ng-show="select.type=='process'">
				<label>{{'process'|translate}}：</label>
				<select ng-model='select.com'  class="choose" >
					<option ng-repeat='com in comList' value="{{com.name}}">{{com.name | harborName}}</option>
				</select>
			</div>
			<div class="input-wrap">
				<label>{{'time'|translate}}：</label>
				<!-- <select ng-model='select.range'  class="choose"> -->
				<select ng-model="select.range" ng-options="item.value as item.name|translate for item in rangeList"  class="choose"></select>
					<!-- <option value='0' ng-show="timeSpan >= 30" ng-bind="'thirtyMinute'|translate"></option>
					<option value='1' ng-show="timeSpan >= 360" ng-bind="'sixHour'|translate"></option>
					<option value='2' ng-show="timeSpan >= 1440" ng-bind="'twentyFourHour'|translate"></option>
					<option value='3' ng-show="timeSpan >= 10080" ng-bind="'sevenDay'|translate"></option>
					<option value='4' ng-show="timeSpan >= 43200" ng-bind="'thirtyDay'|translate"></option> -->
					<!-- <option value='5' ng-bind="'setupToNow'|translate"></option> -->
				<!-- </select> -->
			</div>
		</div>
		<div class="type">
			<div class="choose-type pointer" ng-click="chooseType('nodecpu')" ng-class="{active:select.target=='nodecpu'}" id="cpu" ng-show="select.type=='node'">CPU</div>
			<div class="choose-type pointer" ng-click="chooseType('processcpu')" ng-class="{active:select.target=='processcpu'}" id="cpu" ng-show="select.type=='process'">CPU</div>
			<div class="choose-type pointer" ng-click="chooseType('memory')" ng-class="{active:select.target=='memory'}" ng-show="select.type=='node'"> Memory</div>
			<div class="choose-type pointer" ng-click="chooseType('processmem')" ng-class="{active:select.target=='processmem'}" ng-show="select.type=='process'">Memory</div>
			<div class="choose-type pointer" ng-click="chooseType('disk')" ng-class="{active:select.target=='disk'}">Disk</div>
			<!-- <div class="choose-type pointer" ng-click="chooseNetwork('rx','tx')" ng-class="{active:select.target=='rxtx'}">Network</div> -->
		</div>
		<div class="graphInner">
			<div class="nodata" ng-show="nodata">
				{{'createMonitor'|translate}}
			</div>
			<div class="graph-div">
				<div id='graph' class="graphContent my-graph"></div>
			</div>
		</div>
	</div>
</div>