<div class="hc-service-information clearfix">
	<div class="clearfix">
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'BasicInfo'|translate"></span>
				<span class="hc-resource-edit pointer hc-color-green" ng-show="labelChange" ng-bind="'Save'|translate" ng-click="saveLabels()"></span>
			</div>
			<div class="hc-info-body">
				<ul>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'name'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.name"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'state'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.status.name"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'type'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.type"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'CPU'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.cpu"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'Memory'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.memory"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'architecture'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.architecture"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'os'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.os"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'kernelVersion'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.kernelVersion"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'creationTime'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.creationTime | transTime"></span>
					</li>
					<li class="hc-info-list hc-height-auto">
						<span class="hc-info-name">{{'label'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info" ng-repeat="(key,value) in labels">
								<span class="hc-info-value hc-con-value hc-two-width" ng-bind="key"></span>
								<span class="hc-connect-icon">=</span>
								<span class="hc-info-value hc-con-value hc-two-width" ng-bind="value"></span>
								<span class="hc-delete-icon ico-cross hc-color-red pointer" ng-click="deleteLabel(key)"></span>
							</div>
							<div class="hc-con-info">
								<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputLabelKey'|translate}}" ng-model="tempLabel.key">
								<span class="hc-connect-icon hc-connect-placeholder">=</span>
								<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputLabelValue'|translate}}" ng-model="tempLabel.value" enter-search="addLabel()">
								<span class="hc-delete-icon ico-check pointer hc-color-green" ng-click="addLabel()"></span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'PodStatus'|translate"></span>
			</div>
			<div class="hc-info-body">
				<div class="hc-container-pie" ne-pie ne-value="pieData" ne-title="" ne-background="'#fff'" ne-color="color">
				</div>
				<div class="hc-info-pietext">
					<div>
						<span class="hc-pie-running">{{'running'|translate}} : </span>
						<span ng-bind="pieData[0].value"></span>
					</div>
					<div>
						<span class="hc-pie-pause">{{'pause'|translate}} : </span>
						<span ng-bind="pieData[1].value"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'AdvanceInfo'|translate"></span>
			</div>
			<div class="hc-info-body">
				<ul>
					<li class="hc-info-list">
						<span class="hc-info-name" title="{{'kubeProxyVersion'|translate}}">{{'kubeProxyVersion'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.kubeProxyVersion"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'kubeletVersion'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="node.kubeletVersion"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'event'|translate"></span>
			</div>
			<div class="hc-info-body hc-event-block">
				<span ng-show="eventList.length == 0">
					{{'noEvent'|translate}}
				</span>
				<div ng-repeat="event in eventList track by $index">
					<ul class="hc-event-ul">
						<li>
							<div class="hc-event-time">
								{{event.lastTimestamp | transTime}}
							</div>
							<div class="hc-dialog-left"></div>
						</li>
						<li class="hc-event-spot">
							<div class="hc-event-span">
								<div class="hc-circle-iron" ng-show="event.type == 'Normal'"></div>
								<div class="hc-circle-iron" ng-show="event.type == 'Warning'" style="background-color:red;"></div>
							</div>	
						</li>
						<li class="hc-event-list">
							<div class="hc-dialog-right"></div>
							<div class="hc-event-detail">
								<div class="hc-event-reason" ng-bind="event.reason"></div>
								<span ng-bind="event.message"></span>
								<div>
									<div class="hc-event-bottom hc-event-count">
										Arised
										<span ng-bind="event.count"></span>
										<span ng-show="event.count == 1">time</span>
										<span ng-show="event.count>1">times</span>
									</div>
									<div class="hc-event-bottom hc-event-from">
										From
										<span ng-bind="event.involvedObject.name"></span>
										(<span ng-bind="event.involvedObject.kind"></span>)
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="hc-info-block hc-podlist-block">
		<div class="hc-info-head">
			<span ng-bind="'Pods'|translate"></span>
		</div>
		<div class="hc-info-body">
			<table class="hc-info-table hc-podlist-table">
				<thead>
					<tr class="hc-info-table-head">
						<td>{{'name'|translate}}</td>
						<td>{{'namespace'|translate}}</td>
						<td>{{'runState'|translate}}</td>
						<td>{{'podIP'|translate}}</td>
						<td>{{'creationTime'|translate}}</td>
					</tr>
				</thead>
				<tbody class="hc-info-table-body">
					<tr class="hc-info-table-row" ng-repeat="pod in podList">
						<td>
							<a ui-sref="podInformationDetail({name:pod.name,service:service.name,namespace:pod.namespace})">{{pod.name}}</a>
						</td>
						<td ng-bind="pod.namespace"></td>
						<td>
							<span ng-if="pod.status == 'Running'" ng-bind="'running'|translate" class="hc-state-start"></span>
							<span ng-if="pod.status != 'Running'" ng-bind="'pause'|translate" class="hc-state-stop"></span>
						</td>
						<td ng-bind="pod.ip"></td>
						<td ng-bind="pod.startTime | transTime"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>