<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span class="hc-topbar-name" ng-bind="node.name"></span>
			<span ng-if="node.status.name == 'Ready'" class="hc-state-start hc-topbar-state">
				{{'Ready'|translate}}
			</span>
			<span ng-if="node.status.name == 'OutOfDisk'" class="hc-state-stop hc-topbar-state">
				{{'OutOfDisk'|translate}}
			</span>
			<span ng-if="node.status.name == 'MemoryPressure'" class="hc-state-unstable hc-topbar-state">
				{{'MemoryPressure'|translate}}
			</span>
		</div>
	</div>
	<div class="hc-detail-outer clearfix">
		<div class="hc-container hc-detail-inner">
			<div sp-tabs sp-default-tab="nodeInfo"></div>
		</div>
	</div>
</div>