<div class="pod-instance">	
	<div class="pod-table-div">
		<table class="service-table">
			<thead class="service-table-head">
				<tr>
					<td class="pod-name">{{'name'|translate}}</td>
					<td>{{'namespace'|translate}}</td>
					<td>{{'runState'|translate}}</td>
					<td>{{'podClusterIP'|translate}}</td>
					<td>{{'creationTime'|translate}}</td>
				</tr>
			</thead>
			<tbody  class="service-table-body" ng-repeat="pod in podList">
				<tr>
					<td class="pod-name-var"><a ui-sref="podInformationDetail({name:pod.name,service:service.name,namespace:pod.namespace})">{{pod.name}}</a></td>
					<td>{{pod.namespace}}</td>
					<td ng-if="pod.status == 'Running'">
						{{'running'|translate}}
						&nbsp
						<span class="state-icon icon-circle"></span>
					</td>
					<td ng-if="pod.status != 'Running'">
						{{'pause'|translate}}
						&nbsp
						<span class="state-icon icon-circle unstate"></span>
					</td>
					<td>{{pod.ip}}</td>
					<td>{{pod.startTime | transTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>