<div class="service-detail">
	<div class="service-detail-title storage-title">
		<div class="back">
			<span class="icon-double-angle-left pointer" ng-click="back()"></span>
		</div>
		<div class="service-detail-text">
			<span class="service-detail-name">{{storage.name}} ( {{storage.type.type}} )</span>
			<span ng-if="storage.status == 'Pending'" class="state-icon icon-circle" style="color: red;"></span>
			<span ng-if="storage.status == 'Lost'" class="state-icon icon-circle" style="color: #aaa;"></span>
			<span ng-if="storage.status == 'Bound'" class="state-icon icon-circle"></span>
		</div>
	</div>

	<div class="service-information storage-detail">
	<ul class="service-information-ul">
		<li class="service-information-list">
			<span class="service-informantion-name">{{'name'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.name}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'namespace'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.namespace}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'runState'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.status}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'usageState'|translate}} ：</span>
			<span class="service-informantion-var" ng-if="!storage.bounds.length">
				{{'noBindService'|translate}}
			</span>
			<span class="service-informantion-var" ng-repeat="bound in storage.bounds">
				<a ui-sref="serviceDetail({name:bound,namespace:namespace})">{{bound}}&nbsp</a>
			</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'creationTime'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.createTime | transTime}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'capacity'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.capacity}}M</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'path'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.type.path}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'serviceHost'|translate}} ：</span>
			<span class="service-informantion-var">{{storage.type.server}}</span>
		</li>
	</ul>
	</div>
	<!-- <div class="service-detail-content" ui-view></div> -->
</div>	