<div class="service-all">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'storageList'|translate" class="hc-topbar-name"></span>
		</div>
		
		<div class="hc-action-wrap">
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green" ng-bind="'new'|translate" ng-click="volumeNew()"></button>
			</div>
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-red" delete-confirm="delete(data)" delete-text="{{'deleteText'|translate}}" ng-bind="'delete'|translate"></button>
			</div>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div class="service-table-div">
			<table class="service-table">
				<thead class="service-table-head">
					<tr>
						<td class="service-choose-td"><input class="service-choose-box" id="choose-all" type="checkbox" ng-model="checkboxAll"></td>
						<td class="service-name" ng-bind="'Volumename'|translate"></td>
						<td ng-bind="'Tenantname'|translate"></td>
						<td class="service-name" ng-bind="'type'|translate"></td>
						<td class="service-name" ng-bind="'capacity'|translate"></td>
						<td class="service-name" ng-bind="'Multiple'|translate"></td>
						<td class="service-name" ng-bind="'Usage'|translate"></td>
						<td ng-bind="'readOnly'|translate"></td>
						<td ng-bind="'creationTime'|translate"></td>
					</tr>
				</thead>
				<tbody  class="service-table-body">
					<tr ng-repeat="volume in volumeList | orderBy: '-time'">
						<td class="service-choose-td"><input class="service-choose-box" type="checkbox" ng-model="volume.checkbox"></td>
						<td>{{volume.name | harborName}}</td>
						<td><a ui-sref="tenantDetail({id:volume.tenant.tenantid})">{{volume.tenant.tenantname}}</a></td> 
						<td>{{volume.type}}</td>
						<td>{{volume.capacity|newmemoryFormat}}</td>
						<td>{{volume.multiple}}</td>
						<td>
							<span ng-if="!volume.usage || volume.usage.lngth==0">none</span>
							<span ng-if="volume.usage" ng-bind="volume.usage"></span>
						</td>
						<td>
							<span ng-if="volume.readOnly == true">{{'readOnlyTrue'|translate}}</span>
							<span ng-if="volume.readOnly == false">{{'readOnlyFalse'|translate}}</span>
						</td>
						<td>{{volume.time | transTime}}</td>
					</tr>
				</tbody>
			</table>
			<span ng-show="!volumeList||volumeList.length == 0" class="nomore">
				There is no data!
			</span>
		</div>
		
	</div>
</div>