<div class="modify-container new-container-wrap network-new">
	<div class="modify-container-title">Modify Volume</div>
	<ul class="service-information-ul">
			<li class="service-information-list">
				<div class="service-informantion-name">
					<span class="ne-required">{{'Volumename'|translate}} ：</span>
				</div>
				<span>{{volume.name}}</span>
			</li>
			<li class="service-information-list" ng-show="pre == 'tenant'">
				<div class="service-informantion-name">
					<span class="ne-required">{{'tenant'|translate}} ：</span>
				</div>
				<span>{{volume.tenant.name}}</span>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name">
					<span class="ne-required">{{'type'|translate}} ：</span>
				</div>
				<span>{{volume.type}}</span>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name">
					<span class="ne-required">URL ：</span>
				</div>
				<span>{{volume.config.url}}</span>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name">
					<span class="ne-required">Path ：</span>
				</div>
				<span>{{volume.config.path}}</span>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name padLeft10 service-list">
					<span class="ne-required">{{'capacity'|translate}}：</span>
				</div>
				<div sp-number name="capacity" sp-data="volume.capacity" sp-min="128" sp-max="1024" sp-interval="128" sp-filter="memoryFormat" sp-dirty="" ng-model="volume.capacity" required></div>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name padLeft10 service-list">
					<span>{{'readOnly'|translate}}：</span>
				</div>
				<div>
					<input class="stay-session-checkbox" type="checkbox" ng-model="volume.readOnly">
				</div>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name padLeft10 service-list">
					<span>Multiple：</span>
				</div>
				<div>
					<input class="stay-session-checkbox" type="checkbox" ng-model="volume.multiple">
				</div>
			</li>
			<li class="service-information-list service-information-button  container-button-father">
				<button class="service-new-button container-next next-position disabled-{{disable()}}"  ng-click="save()" ng-disabled="disable()">save</button>
			</li>
		</ul>
</div>