<div class="service-all">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'harborList'|translate" class="hc-topbar-name"></span>
		</div>
		
		<div class="hc-action-wrap">
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green" ng-bind="'new'|translate" ng-click="newHarborList()"></button>
			</div>
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-red" delete-confirm="delete(data)" delete-text="{{'deleteText'|translate}}" ng-bind="'delete'|translate"></button>
			</div>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div class="service-table-div">
			<table class="service-table">
				<thead class="service-table-head">
					<tr>
						<td class="service-choose-td"><input class="service-choose-box" id="choose-all" type="checkbox" ng-model="checkboxAll"></td>
						<td class="service-name" ng-bind="'Harborname'|translate"></td>
						<td class="service-name" ng-bind="'Tenantname'|translate"></td>
						<td ng-bind="'creationTime'|translate"></td>
						<td ng-bind="harborid" style="display: none"></td>
					</tr>
				</thead>
				<tbody  class="service-table-body">
					<tr ng-repeat="harbor in harborList | orderBy: '-time'">
						<td class="service-choose-td"><input class="service-choose-box" type="checkbox" ng-model="harbor.checkbox"></td>
						<td><a ui-sref="HarborDetail({tenantid:harbor.tenant.tenantId,harborid:harbor.harborid})">{{harbor.name | harborName}}</a></td>
						<td><a ui-sref="tenantDetail({id:harbor.tenant.tenantId})">{{harbor.tenant.name}}</a></td>
						<td>{{harbor.time | transTime}}</td>
						<td style="display: none">{{harbor.harborid}}</td>
					</tr>
				</tbody>
			</table>
			<span ng-show="!harborList||harborList.length == 0" class="nomore">
				There is no data!
			</span>
		</div>
		
	</div>
</div>