<div class="service-information repo-list">
	<div class="ne-table shrink-item-wrap">
		<div class="thead">
			<div class="tr">
				<div class="td" style="width: 2.5%">
					
				</div>
				<div class="td font14" style="width: 40%" ng-bind="'name'|translate"></div>
				<div class="td font14" style="width: 40%" ng-bind="'source'|translate"></div>
				<div class="td pointer font14" style="width: 10%">
					
				</div>
			</div>
		</div>
		<div class="tbody">
			<div class="tr shadow" ng-repeat="image in repoList" ng-init="reponame=image.name" ng-class="{shrink:!image.shrink}" ng-click="toggle(image)" ng-style="{height:82+40*image.tags.length}" >
				<div class="td pos_r pointer" style="width: 2.5%">
					<span class="shrink-icon ico-chevron-thin-down height50"></span>
				</div>
				<div class="td pointer font14" style="width: 40%"  ng-bind="image.name" cl-width='50'></div>
				<div class="td pointer font14" style="width: 40%"  ng-bind="image.source"></div>
				<div class="td pointer font14" style="width: 10%; color: #df665c">
					<span class="ico-cross delete-button" delete-confirm="deleteRepo(image,$event)" delete-text="{{'deleteText'|translate}}" ></span>
				</div>
				<div class="extra-content" ng-click="$event.stopPropagation()">
					<div class="ne-table">
						<div class="thead">
							<div class="tr pos_r">
								<div class="td"  style="width: 21%" ng-bind="'version'|translate"></div>
								<div class="td"  style="width: 32%" ng-bind="'high'|translate"></div>
								<div class="td"  style="width: 30.3%" ng-bind="'other'|translate"></div>
								<div class="td"  style="width: 3%">
									
								</div>
								<div class="td"  style="width: 4%">
									
								</div>
							</div>
						</div>
						<div class="tbody">
							<div class="tr pos_r"  ng-repeat="tag in image.tags">
								<div class="td pointer"  style="width: 21%">
									<a ng-bind="tag.tag" ui-sref="repoDetail({harbor:harbor.name,repo:reponame,tag:tag.tag})"></a>
								</div>
								<div class="td"  style="width: 32%" ng-bind="tag.high_num"></div>
								<div class="td"  style="width: 30.3%" ng-bind="tag.other_num"></div>
								<div class="td pointer"  style="width: 4%; color:#df665c">
									<span class="ico-cross op-button delete-button" delete-confirm="deleteTag(image,tag,$event)" delete-text="{{'deleteText'|translate}}" ></span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<p ng-show="loading" class="center">{{'loading'|translate}}</p>



	<div id="loadWait" class="load-wait">
		
	</div>
</div>