<div class="service-information">
	<ul class="service-information-ul">
		<li class="service-information-list">
			<div class="service-informantion-label">
				<table class="informantion-label-table network-table">
					<tr class="port-name">
						<td>{{'Username'|translate}}</td>
						<td>{{'Harbor'|translate}}</td>
						<td>{{'Role'|translate}}</td>
						<td class="pointer edit-td" ng-click="addHarborUser()"><span class="icon-plus green"></span></td>
					</tr>
					<tr class="port-content" ng-repeat="u in harborUserList">
						<td class="port">
							<span class="pointer">
								<a ui-sref="userDetial({username:u.user[0]})">{{u.user[0]}}</a>
							</span>
						</td>
						<td class="port">
							<span>
								<a ui-sref="tenantHarborDetail({tenantid:tenant.tenantid,harborid:u.harborid})">{{u.harborProjectName|harborName}}</a>
							</span>
						</td>
						<td class="port">
							<span ng-if="u.role == 'harbor_project_developer'">Pull/Push</span>
							<span ng-if="u.role != 'harbor_project_developer'">Pull</span>
						</td>
						<td class="edit-td">
							<a delete-confirm="deleteHarborUser($index)" class="remove ico-cross pointer"></a>
						</td>
					</tr>
				</table>
			</div>
		</li>
	</ul>
</div>
