<div class="hc-repo-chart-block">
	<div class="table-block" ng-show="vulAna == 0">
		<!-- <div class="table-title">
			<span>Vulnerabilitle</span>
		</div> -->
		<div class="vul-table">
			<div class="vultab-title">
				<div class="vul-th vul-name">{{'VulnerabilitleName'|translate}}</div>
				<div class="vul-th vul-packagename">{{'PackageName'|translate}}</div>
				<div class="vul-th vul-level">{{'Level'|translate}}</div>
				<div class="vul-th vul-version">{{'CurrentVersion'|translate}}</div>
				<div class="vul-th vul-version">{{'FixedVersion'|translate}}</div>
				<div class="vul-th vul-image">{{'ImageLayer'|translate}}</div>
				<!-- <div class="vul-th num-td">Negligible Level</div>
				<div class="vul-th num-td">Unknow Level</div> -->
			</div>
			<div class="vultab-body" ng-repeat="i in inform.table">
				<div class="vul-td vul-name">
					<a href="{{i['CVE-link']}}" ng-bind="i.CVE" target="_blank"></a>
				</div>
				<div class="vul-td vul-packagename" ng-bind="i.package"></div>
				<div class="vul-td vul-level" ng-class="'level'+i.severity">
					<span ng-bind="i.severity"></span>
				</div>
				<div class="vul-td vul-version">
					<span ng-bind="i['current-version']"></span>
				</div>
				<div class="vul-td vul-version fixed-version">
					<span ng-bind="i['fixed-in-version']"></span>
				</div>
				<div class="vul-td vul-image image-content">
					<span ng-bind="i['image-layer']" title="{{i['image-layer']}}"></span>
				</div>
			</div>
		</div>
	</div>
</div>