/*new container begin*/
.hc-container-outer{
	background: #fff;
}
.hc-container-outer .hc-info-list {
    height: auto;
}
.hc-container-outer .hc-info-name{
	padding-left: 5px;
	color: #000;
	box-sizing: border-box;
}
.hc-container-outer .ne-required:before{
	top: 9px;
	left: 0px;
}
.hc-container-outer .hc-con-info{
	width: 60%;
	display: inline-block;
}
.hc-con-info select{
	height: 20px;
	line-height: 20px;
}
.hc-image-info{
	width: 100% !important;
}
.hc-image-info .hc-two-width{
	width: 49%;
}
.hc-width-p49{
	width: 49%;	
}
.hc-port-info{
	width: 100%;
}
.hc-width-p575{
	width: 57.5%;
}
.hc-width-p30{
	width: 30% !important;
}
.hc-width-p70{
	width: 70% !important;
}
.hc-width-p100{
	width: 100% !important;
}
.hc-width-p38{
	width: 38% !important;
}
.hc-width-p98{
	width: 98.8% !important;
}
.hc-mt50{
	margin-top: 50px;
}
.hc-color888{
	color: #888;
}

.hc-dialog-info-name{
	width: 20%;
}
/*.hc-dialog{
	margin: 0px;
}*/
.hc-dialog .ngdialog-content{
	padding: 0px !important;
}
/*.hc-dialog .ngdialog-close:before{
	color: #fff !important;
}
.hc-dialog .ngdialog-close:before:hover{
	color: #aaa !important;
}*/
.hc-info-total{
	margin-top: 40px;
}
.hc-container-title{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 32px;
	width: 100%;
	line-height: 32px;
	background: #212a32;
	font-size: 15px;
	color: #fff;
}
.hc-dialogOp-block{
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
}
.hc-delete-color{
	color: #df675d;
}
.hc-button-a{
	display: inline-block;
	line-height: 26px;
	text-align: center;
}
.hc-button-a:hover{
	color: #636363;
}
.hc-con-textarea{
	height: 100px;
	margin-top: 10px;
	border-radius: 0px;
}
.hc-con-info-block{
	text-indent: 0px;
}

/*new container end*/