/*service detail page style begin*/
.hc-service-detail{
	/*margin-top: 51px;*/
	width: 100%;
}
.hc-detail-topbar{
	min-height: 38px;
	/*position: fixed;*/
	/*top: 0px;*/
/*	left: 200px;
	right: 0px;*/
	background: #fff;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	box-shadow: 0px 2px 5px #dde0e1;
	z-index: 1;
}
.hc-topbar-block{
	height: 100%;
	display: inline-block;
	line-height: 38px;
	float: left;
}
.hc-back{
	display: inline-block;
	/*background: #1f384d;*/
	color: #52575c;
	width: 14px;
	margin-top: 10px;
	height: 20px;
	line-height: 20px;
	border-radius: 4px;
	text-align: center; 
	font-size: 18px;
}

.hc-topbar-name{
	font-size: 18px;
	padding-left: 8px;
	color: #52575c;
}
.hc-topbar-state{
	font-size: 14px;
	padding-left: 6px;
}

.hc-state-stop{
	color: red !important;
}
.hc-state-start{
	color: #34b369;
}
.hc-state-unstable{
	color: #f4c600;
}

.hc-labels-parents{
	padding-left: 30px;
}
.hc-label{
	width: 140px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	border-radius: 2px;
	margin:10px 5px 0px 0px;
	font-size: 12px;
	overflow: hidden;
}
.hc-label-name{
	display: inline-block;
	background: #2a8ec0;
	color: #fff;
	padding: 0px 5px 0px 5px;
	width: 40px;
	height: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}
.hc-label-value{
	display: inline-block;
	background: #e9eced;
	color: #000;
	padding: 0px 5px 0px 5px;
	width: 80px;
	height: 100%;
	text-align: center;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hc-flright{
	float: right;
}
.hc-small-width{
	width: 32px;
}
.hc-tcp-icon{
	display: inline;
	padding: 0px 5px;
	height: 20px;
	width: 20px;
	font-weight: bold;
	background: #fff;
	border: 1px solid #263340;
	color: #263340;
	border-radius: 3px;
	margin-left: 5px;
}
.hc-button-block{
	padding: 0px 0px 0px 50px;

}
.hc-button{
	font-size: 12px;
    height: 26px;
    line-height: 18px;
    padding: 0px 12px;
    min-width: 90px;
}
.hc-button.hc-button-disable{
	color: #8f9398;
	border: 1px solid #8f9398;
	cursor: default;
}
.hc-disabled-true{
	color: #8f9398 !important;
    border: 1px solid #8f9398 !important;
    cursor: default !important;
}
.hc-button-icon{
	font-size: 20px;
	color: #2da949;
}
.hc-button-icon button{
	font-size: 18px;
	color: #2da949;
	border: none;
	background: #fff;
}
.hc-icon-disable-true{
	color: #aaa !important;
}

.hc-button-green{
	border: 1px solid #2da949;
	color: #2da949;
	background: #fff;
}
.hc-button-green-heavy{
	border: 1px solid #2da949;
	color: #fff;
	background: #2da949;
}
.hc-button.hc-button-green-heavy.hc-button-disable{
	border: 1px solid #8f9398;
	color: #fff;
	background: #8f9398;
}
.hc-button-red{
	border: 1px solid #df675d;
	color: #df675d;
	background: #fff;
}
.hc-button-black{
	border: 1px solid #636363;
	color: #636363;
	background: #fff;
}
.hc-operation-detail{
	overflow: hidden;
    min-width: 88px;
    font-size: 12px;
    top: 30px;
    left: 50px;
    border-radius: 0px;
    border: 1px solid #636363;
    color: #636363;
}
.hc-operation-detail li{
	padding-left: 5px;
}

.hc-container{
	width: 100%;
	background: #fff;
}
.hc-detail-outer{
	background: red;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	background: #e9eced;
}
.hc-detail-inner{
	border: 1px solid #dde0e1;
	box-shadow: 2px 2px 5px #dde0e1;
	overflow: hidden;
}
.hc-detail-innerwrap{
	padding: 20px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
}
.hc-service-information{
	padding: 40px 40px 40px 40px;
	width: 100%;
	box-sizing: border-box;
	color: #212a32;
	font-size: 15px;
}

.hc-info-block{
	display: inline-block;
	float: left;
	width: 600px;
	min-height: 260px;
	margin: 0px 40px 40px 0px;
	text-indent: 5px; 
}
.hc-container-block{
	display: inline-block;
	float: left;
	min-height: 260px;
	margin: 0px 40px 40px 0px;
	text-indent: 5px; 
}
.hc-info-head{
	border-bottom: 1px solid #c8c8c8;
	color: #000;
	height: 26px;
	font-size: 15px;
}
.hc-info-body{
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 13px;
}
.hc-info-list{
	height: 32px;
	line-height: 32px;
}
.hc-info-name{
	float: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
    white-space: nowrap;
}
.hc-info-value{
	font-size: 14px;
	color: #50555a;
}
.hc-info-table-block{
	margin-left: 5px;
    display: inline-block;
    color: #5f6468;
}
.hc-info-table{
	width: 290px;
	font-size: 13px;
}
.hc-info-table-head td{
	height: 30px;
	text-align: left;
	line-height: 30px;
	background: #e7f3ff;
}
.hc-info-table-row td{
	height: 30px;
	text-align: left;
	line-height: 30px;
}
.hc-info-table-body tr:nth-child(odd){
	background-color: #fff;
}
.hc-info-table-body tr:nth-child(even){
	background-color: #f3f3f3;
}
.hc-info-pietext{
	width: 30%;
    display: inline-block;
	font-size: 13px;
	color: #50555a;
	position: relative;
	bottom: 45px; 
	/*bottom: 0px;*/
}
.hc-container-pie{
	width: 65%;
    height: 300px;
    /*margin-left: 100px;*/
    display: inline-block;
}
.hc-pie-running{
	color: #018588;
}
.hc-pie-pause{
	color: #f5b297;
}

.hc-event-block{
 	font-size: 13px;
 	padding: 20px 0px 20px 10px;
 	margin-top: 5px;
 	max-height: 400px;
 	overflow-y: auto;
}
.hc-event-ul{
	margin: 0px;
	padding: 0px 0px 10px 0px;
	background: url(../images/time-back.png) repeat-y 107px 0px;
	overflow: hidden;
}
.hc-event-ul li{
	list-style-type: none;
	display: inline-block;
	margin-top: 10px;
	float: left;
}
.hc-event-time{
	width: 80px;
	background: #f3f3f3;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	float: left;
}
.hc-dialog-left{
	border-left:9px solid #f3f3f3;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 0px solid #f3f3f3;
	float: left;
	margin-top: 12px; 
}
.hc-dialog-right{
	border-left:0px solid #f3f3f3;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 9px solid #f3f3f3;
	float: left;
	margin-top: 12px; 
}
.hc-event-list{
	margin-left: 5px;
	width: 73%;
}
.hc-event-detail{
	width: 90%;
	padding: 10px 5px 10px 5px;
	background: #f3f3f3;
	float: left;
	border-radius: 5px;
}
.hc-event-detail span{
	padding-left: 5px;
}
.hc-event-span{
	margin: 10px 0px 0px 0px;
	width: 11px;
	height: 17px;
	background-color: #fff;
	line-height: 17px;
	text-align: center;
}
.hc-circle-iron{
	display: inline-block;
	background-color: #68b363;
	width: 6px;
	height: 6px;
	border-radius: 3px;
}
.hc-event-reason{
	font-size: 14px;
}
.hc-event-bottom{
	color: #aaa;
	display: inline-block;
}
.hc-event-count{
   	
}
.hc-event-from{
	float: right;
}
.hc-podlist-block{
	display: block;
	width: 1200px;
}
.hc-podlist-table{
	width: 100%;
	margin: 0px;
}

.hc-detail-inner .service-information{
	box-shadow: none;
	margin-top: 0px;
}
.hc-detail-outer .service-information{
	box-shadow: none;
	margin-top: 0px;
}
.hc-detail-inner .monitor-chart{
	margin-top: 0px;
}
.hc-first-li{
	font-weight: bold;
}
.hc-height-300{
	height: 300px !important;
}
/*service detail page style end*/

/*service list page begin*/
.service-list-block{
	border-bottom: 1px solid #eee;
}
.hc-action-wrap{
	float: right;
}
/*service list page end*/

/*container information begin*/
.hc-con-info-block{
	font-size: 12px;
    color: #50555a;
    width: 60%;
    display: inline-block;
}
.hc-con-info{
	font-size: 12px;
    color: #50555a;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #c8c8c8;
}
.hc-container-block .hc-info-list{
	height: auto;
}
.hc-delete-icon{
	float: right;
	display: inline-block;
	padding: 0px 5px 0px 0px;
	height: 32px;
	line-height: 32px;
	color: #aaa;
	font-size: 16px;
	visibility: hidden;
	transition: visibility 500ms;;
	-ms-transition: visibility 500ms;; 	/* IE 9 */
	-moz-transition: visibility 500ms;; 	/* Firefox */
	-webkit-transition: visibility 500ms;; /* Safari 和 Chrome */
	-o-transition: visibility 500ms;; 	/* Opera */
}
.hc-con-info:hover .hc-delete-icon{
	visibility: visible;
}
.hc-con-value{
	display: inline-block;
	text-indent: 0px;
	overflow: hidden;
	vertical-align: bottom
}
.hc-con-add{
	border: none !important;
	outline: none!important;
    box-shadow: none!important;
	padding: 0px !important;
	margin: 0px !important;
}
.hc-con-span{
	display: inline-block;
	margin-left: 0px;
}
.hc-two-width{
	width: 40%;
}
.hc-height-auto{
	height: auto;
}
.hc-connect-icon{
	/*display: inline-block;*/
	padding: 0px 5px 0px 5px;
}
.hc-connect-placeholder{
	color: #aaa;
}
.hc-hasplace{
	width: 7px;
    display: inline-block;
}
.hc-fold{
	height: 0px;
	overflow: hidden;
	transition: height 500ms;
	-ms-transition: height 500ms;	/* IE 9 */
	-moz-transition: height 500ms; /* Firefox */
	-webkit-transition: height 500ms; /* Safari 和 Chrome */
	-o-transition: height 500ms;
}
.hcFold{
	height: 0px!important;
}
.hc-expand-button{
	display: inline-block;
	float: right;
	color: #2a8ec0;
	transition: all 500ms;
	-ms-transition: all 500ms;	/* IE 9 */
	-moz-transition: all 500ms; /* Firefox */
	-webkit-transition: all 500ms; /* Safari 和 Chrome */
	-o-transition: all 500ms;
	margin-top: 10px;
}
.hc-expand-icon{
	display: inline-block;
	transition: all 500ms;
	-ms-transition: all 500ms;	/* IE 9 */
	-moz-transition: all 500ms; /* Firefox */
	-webkit-transition: all 500ms; /* Safari 和 Chrome */
	-o-transition: all 500ms;
	text-indent: 0px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);	/* IE 9 */
	-moz-transform: rotate(270deg); /* Firefox */
	-webkit-transform: rotate(270deg); /* Safari 和 Chrome */
	-o-transform: rotate(270deg);
}
.hcAngleReverse{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);	/* IE 9 */
	-moz-transform: rotate(90deg); /* Firefox */
	-webkit-transform: rotate(90deg); /* Safari 和 Chrome */
	-o-transform: rotate(90deg);
}
.hc-expand-text{
	display: inline-block;
	width: 70px;
}
.hcDisable-true{
	background: #aaa;
	border: 1px solid #aaa;
	color: #fff;
}
.hc-mt0{
	margin-top: 0px!important;
}
.hc-font-bold{
	font-weight: bold;
	color: #1f384d;
}
/*conainer information end*/
/*service new begin*/
.hc-servicenew-total .hc-info-name{
	padding-left: 10px;
	/*width: 200px;*/
	color: #000;
	height: 32px;
    line-height: 32px;
}
.hc-servicenew-total .hc-con-info-block{
	/*width: 300px;*/
}
.hc-servicenew-total .hc-con-info{
	line-height: 32px;
}
.hc-servicenew-total .ne-required:before{
	top: 10px;
	left: 3px;
}
.hc-instance-list{
	margin: 10px 0px;
}
.hc-col-block{
	float: left;
	width: 640px;
}
.hc-mutiple-container{
	position: relative;
	margin-bottom: -270px;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; 
}
.hc-height150{
	height: 150px !important;
}
.hc-min-height0{
	min-height: 0px !important;
}
.hc-padding-b0{
	padding-bottom: 0px;
}
/*service new end*/
/*auto flex begin*/
.hc-new-autoflex .hc-dialog-info-name{
	width: 37%;
}
.edit-form{
	text-indent: 0px;
}
.hc-info-value{
	text-indent: 0px;
}
.hc-fl-right{
	float: right;
}
/*auto flex end*/