/*tenant detail begin*/
.hc-heigh-auto{
	height: auto;
}
.hc-tenant-info-block{
	font-size: 14px;
    color: #50555a;
    width: 60%;
    display: inline-block;
    text-indent: 0px;
}
.hc-user-label{
	height: 23px;
	line-height: 23px;
	background: #f7f8fb;
	margin: 5px 5px 0px 0px;
	display: inline-block;
	padding: 0px 5px;
	text-indent: 0px;
	color: #3f7999;
}
.hc-user-add{
	background: #fff;
	color: #45b05b;
}
.hc-name-label-text{
	padding: 0px 5px;
}
.hc-name-label-icon{
	display: inline-block;
	padding: 0px 5px;
	font-size: 12px;
	vertical-align: middle;
}
.hc-tenant-pie{
	width: 50%;
    height: 250px;
    display: inline-block;
}
.hc-tenant-pie-right{
	position: relative;
	width: 45%;
	height: 180px;
	padding: 20px 0px 0px 0px;
	display: inline-block;
	left: -40px;
	float: right;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; 
	/*background: #ccc;*/
}
.hcDisplay{
	left: -20px;
	opacity: 1;
}
.hc-tenant-pie-explain{
	width: 290px;
	height: 100%;
	border: #2a8ec0 1px solid;
	color: #276d91;
	background: #fff;
}
.hc-tenant-pie-explain .hc-info-name{
	width: 43%;
	text-align: right;
}
.hc-tenant-pie-explain .hc-info-value{
	width: 56%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.hc-choose-bar{
	padding-left: 30px;
}
.hc-choose-bar-text{
	width: 140px;
	height: 20px;
	line-height: 18px;
	border: 1px solid #2a8ec0;
	color: #2a8ec0;
	display: inline-block;
	text-align: center;
	text-indent: 0px;
}
.hcBarChoosed{
	background: #2a8ec0;
	color: #fff;
}
.hc-tenant-dialog-trangle{
	position: absolute;
	top: 100px;
	left: -14px;
	width: 0px;
	height: 0px;
	border-left: 0px;
	border-bottom: 15px solid #fff;
	border-top: 15px solid #fff;
	border-right: 14px solid #2a8ec0; 
}
.hc-tenant-dialog-trangle:after{
	content: "";
	width: 0px;
	height: 0px;
	border-left: 0px;
	border-bottom: 15px solid rgba(0,0,0,0);
	border-top: 15px solid rgba(0,0,0,0);
	border-right: 14px solid #fff;
	position: absolute;
	top: -15px;
	left: 2px;
}
.hc-tenant-second{
	background: #f7f8fb;
	padding: 10px 12px;
	box-shadow: 1px 1px 10px #dcdcdc;
	overflow: hidden;
}
.hc-project-list{
	min-height: 200px;
	padding-bottom: 764px;
}
.hc-tenant-second .hc-info-block{
	width: 540px;
}
.hc-tenant-second .hc-podlist-block{
	width: 1120px;
}
.hc-tenant-second .hc-info-body{
	height: 250px;
	overflow-y: auto;
}
.hc-project-list .hc-info-body{
	height: 150px;
}
.hc-pro-info-height300{
	height: 300px !important;
	padding-bottom: 0px;
}
.hc-project-label{
	height: 32px;
	width: 230px;
	line-height: 32px;
	background: #1b5b7c;
	color: #fff;
	font-size: 14px;
	padding: 0px 10px;
	box-shadow: 0px -1px 3px #344b5e;
}
.hc-project-label-text{
	display: inline-block;
	width: 200px;
	text-align: center;
}
.hc-mutiple-project{
	/*position: absolute;*/
	position: relative;
	margin-bottom: -705px;
	z-index: 1;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; 
}
.hcProExpand{
	margin-bottom: 10px;
}
.hc-resource-edit{
	float: right;
	color: #2a8dbf;
}
.hc-project-add{
	float: right;
	color: #2da949;
}
.hc-member-label{
	border-bottom: 1px solid #3f7999;
	width: 90px;
	position: relative;
}
.hc-member-label-icon{
	line-height: 25px;
}
.hc-project-user-add{
	color: #45b05b;
}
.hc-member-ul{
	border: 1px solid #3f7999;
	padding: 0px 5px;
	overflow: hidden;
	background: #fff;
	left: 0px;
	top: 24px;
	width: 88px;
	position: absolute;
	z-index: 1;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; 
}
.height0{
	height: 0px !important;
	border: 1px solid #f7f8fb;
}
.hc-over-visible{
	overflow:visible !important;
}
.hc-member-li-name{
	overflow: hidden;
	display: inline-block;
	width: 70px;
}
.hc-pd-bt0{
	padding-bottom: 0px;
}
.hc-mar-bt0{
	margin-bottom: 0px;
}
.hc-height130{
	height: 130px;
	overflow-y: auto;
}
.hc-width-p5{
	width: 5%;
	font-size: 12px;
}
/*tenant detail end*/
/*project add begin*/
.hc-pro-ul .hc-info-list{
	padding-left: 15px;
}
.hc-text-center{
	text-align: center !important;
}
.hc-color-green{
	color: #2da949;
}
.hc-color-red{
	color: #df675d;
}
.hc-back-white{
	background: #fff;
}
/*project add end*/