<div class="service-all">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'monitorProviderList'|translate" class="hc-topbar-name"></span>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div class="service-table-div mt0">
			<table class="service-table">
				<thead class="service-table-head">
					<tr>
						<td class="service-choose-td"><!-- <input class="service-choose-box" id="choose-all" type="checkbox" ng-model="checkboxAll" --></td>
						<td ng-bind="'type'|translate"></td>
						<td ng-bind="'address'|translate"></td>
						<td ng-bind="'version'|translate"></td>
					</tr>
				</thead>
				<tbody  class="service-table-body">
					<tr ng-repeat="item in list">
						<td class="service-choose-td"><!-- <input class="service-choose-box" type="checkbox" ng-model="service.checkbox"> --></td>
						<td class="service-name" ng-bind="item.name">
						</td>
						<td ng-bind="item.ip"></td>
						<td ng-bind="item.version"></td>
					</tr>
				</tbody>
			</table>
			<span ng-show="!list||list.length==0" class="nomore">
			</span>
		</div>
		<!-- <div class="service-page">
			<ul class="service-page-ul">
  				<li><a href="#">上一页</a></li>
  				<li class="active"><a href="#">1</a></li>
  				<li><a href="#">2</a></li>
  				<li><a href="#">3</a></li>
  				<li><a href="#">4</a></li>
  				<li><a href="#">5</a></li>
  				<li><a href="#">下一页</a></li>
  				<li>共 <span>5</span> 条/ <span>1</span> 页 </li>
			</ul>
		</div> -->
	</div>
	
</div>