<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.harmonycloud.dao.user.customs.CustomUserMapper">

    <resultMap id="userMap" type="com.harmonycloud.dao.user.bean.User">
        <id property="id" column="uuid"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="isAdmin" column="isAdmin"/>
        <result property="isMachine" column="isMachine"/>
        <result property="comment" column="comment"/>
        <result property="pause" column="pause"/>
        <result property="tokenCreate" column="token_create" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <resultMap id="userTenantMap" type="com.harmonycloud.dao.user.bean.User">
        <id property="id" column="uuid"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="isAdmin" column="isAdmin"/>
        <result property="isMachine" column="isMachine"/>
        <result property="pause" column="pause"/>
        <result property="tokenCreate" column="token_create" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <select id="findByUsername" resultMap="userMap" parameterType="java.lang.String">
        select uuid, username, password, token, token_create,create_time,email,real_name,isAdmin,isMachine,comment,pause
        from user where username=#{username}
    </select>

    <insert id="addUser" parameterType="com.harmonycloud.dao.user.bean.User">
		insert into user(uuid,username,password,create_time,real_name,update_time,email,comment,pause)
		values(#{id},#{username},#{password},#{createTime},#{realName},#{updateTime},#{email},#{comment},#{pause})
	</insert>

    <delete id="deleteUserByName" parameterType="java.lang.String">
		delete from user where username=#{username}
	</delete>

    <update id="updatePassword">
		update user set password = #{password,jdbcType=VARCHAR} where username=#{username,jdbcType=VARCHAR}
	</update>

    <select id="findUserByEmail" parameterType="java.lang.String" resultType="com.harmonycloud.dao.user.bean.User">
		select uuid,username,password,token,create_time,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user where email = #{email}
	</select>

    <select id="listUsers" resultMap="userTenantMap">
		select uuid,username,password,token,create_time,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user;
	</select>

    <select id="findUserByToken" resultType="com.harmonycloud.dao.user.bean.User" parameterType="java.lang.String">
		select uuid,username,password,token,create_time,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user where token = #{token}
	</select>

    <select id="listMachineUsers" resultType="com.harmonycloud.dao.user.bean.User">
		select uuid,username,password,token,create_time,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user where isMachine = '1';
	</select>
    <select id="getAllUserPausedList" resultType="com.harmonycloud.dao.user.bean.User">
        select uuid,username,password,token,create_time ,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user where pause = 'pause';
    </select>
    <select id="getAllUserNormalList" resultType="com.harmonycloud.dao.user.bean.User">
        select uuid,username,password,token,create_time ,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user where pause = 'normal';
    </select>
    <select id="listAdmin" resultType="com.harmonycloud.dao.user.bean.User">
		select uuid,username,password,token,create_time,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user where isAdmin = '1';
	</select>
    <select id="getActiveUserList" resultMap="userMap" parameterType="com.harmonycloud.dao.user.bean.User">
        select 'false' as QUERYID,uuid,username,password,token,create_time,token_create,isAdmin,update_time,email,real_name,isMachine,comment,pause from user WHERE ( token_create between #{leftTime} and #{rightTime}  and token_create is not null);
    </select>

    <select id="updateUser" parameterType="com.harmonycloud.dao.user.bean.User">
        update user
        <set >
             <if test="id!=null" >
		        uuid=#{id},
		     </if>
		     <if test="password!=null">password=#{password},</if>
            <if test="token!=null">token=#{token,jdbcType=VARCHAR},</if>
            <if test="createTime!=null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="tokenCreate!=null">token_create=#{tokenCreate,jdbcType=TIMESTAMP},</if>
            <if test="isAdmin!=null">isAdmin=#{isAdmin},</if>
            <if test="updateTime!=null">update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="email!=null">email=#{email,jdbcType=VARCHAR},</if>
            <if test="realName!=null">real_name=#{realName},</if>
            <if test="isMachine!=null">isMachine=#{isMachine},</if>
            <if test="comment!=null">comment=#{comment,jdbcType=VARCHAR}</if>
            <if test="pause!=null">pause=#{pause,jdbcType=VARCHAR}</if>
        </set>
        WHERE username=#{username}
    </select>
</mapper>