<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="'addUser'|translate" class="hc-topbar-name"></span>
		</div>
	</div>
	
	<div class="hc-detail-outer">
		<div class="hc-detail-innerwrap">
			<form name="name_form" class="noneMargin">
				<ul class="service-information-ul">
					<li class="service-information-list">
						<div class="service-informantion-name padLeft10 service-list">
							<span class="ne-required">{{'username'|translate}}：</span>
						</div>
						<input type="input" name="userName" class="service-new-input" ng-model="userName" ng-pattern="namePattern" required>
							<span ng-show="name_form.userName.$dirty && name_form.userName.$error.required" class="error">{{'fillInUserName'|translate}}</span>
							<span ng-show="name_form.userName.$invalid && !name_form.userName.$error.required" class="error">{{'wrongUserName'|translate}}</span>
					</li>
					<li class="service-information-list">
						<div class="service-informantion-name padLeft10 service-list">
							<span class="ne-required">{{'password'|translate}}：</span>
						</div>
							<input type="password" name="Password" class="service-new-input" ng-model="Password">
					</li>
					<li class="service-information-list">
						<div class="service-informantion-name padLeft10 service-list">
							<span class="ne-required">{{'email'|translate}}：</span>
						</div>
						<input type="input" name="Email" class="service-new-input" ng-model="Email" ng-pattern="emailPattern" required>
							<span ng-show="name_form.Email.$dirty && name_form.Email.$error.required" class="error">{{'fillInEmailName'|translate}}</span>
							<span ng-show="name_form.Email.$invalid && !name_form.Email.$error.required" class="error">{{'wrongEmailName'|translate}}</span>
					</li>
					<li class="service-information-list">
						<div class="service-informantion-name padLeft10 service-list">
							<span class="ne-required">{{'RealName'|translate}}：</span>
						</div>
						<input type="input" name="realName" class="service-new-input" ng-model="realName" ng-pattern="namePattern" required>
							<span ng-show="name_form.realName.$dirty && name_form.realName.$error.required" class="error">{{'fillInUserName'|translate}}</span>
							<span ng-show="name_form.realName.$invalid && !name_form.realName.$error.required" class="error">{{'wrongUserName'|translate}}</span>
					</li>
					<li class="service-information-list">
						<span class="service-informantion-name padLeft10 service-list">{{'comment'|translate}} ：</span>
						<textarea class="remark-input" ng-model="Comment"></textarea>
					</li>
					<li class="service-information-list service-information-button">
						<button class="service-new-button service-new-create disabled-{{disable()}} margin-left1300" ng-click="save()" ng-disabled="disable()">{{'saveUser'|translate}}</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>