 <div class="service-detial role-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="name" class="hc-topbar-name"></span>
		</div>
		<div class="hc-action-wrap">
			
			<div class="hc-topbar-block hc-button-block  hc-p0-ml10">
				<button class="hc-button hc-button-green hc-button-green-heavy" ng-click="choose() && closeThisDialog()"  ng-bind="'updateUser'|translate"></button>
			</div>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div class="hc-detail-innerwrap">	
		 	<ul class="service-information-ul" style="width: 30%">
		 		<li class="hc-info-list">
					<span class="hc-info-name">{{'username'|translate}} ：</span>
					<span class="hc-info-value">{{user.username}}</span>
				</li>
				<li class="hc-info-list">
					<span class="hc-info-name">{{'realname'|translate}} ：</span>
					<span class="hc-info-value">{{user.realname}}</span>
				</li>
				<li class="hc-info-list">
					<span class="hc-info-name">{{'email'|translate}} ：</span>
					<span class="hc-info-value">{{user.email}}</span>
				</li>
				<li class="hc-info-list">
					<span class="hc-info-name">{{'createtime'|translate}} ：</span>
					<span class="hc-info-value">{{user.creation_time | transTime}}</span>
				</li>
				<li class="hc-info-list hc-heigh-auto">
					<span class="hc-info-name">{{'project'|translate}} ：</span>
					<div class="hc-tenant-info-block" style="overflow-y: auto;">
						<div class="hc-con-info" ng-repeat="rolebinding in rolebindingList track by $index">
							<div class="hc-con-value hc-width-p30" title="{{'project'|translate}}">
								<a ui-sref="projectDetail({id:rolebinding.tenantId,name:rolebinding.namespace})">{{rolebinding.namespace | harborName}}</a>
							</div>
							<div class="hc-con-value hc-width-p30" title="{{'Tenantname'|translate}}">
								<a ui-sref="tenantDetail({id:rolebinding.tenantId})">{{rolebinding.tenantName | harborName}}</a>
							</div>
							<div class="hc-con-value hc-width-p30" title="{{'rolename'|translate}}">
								<a ng-click="roleDetail(rolebinding.role)">{{rolebinding.role}}</a>
							</div>
						</div>
						<!-- <div class="hc-project-user-add hc-user-label pointer " ng-click="addHarborUser(pindex)">
							{{'add'|translate}}
						</div> -->
					</div>
				</li>
				<li class="hc-info-list hc-heigh-auto">
					<span class="hc-info-name">{{'rolebind'|translate}} ：</span>
					<div class="hc-tenant-info-block" style="overflow-y: auto;">
						<div class="hc-con-info" ng-repeat="role in rolegetList track by $index">
							<div class="hc-con-value hc-width-p30" title="{{'harborname'|translate}}">
								<a ui-sref="tenantHarborDetail({tenantid:role.tenantid,harborid:role.project})">{{role.projectName | harborName}}</a>
							</div>
							<div class="hc-con-value hc-width-p30" title="{{'Tenantname'|translate}}">
								<a ui-sref="tenantDetail({id:role.tenantid})">{{role.tenantName | harborName}}</a>
							</div>
							<div class="hc-con-value hc-width-p30" title="{{'roleName'|translate}}">
								<span ng-if="role.role == 'harbor_project_developer'">Pull/Push</span>
								<span ng-if="role.role != 'harbor_project_developer'">Pull</span>
							</div>
						</div>
						<!-- <div class="hc-project-user-add hc-user-label pointer " ng-click="addHarborUser(pindex)">
							{{'add'|translate}}
						</div> -->
					</div>
				</li>
				<!-- <li class="service-information-list">
					<span class="service-informantion-name">{{'project'|translate}} ：</span>
	 				<div class="service-informantion-label">
			 			<table class="informantion-label-table">
							<tr class="hc-info-head">
								<td>{{'project'|translate}}</td>
								<td>{{'Tenantname'|translate}}</td>
								<td>{{'rolename'|translate}}</td>
							</tr>
		 					<tr class="port-content" ng-repeat="rolebinding in rolebindingList track by $index">
								<td class="service-name"><a ui-sref="projectDetail({id:rolebinding.tenantId,name:rolebinding.namespace})">{{rolebinding.namespace | harborName}}</a></td>
								<td class="service-name"><a ui-sref="tenantDetail({id:rolebinding.tenantId})">{{rolebinding.tenantName | harborName}}</a></td>
								<td class="service-name"><a ng-click="roleDetail(rolebinding.role)">{{rolebinding.role}}</a></td>
		 					</tr>
			 			</table>
		 			</div>
	 			</li> -->
<!-- 
	 			<li class="service-information-list">
					<span class="service-informantion-name">{{'rolebind'|translate}} ：</span>
	 				<div class="service-informantion-label">
			 			<table class="informantion-label-table">
							<tr class="port-name">
								<td>{{'harborname'|translate}}</td>
								<td>{{'Tenantname'|translate}}</td>
								<td>{{'rolename'|translate}}</td>
								
							</tr>
		 					<tr class="port-content" ng-repeat="role in rolegetList track by $index">
		 					
		 						<td class="service-name"><a ui-sref="tenantHarborDetail({tenantid:role.tenantid,harborid:role.project})">{{role.projectName | harborName}}</a></td>
		 						<td class="service-name"><a ui-sref="tenantDetail({id:role.tenantid})">{{role.tenantName | harborName}}</a></td>
								<td class="service-name">{{role.role | harborName}}</td>
								
		 					</tr>
			 			</table>
		 			</div>
	 			</li> -->
	 		</ul>
	 		<!-- <button class="function-button refresh" ui-sref="userUpdate({userName:user.username})" name="update" ng-bind="'update'|translate"></button> -->
	 		<!-- <button class="function-button refresh" ng-click="userUpdate()" name="update" ng-bind="'update'|translate"></button> -->
		</div>	
	</div>
 	
 </div>