<div class="modify-container">
	<div class="modify-container-title">{{'updateUser'|translate}}</div>
	<ul class="service-information-ul">
		<li class="service-information-list">
			<div class="service-informantion-name padLeft10 service-list">
				<span>{{'username'|translate}}:</span>
			</div>
			<div class="service-informantion-name padLeft10 service-list" style="text-align: center;">
				<span>{{UserName}}</span>
			</div>
								
		</li>
		<li class="service-information-list">
			<div class="service-informantion-name padLeft10 service-list">
				<span>{{'oldPassword'|translate}} : </span>
			</div>
			<form name="name_form">
				<input type="password" name="oldPassword" ng-model="oldPassword" style="width: 190px;margin-left: 4px;">
			</form>
		</li>
		<li class="service-information-list">
			<div class="service-informantion-name padLeft10 service-list">
				<span>{{'newPassword'|translate}} : </span>
			</div>
			<form name="name_form">
				<input type="password" name="newPassword" ng-model="newPassword" style="width: 190px;margin-left: 4px">
			</form>
		</li>
		<li class="service-information-list service-information-button">
			<button class="service-new-button service-new-create" ng-click="commit()">{{'commit'|translate}}</button>
		</li>
	</ul>
</div>