<div class="service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="tenant.name" class="hc-topbar-name"></span>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div mytenant-tabs class="hc-tab-wrap"></div>
	</div>
	<!-- <div class="service-detail-title">
		<div class="back">
			<span class="icon-double-angle-left pointer" ng-click="back()"></span>
		</div>
		<div class="service-detail-text">
			<span class="service-detail-name">{{tenant.name}}</span>
		</div>
		<div mytenant-tabs></div>
	</div> -->
	<!-- <div class="service-detail-content" ui-view></div> -->
</div>	