<div class="service-new role-new" ng-class="{margintop: parent}">
	<div class="back" ng-show="!parent">
		<span class="icon-double-angle-left pointer" ng-click="back()"></span>
	</div>
	<span class="service-title" ng-bind="'Create Harbor Project For Tenant'" ng-show="!parent"></span>
	<div class="service-new-detail">
		<form name="newRole_form" class="noneMargin">
		<ul class="service-information-ul">
			<li class="service-information-list">
				<span class="service-informantion-name network-title">{{'Harbor'|translate}} ：</span>
				<div class="service-informantion-label">
					<table class="informantion-label-table network-table">
						<tr class="port-name">
							<td>{{'Harborname'|translate}}</td>
							<td>{{'creationTime'|translate}}</td>
							<td class="pointer edit-td" ng-click="newHarbor()"><span class="icon-plus green"></span></td>
						</tr>
						<tr class="port-content" ng-repeat="h in harborList">
							<td class="port">
								<span class="pointer" ng-show="!parent">
									{{h.name|harborName}}
								</span>
								<span ng-show="parent" class="pointer">
									<a ui-sref="mytenantHarborDetail({tenantid:tenantid,harborid:h.harborid})">{{h.name|harborName}}</a>
								</span>
							</td>
							<td class="port">
								<span>
									{{h.time|transTime}}
								</span>
							</td>
							<td class="edit-td">
								<a delete-confirm="deleteHarbor($index)" class="remove ico-cross pointer"></a>
							</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="service-information-list service-information-button" ng-show="!parent">
				<button class="service-new-button service-new-create disabled-{{disable()}} margin-left1300" ui-sref="tenantVolume({id:tenantid})">Next</button>
			</li>
		</ul>
		</form>
	</div>
</div>