<div class="service-new role-new" ng-class="{margintop: parent}">
	<span class="service-title" ng-bind="'Create Network For Tenant'" ng-show="!parent"></span>
	<div class="service-new-detail">
		<form name="newRole_form" class="noneMargin">
		<ul class="service-information-ul">
			<li class="service-information-list">
				<span class="service-informantion-name network-title">{{'Network'|translate}} ：</span>
				<div class="service-informantion-label">
					<table class="informantion-label-table network-table">
						<tr class="port-name">
							<td>{{'Networkname'|translate}}</td>
							<td>{{'creationTime'|translate}}</td>
							<td>{{'annotation'|translate}}</td>
							<td class="pointer edit-td" ng-click="newNetwork()"><span class="icon-plus green"></span></td>
						</tr>
						<tr class="port-content" ng-repeat="n in networkList">
							<td class="port">
								<span class="pointer">
									<a ui-sref="tenantNetworkDetail({tenantid:tenantid,networkid:n.networkid})">{{n.name}}</a>
								</span>
							</td>
							<td class="port">
								<span>
									{{n.time}}
								</span>
							</td>
							<td class="port">
								<span>{{n.annotation}}</span>
							</td>
							<td class="edit-td">
								<a delete-confirm="delete($index)" class="remove ico-cross pointer"></a>
							</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="service-information-list service-information-button"  ng-show="!parent">
				<button class="service-new-button service-new-create disabled-{{disable()}} margin-left1300" ui-sref="tenantProject({id:tenantid})">Next</button>
			</li>
		</ul>
		</form>
	</div>
</div>