<div class="hc-service-information clearfix">
	<div class="clearfix">
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'Project'|translate"></span>
			</div>
			<div class="hc-info-body">
				<table class="hc-info-table hc-podlist-table">
					<thead>
						<tr class="hc-info-table-head">
							<td>{{'name'|translate}}</td>
							<td>{{'service'|translate}}</td>
							<td>{{'Member'|translate}}</td>
							<td>{{'creationTime'|translate}}</td>
							<td>{{'annotation'|translate}}</td>
							<td class="pointer edit-td hc-text-center" ng-click="newProject()"><span class="icon-plus green"></span></td>
						</tr>
					</thead>
					<tbody class="hc-info-table-body">
						<tr class="hc-info-table-row" ng-repeat="p in projectList | orderBy: '-creationTimestamp'">
							<td>
								<a ui-sref="tenantProjectDetail({id:tenantid,name:p.name})">{{p.name|harborName}}</a>
							</td>
							<td ng-bind="p.serviceNumber"></td>
							<td ng-bind="p.memberNumber"></td>
							<td ng-bind="p.time|transTime"></td>
							<td ng-bind="p.annotation"></td>
							<td class="edit-td hc-text-center">
								<a delete-confirm="deleteProject(p)" class="remove ico-cross pointer"></a>
								<a ng-click="changeProject(p)" class="instant-edit ico-cog pointer"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'Volume'|translate"></span>
			</div>
			<div class="hc-info-body">
				<table class="hc-info-table hc-podlist-table">
					<thead>
						<tr class="hc-info-table-head">
							<td>{{'Volumename'|translate}}</td>
							<td>{{'type'|translate}}</td>
							<td>{{'capacity'|translate}}</td>
							<td>{{'Multiple'|translate}}</td>
							<td>{{'Usage'|translate}}</td>
							<td>{{'readOnly'|translate}}</td>
							<td>{{'creationTime'|translate}}</td>
							<td class="pointer edit-td" ng-click="newVolume()"><span class="icon-plus green"></span></td>
						</tr>
					</thead>
					<tbody class="hc-info-table-body">
						<tr class="hc-info-table-row" ng-repeat="v in volumeList | orderBy: '-time'">
							<td ng-bind="v.name"></td>
							<td ng-bind="v.type"></td>
							<td ng-bind="v.capacity|newmemoryFormat"></td>
							<td ng-bind="v.multiple"></td>
							<td>
								<span ng-if="!v.usage || v.usage.lngth==0">none</span>
								<span ng-if="v.usage" ng-bind="v.usage"></span>
							</td>
							<td ng-bind="v.readOnly"></td>
							<td ng-bind="v.time|transTime"></td>
							<td class="edit-td">
								<a delete-confirm="deleteVolume(v)" class="remove ico-cross pointer"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'Harbor'|translate"></span>
			</div>
			<div class="hc-info-body">
				<table class="hc-info-table hc-podlist-table">
					<thead>
						<tr class="hc-info-table-head">
							<td>{{'Harborname'|translate}}</td>
							<td>{{'creationTime'|translate}}</td>
							<td class="pointer edit-td" ng-click="newHarbor()"><span class="icon-plus green"></span></td>
						</tr>
					</thead>
					<tbody class="hc-info-table-body">
						<tr class="hc-info-table-row" ng-repeat="h in harborList | orderBy: '-time'">
							<td>
								<a ui-sref="tenantHarborDetail({tenantid:tenantid,harborid:h.harborid})">{{h.name|harborName}}</a>
							</td>
							<td ng-bind="h.time|transTime"></td>
							<td class="edit-td">
								<a delete-confirm="deleteHarbor(h)" class="remove ico-cross pointer"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'Network'|translate"></span>
			</div>
			<div class="hc-info-body">
				<table class="hc-info-table hc-podlist-table">
					<thead>
						<tr class="hc-info-table-head">
							<td>{{'Networkname'|translate}}</td>
							<td>{{'tenant'|translate}}</td>
							<td class="pointer edit-td" ng-click="newNetwork()"><span class="icon-plus green"></span></td>
						</tr>
					</thead>
					<tbody class="hc-info-table-body">
						<tr class="hc-info-table-row" ng-repeat="n in networkList | orderBy: '-name'">
							<td>
								<a ui-sref="tenantNetworkDetail({tenantid:tenantid,networkid:n.networkid})">{{n.name}}</a>
							</td>
							<td ng-bind="n.tenant.name"></td>
							<td class="edit-td">
								<a delete-confirm="deleteNetwork(n)" class="remove ico-cross pointer"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>