<div class="hc-service-detail">
	<div class="hc-detail-topbar" ng-show="!parent">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="'Create Volume For Tenant'|translate" class="hc-topbar-name"></span>
		</div>
		<div class="hc-topbar-block hc-button-block hc-flright">
			<button class="hc-button hc-button-green hc-button-green-heavy" ui-sref="tenant" ng-bind="'Done'|translate"></button>
		</div>
	</div>
	<div ng-class="{'hc-detail-outer':!parent}">
		<div class="hc-detail-innerwrap">
			<form name="newRole_form" class="noneMargin">
				<ul class="service-information-ul">
					<li class="service-information-list">
						<span class="service-informantion-name network-title">{{'Volume'|translate}} ：</span>
						<div class="service-informantion-label">
							<table class="informantion-label-table network-table">
								<tr class="port-name">
									<td>{{'Volumename'|translate}}</td>
									<td>{{'type'|translate}}</td>
									<td>{{'capacity'|translate}}</td>
									<td>{{'Multiple'|translate}}</td>
									<td>{{'Usage'|translate}}</td>
									<td>{{'readOnly'|translate}}</td>
									<td>{{'creationTime'|translate}}</td>
									<td class="pointer edit-td" ng-click="newVolume()"><span class="icon-plus green"></span></td>
								</tr>
								<tr class="port-content" ng-repeat="v in volumeList | orderBy: '-time'">
									<td class="port">
										<span>
											<!-- <a ui-sref="tenantVolumeDetail({id:tenantid,name:v.name})"> -->{{v.name}}<!-- </a> -->
										</span>
									</td>
									<td class="port">
										<span>{{v.type}}</span>
									</td>
									<td class="port">
										<span>{{v.capacity|newmemoryFormat}}</span>
									</td>
									<td class="port">
										<span>{{v.multiple}}</span>
									</td>
									<td class="port">
										<span ng-if="!v.usage || v.usage.lngth==0">none</span>
										<span ng-if="v.usage" ng-bind="v.usage"></span>
									</td>
									<td class="port">
										<span>{{v.readOnly}}</span>
									</td>
									<td class="port">
										<span>
											{{v.time|transTime}}
										</span>
									</td>
									<td class="edit-td">
										<a delete-confirm="deleteVolume(v)" class="remove ico-cross pointer"></a>
									</td>
								</tr>
							</table>
						</div>
					</li>
					<!-- <li class="service-information-list service-information-button" ng-show="!parent">
						<button class="service-new-button service-new-create disabled-{{disable()}} margin-left1300" ui-sref="tenant">done</button>
					</li> -->
				</ul>
			</form>	
		</div>
	</div>
</div>