<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="'Add Tenant'|translate" class="hc-topbar-name"></span>
		</div>
		<div class="hc-topbar-block hc-button-block hc-flright">
			<button class="hc-button hc-button-green hc-button-green-heavy" ng-click="save()" ng-class="{'hc-button-disable':disable()}" ng-disabled="disable()" ng-bind="'Next'|translate"></button>
		</div>
	</div>

	<div class="hc-detail-outer">
		<div class="hc-detail-innerwrap">
			<form name="tenant_form" class="noneMargin">
				<ul class="service-information-ul">
					<li class="service-information-list">
						<div class="service-informantion-name padLeft10 service-list">
							<span class="ne-required">{{'Tenantname'|translate}}：</span>
						</div>
						<input type="input" name="name" class="service-new-input" ng-model="name" ng-pattern="namePattern" required>
							<span ng-show="tenant_form.name.$dirty && tenant_form.name.$error.required" class="error">{{'fillInTenantName'|translate}}</span>
							<span ng-show="tenant_form.name.$invalid && !tenant_form.name.$error.required" class="error">{{'wrongTenantName'|translate}}</span>
					</li>
					<li class="service-information-list overflow-visible">
						<div class="service-informantion-name padLeft10 service-list">
							<span  class="ne-required">{{'Admin'|translate}}：</span>
						</div>
						<div class="resource-all">
							<div ng-repeat="user in userList" ng-init="index = $index" class="user-label-block">
								<div class="user-label pointer" ng-class="{userChoosed:user.choose}"  ng-click="chooseUser($index)">
									<span ng-bind="user.name"></span>
								</div>
							</div>
						</div>
					</li>
					<li class="service-information-list">
						<span class="service-informantion-name padLeft10 service-list">{{'annotation'|translate}} ：</span>
						<textarea class="remark-input" ng-model="annotation"></textarea>
					</li>
				</ul>
			</form>	
		</div>
		
	</div>
</div>