<div class="hc-service-detail">
	<div class="hc-detail-topbar" ng-show="!parent">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="'Create Project For Tenant'|translate" class="hc-topbar-name"></span>
		</div>
		<div class="hc-topbar-block hc-button-block hc-flright">
			<button class="hc-button hc-button-green hc-button-green-heavy" ui-sref="tenantHarbor({id:tenantid})" ng-bind="'Next'|translate"></button>
		</div>
	</div>

	<div ng-class="{'hc-detail-outer':!parent}">
		<div class="hc-detail-innerwrap">
			<form name="newRole_form" class="noneMargin">
				<ul class="service-information-ul">
					<li class="service-information-list">
						<span class="service-informantion-name network-title">{{'Project'|translate}} ：</span>
						<div class="service-informantion-label">
							<table class="informantion-label-table network-table">
								<tr class="port-name">
									<td>{{'name'|translate}}</td>
									<td>{{'creationTime'|translate}}</td>
									<td>{{'annotation'|translate}}</td>
									<td class="pointer edit-td" ng-click="newProject()"><span class="icon-plus green"></span></td>
								</tr>
								<tr class="port-content" ng-repeat="p in projectList | orderBy: '-time'">
									<td class="port">
										<span class="pointer">
											<a ui-sref="tenantProjectDetail({id:tenantid,name:p.name})">{{p.name|harborName}}</a>
										</span>
									</td>
									<td class="port">
										<span>
											{{p.time|transTime}}
										</span>
									</td>
									<td class="port">
										<span>{{p.annotation}}</span>
									</td>
									<td class="edit-td">
										<a delete-confirm="deleteProject(p)" class="remove ico-cross pointer"></a>
										<a ng-click="changeProject(p)" class="instant-edit icon-pencil pointer"></a>
									</td>
								</tr>
							</table>
						</div>
					</li>
<!-- 					<li class="service-information-list service-information-button" ng-show="!parent">
						<button class="service-new-button service-new-create disabled-{{disable()}} margin-left1300" ui-sref="tenantHarbor({id:tenantid})">Next</button>
					</li> -->
				</ul>
			</form>	
		</div>
		
	</div>
</div>