<div class="modify-container alarm-add">
	<div class="main-title">{{'Monitor Alarm'|translate}}</div>

	<p class="alarm-title">
		<span ng-bind="'alarmRules'|translate"></span>
		<span ng-bind="'add'|translate" class="fr green pointer" ng-click="add()"></span>
	</p>
	<div>
		
		<table class="service-table">
				<thead class="service-table-head">
					<tr>
					
						<td class="service-name word-break" ng-bind="'name'|translate" class="center"></td>
						<td ng-bind="'measurement'|translate" class="center"></td>
						<td ng-bind="'threshold'|translate" class="center"></td>
						<td ng-bind="'alarmType'|translate" class="center"></td>
						<td ng-bind="'email'|translate" class="w200 center"></td>
						<td ng-bind="'Actions'|translate" class="center"></td>
					</tr>
				</thead>
				<tbody  class="service-table-body ">
					<tr ng-repeat="alarm in alarmList">
						<td class="service-name word-break center" ng-bind="alarm.process_name"></td>
						<td  ng-bind="alarm.measurement" class="center"></td>
						<td ng-bind="alarm.threshold_value + '%'" class="center">
						</td>

						<td ng-bind="alarm.alarm_type" class="center">
						</td>
						<td class="w200 word-break center">
							<p ng-repeat="contact in alarm.alarm_contact track by $index" ng-bind="contact"></p>
						</td>
						<td class="center">
							<span class="ico-cross red pointer" ng-click="deleteItem(alarm,$index)"></span>
						</td>
					</tr>
					<tr ng-show="isAdd">
						<td class="service-name word-break">
							<select ng-model="currentModule" class="w120">
								<option ng-repeat="item in moduleList track by $index" ng-bind="item" value="{{item}}"></option>
							</select>
						</td>
						<td>
							<select ng-model="currentMeasurement" class="w120">
								<option ng-repeat="item in metricList track by $index" ng-bind="item" value="{{item}}"></option>
							</select>
						</td>
						<td>
							<div sp-number sp-data="currentRate" sp-max="100" sp-min="1" sp-dirty="isDirty" sp-filter="cpuRate"></div>
						</td>

						<td ng-bind="'email'" class="center">
						</td>
						<td class="w200 word-break">
							<input type="text" ng-model="currentContact" class="contact-wrap" />
						</td>
						<td class="center">
							<span class="mr10 green pointer ico-checkmark" ng-click="addItem()"></span>
							<span class="red pointer ico-cancel" ng-click="cancelAdd()"></span>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class="alarm-action influx">
		<a class="button" ng-click="saveAlarm()">关闭</a>
	</div>

</div>