<div class="audit-admin">
	<div class="hc-detail-topbar clearfix">
		<div class="hc-topbar-block">
			<span ng-bind="'userAudit'|translate" class="hc-topbar-name"></span>
		</div>
		<div class="audit-search-div hc-fl-right">
			<div class="audit-input-wrap">
				<label ng-bind="('accessUser' | translate)+':'"></label>
				<select ng-model='selected.user'>
					<option  value="">all</option>
					<option ng-repeat='user in userList' value="{{user}}" style="margin-left: 8px" ng-bind="user"></option>
				</select>
			</div>
			<div class="audit-input-wrap">
				<label ng-bind="('operation' | translate)+':'"></label>
				<select ng-model='selected.operation'>
					<option  value="">all</option>
					<option ng-repeat='operation in operationList' value="{{operation}}" style="margin-left: 8px" ng-bind="operation"></option>
				</select>
			</div>
			<div class="audit-input-wrap" ng-if="select.out != 1">
				<label ng-bind="('module' | translate)+':'"></label>
				<select ng-model='selected.module' class="choose" >
					<option  value="">all</option>
					<option ng-repeat='module in moduleList' value="{{module}}" style="margin-left: 8px" ng-bind="module"></option>
				</select>
			</div>
			<div class="audit-input-wrap" ng-if="select.out != 1">
				<label ng-bind="('params' | translate)+':'"></label>
				<select ng-model='selected.paramType' class="choose" >
					<option  value="">all</option>
					<option ng-repeat='paramType in paramTypeList' value="{{paramType}}" style="margin-left: 8px" ng-bind="paramType"></option>
				</select>
				<select ng-model='selected.param' class="choose" >
					<option  value="">all</option>
					<option ng-repeat='param in paramList[selected.paramType]' value="{{param}}" style="margin-left: 8px" ng-bind="(param | harborName)"></option>
				</select>
			</div>
			<div class="audit-input-wrap" ng-if="select.out != 1">
				<label ng-bind="('accessTime' | translate)+':'"></label>
				<input type="text" date-picker ng-model='selected.beginTime' class="choose" >
				<input type="text" date-picker ng-model='selected.endTime' class="choose" >
			</div>

			<div class="audit-input-wrap">
				<Button ng-click="search()" class="hc-button hc-button-black" ng-bind="'search'|translate"></Button>
			</div>
		</div>
	</div>


	<div class="hc-detail-outer clearfix">
		<div class="hc-container hc-detail-inner">
		</div>

		<div class="service-table-div service-list-block">
			<table class="service-table">
				<thead class="service-table-head">
					<tr>
						<td class="audit-padding-td"></td>
						<td>{{'accessUser'|translate}}</td>
						<td>{{'operation'|translate}}</td>
						<td>{{'accessNamespace'|translate}}</td>
						<td>{{'accessTenantName'|translate}}</td>
						<td>{{'url'|translate}}</td>
<!-- 						<td>{{'params'|translate}}</td>
 -->					<td>{{'accessTime'|translate}}</td>
					</tr>
				</thead>
				<tbody  class="service-table-body">
					<tr ng-repeat="audit in auditList">
						<td class="audit-padding-td"></td>
						<td>{{audit.user}}</td>
						<td>{{audit.operation}}</td>
						<td>{{audit.namespace|harborName}}</td>
						<td>{{audit.tenantname}}</td>
						<td>{{audit.url}}</td>
<!-- 						<td>{{audit.param}}</td>
 -->					<td>{{audit.time | transTime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="tcdPageCode" pager current-page="myPage.currentPage" page-count="myPage.pageCount" search="search()">
	</div>
</div>