<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestService" >
    <test name="serviceTest"   >
        <packages>
            <package name="com.harmonycloud.service.test.application" />
            <package name="com.harmonycloud.service.test.cluster" />
            <package name="com.harmonycloud.service.test.storageClass" />
            <package name="com.harmonycloud.service.test.dataprivilege" />
            <package name="com.harmonycloud.service.test.user" />
            <package name="com.harmonycloud.service.test.tenant" />
            <package name="com.harmonycloud.service.test.platform.service.ci" />
            <package name="com.harmonycloud.service.test.system" />
        </packages>
    </test>

</suite>