<div class="initial-back">
	<div class="out-initial">
		<div su-slider class="slider-block">
			
		</div>
		<div class="slider-bar">
			<ul class="bar-ul">
				<li class="bar-li" ng-class="{nowpage:suNow == 0}">
					<div class="bar-dot"></div>
				</li>
				<li class="bar-li" ng-class="{nowpage:suNow == 1}">
					<div class="bar-dot"></div>
				</li>
				<li class="bar-li" ng-class="{nowpage:suNow == 2}">
					<div class="bar-dot"></div>
				</li>
				<!-- <li class="bar-li" ng-class="{nowpage:suNow == 3}">
					<div class="bar-dot"></div>
				</li> -->
			</ul>
		</div>
	</div>
</div>