<div>
	<div class="initial-title" ng-bind="'Cluster Role Initial'"></div>
	<div>
		<div class="initial-button-div">
			<button ng-bind="'Reset To Default'" class="slid-button initial-button" ng-click="initRole()"></button>
		</div>
		<!-- <div> -->
		<div class="service-table-div initial-table">
			<div class="ne-table">
				<div class="thead">
					<div class="tr">
						<div class="td" style="width: 2.5%">
							
						</div>
						<div class="td font14" style="width: 25%" ng-bind="'name'|translate"></div>
						<div class="td font14" style="width: 25%" ng-bind="'type'|translate"></div>
						<div class="td font14" style="width: 30%" ng-bind="'creationTime'|translate"></div>
						<div class="td pointer" style="width: 5%"></div>
					</div>
				</div>
				<div class="tbody">
					<div class="tr role-block" ng-repeat="role in cRoleAll">
						<div class="td pointer" style="width: 2.5%">
							
						</div>
						<div class="td pointer font14" style="width: 25%" cl-width='50' ng-bind="role.name"></div>
						<div class="td pointer font14" style="width: 25%" ng-bind="role.type"></div>
						<div class="td pointer" style="width: 30%" ng-bind="role.time|transTime"></div>
						<div class="td pointer" style="width: 5%">
							<a delete-confirm="deleteCRole(role)" class="remove ico-cross pointer"></a>
						</div>
					</div>
				</div>
			</div>

			<span ng-show="(!cRoleAll||cRoleAll.length==0)" class="nomore">
				Sorry,don't have Role yet.Please initial first.
			</span>
		</div>
	</div>
</div>