<div class="service-information">
	<ul class="service-information-ul">
		<li class="service-information-list">
			<div class="service-informantion-label" style="width: 80%;">
				<table class="informantion-label-table" style="width: 100%;">
					<tr class="port-name">
						<td>{{'name'|translate}}</td>
						<td>{{'state'|translate}}</td>
						<td>{{'label'|translate}}</td>
						<td>{{'version'|translate}}</td>
						<td>{{'instanceCount'|translate}}</td>
						<td>{{'creationTime'|translate}}</td>
					</tr>
					<tr class="port-content" ng-repeat="service in serviceList">
						<td>
							<a ui-sref="projectService({name:service.name,namespace:service.namespace})">{{service.name}}</a>
						</td>
						<td ng-show="service.status==0">
							{{'stopped'|translate}}
							&nbsp
							<span class="state-icon icon-circle" style="color: red;"></span>
						</td>
						<td ng-show="service.status==1">
							{{'started'|translate}}
							&nbsp
							<span class="state-icon icon-circle"></span>
						</td>
						<td ng-show="service.status==2">
							{{'stopping'|translate}}
							&nbsp
							<span class="state-icon icon-circle" style="color: #f4c600;"></span>
						</td>
						<td ng-show="service.status==3">
							{{'starting'|translate}}
							&nbsp
							<span class="state-icon icon-circle" style="color: #f4c600;"></span>
						</td>
						<td>
							<div class="service-all-label" ng-repeat="(name,value) in service.labels">{{name}}={{value}}</div>
							<span ng-if="!service.labels">{{'none'|translate}}</span>
						</td>
						<td>{{service.version}}</td>
						<td>{{service.instance}}</td>
						<td>{{service.createTime | transTime}}</td>
					</tr>
				</table>
			</div>
		</li>
	</ul>
</div>
