<div class="hc-container-outer hc-detail-outer clearfix">
	<div class="modify-container-title  hc-container-title">{{'ChangeProject'|translate}}</div>
	<ul class="hc-info-total">
		<li class="second-title">
			<span>{{'ResourceQuota'|translate}}</span>
		</li>
		<li class="hc-info-list">
			<span class="hc-info-name hc-dialog-info-name ne-required">Pod ：</span>
			<div sp-number sp-data="project.quota.pod[0]" sp-min="1" sp-max="100" sp-interval="1" sp-filter="" name="pod" ng-model="project.quota.pod" sp-dirty="" required></div>	
		</li>
		<li class="hc-info-list">
			<span class="hc-info-name hc-dialog-info-name ne-required">Service ：</span>
			<div sp-number sp-data="project.quota.service[0]" sp-min="1" sp-max="100" sp-interval="1" sp-filter="" name="cpu" ng-model="project.quota.service" sp-dirty="" required></div>	
		</li>
		<!-- <li class="hc-info-list">
			<div class="service-informantion-name">
				<span class="ne-required">RC ：</span>
			</div>
			<div sp-number sp-data="project.quota.rc" sp-min="1" sp-max="100" sp-interval="1" sp-filter="" name="cpu" ng-model="project.quota.rc" sp-dirty="" required></div>	
		</li>
		<li class="hc-info-list">
			<div class="service-informantion-name">
				<span class="ne-required">Resource ：</span>
			</div>
			<div sp-number sp-data="project.quota.resource" sp-min="1" sp-max="100" sp-interval="1" sp-filter="" name="cpu" ng-model="project.quota.resource" sp-dirty="" required></div>	
		</li>
		<li class="hc-info-list">
			<div class="service-informantion-name">
				<span class="ne-required">Secret ：</span>
			</div>
			<div sp-number sp-data="project.quota.secret" sp-min="1" sp-max="100" sp-interval="1" sp-filter="" name="cpu" ng-model="project.quota.secret" sp-dirty="" required></div>	
		</li> -->
		<li class="hc-info-list">
			<span class="hc-info-name hc-dialog-info-name ne-required">PVC ：</span>
			<div sp-number sp-data="project.quota.pvc[0]" sp-min="1" sp-max="100" sp-interval="1" sp-filter="" name="cpu" ng-model="project.quota.pvc" sp-dirty="" required></div>	
		</li>
		<li class="hc-info-list">
			<span class="hc-info-name hc-dialog-info-name ne-required">CPU ：</span>
			<div sp-number sp-data="project.quota.cpu[0]" sp-min="100" sp-max="40000" sp-interval="100" sp-filter="cpuNumber" name="cpu" ng-model="project.quota.cpu" sp-dirty="" required></div>
		</li>
		<li class="hc-info-list">
			<span class="hc-info-name hc-dialog-info-name ne-required">Memory ：</span>
			<div sp-number sp-data="project.quota.memory[0]" sp-min="128" sp-max="25600" sp-interval="128" sp-filter="memoryFormat"  name="memory" ng-model="project.quota.memory" sp-dirty="" required></div>
		</li>
	</ul>
	<div class="hc-dialogOp-block">
		<button class="service-new-button container-next next-position disabled-{{disable()}}"  ng-click="save()" ng-disabled="disable()" su-load="/rest/namespace">{{'save'|translate}}</button>
	</div>
</div>