
<div class="dashboard-wrap">
	<div class="dashboard-inner clearfix">
		<div class="dashboard-col">
			<div class="dash-item dash-size-1">
				<p class="dash-title"  ng-bind="'Pods'|translate">
				</p>
				<div class="dash-content">
					<div class="ec-wrap" ne-gauge ne-value="pod[1]" ne-total="pod[0]" ne-name="'Pod Usage'"></div>
					<div class="corner-info">
						<span ng-bind="pod[0]-pod[1]"></span> Pod
						<span ng-bind="'Can Be Created'|translate"></span>
					</div>
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title"  ng-bind="'CPU'|translate">
				</p>
				<div class="dash-content">
					<div class="ec-wrap" ne-gauge ne-value="cpu[1]" ne-total="cpu[0]" ne-name="'CPU Usage'"></div>
					<div class="corner-info">
						<span ng-bind="cpu[0]-cpu[1]"></span>m CPU
						<span ng-bind="'Can be Used'|translate"></span>
					</div>
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title"  ng-bind="'Memory'|translate">
				</p>
				<div class="dash-content">
					<div class="ec-wrap" ne-gauge ne-value="memory[1]" ne-total="memory[0]" ne-name="'Memory Usage'"></div>
					<div class="corner-info">
						<span ng-bind="memory[0]-memory[1]"></span>Mi Memory
						<span ng-bind="'Can be Used'|translate"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-col">
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'Coworkers'|translate">
				</p>
				<div class="dash-content">
					<p class="errCount userCount" ng-bind="userCount"></p>
					<p class="subhint" ng-bind="'Coworkers'|translate"></p>
					<p class="errMsg" ng-bind="'In this Project'|translate"></p>
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'DeploymentCountByUser'|translate">
				</p>
				<div class="dash-content" ne-pie ne-value="userDeployment">
					
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'DeploymentCount'|translate">
				</p>
				<div class="dash-content">
					<p class="errCount userCount" ng-bind="totalDeploment"></p>
					<p class="subhint" ng-bind="'Service'|translate"></p>
					<p class="errMsg" ng-bind="'In this Project'|translate"></p>
				</div>
			</div>
		</div>

		<div class="dashboard-col">
			<div class="dash-item dash-noshadow dash-size-1">
				<div class="dashboard-col dash-size-2">
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Secure Image Count'|translate">
							
						</p>
						<div class="dash-content">
							<p class="dash-version" ng-bind="success" style="color:#298473"></p>
						</div>
					</div>
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Total Image Count'|translate">
						</p>
						<div class="dash-content">
							<p class="dash-version" ng-bind="totalImg" style="color:#d96c2b"></p>
						</div>
					</div>
				</div>
				<div class="dashboard-col dash-size-2">
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Insecure Image Count'|translate">
						</p>
						<div class="dash-content">
							<p class="dash-version" ng-bind="insecurityCount" style="color:#bd2119"></p>
						</div>
					</div>
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Un-scannable Image Count'|translate">
						</p>
						<div class="dash-content">
							<p class="dash-version" ng-bind="notSupport" style="color:#dec57b"></p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'Image Count By User'|translate">
				</p>
				<div class="dash-content" ne-pie ne-value="total">
					
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'Insecure Image Count By User'|translate">
				</p>
				<!-- <div class="dash-content" ne-pie ne-color="errColor" ne-value="insecurity">	
				</div> -->
				<div class="dash-content" ne-pie ne-color="" ne-value="insecurity">	
				</div>
			</div>
			
		</div>

		<div class="dashboard-col">
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'System Warning'|translate">
				</p>
				<div class="dash-content">
					<p class="errCount" ng-bind="warningInfo.errCount"></p>
					<p class="subhint">Warnings</p>
					<p class="errMsg" ng-bind="warningInfo.errMsgSample"></p>
				</div>
			</div>
			<div class="dash-item dash-size-3">
				<p class="dash-title" ng-bind="'Recent Events'|translate">
					
				</p>
				<div class="dash-content">
					<div class="flex-time dash-event">
						<span ng-show="pod.events.length == 0">
							{{'noEvent'|translate}}
						</span>
						<div ng-show="eventInfo.length == 0">
							No Events For Now.
						</div>
						<div ng-repeat="event in eventInfo track by $index">
							<ul class="flex-time-ul">
								<li class="flex-li-time">{{event.lastTimestamp | transTime}}</li>
								<li class="flex-li-spot">
									<div class="flex-li-span">
										<div class="my-circle-iron" ng-show="event.type == 'Normal'"></div>
										<div class="my-circle-iron" ng-show="event.type == 'Warning'" style="background-color:red;"></div>
									</div>	
								</li>
								<li class="flex-li-detail">
										{{event.reason}}
									<span class="event-count">(arised {{event.count}} times)</span>
									<span class="flex-detail-time">{{event.firstTimestamp | transTime}}</span><br>
										{{event.message}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>