
<div class="dashboard-wrap">
	<div class="dashboard-inner clearfix">
		<div class="dashboard-col">
			<div class="dash-item dash-size-1">
				<p class="dash-title"  ng-bind="'Pods'|translate">
				</p>
				<div class="dash-content">
					<div class="ec-wrap" ne-gauge ne-value="podInfo.podCount" ne-total="podInfo.avaliablePods" ne-name="'Pod Usage'"></div>
					<div class="corner-info">
						<span ng-bind="podInfo.avaliablePods - podInfo.podCount>0 ? podInfo.avaliablePods - podInfo.podCount : 0"></span> Pod
						<span ng-bind="'Can Be Created'|translate"></span>
					</div>
					
				</div>
			</div>
			<div class="dash-item dash-size-2">
				<p class="dash-title">
					<span ng-bind="'CPU Usage'|translate"></span>
					<span class="fr">
						<span ng-bind="'Current Usage'|translate"></span>
						: {{nodeCpuNow}}%
					</span>
				</p>
				<div class="dash-content" ne-line ne-data="nodeCpu" ne-metric="'%'">
					
				</div>
			</div> 
			<div class="dash-item dash-size-2">
				<p class="dash-title">
					<span ng-bind="'Memory Usage'|translate"></span>
					<span class="fr">
						<span ng-bind="'Current Usage'|translate"></span>
						: {{nodeMemNow}}MiB
					</span>

				</p>
				<div class="dash-content" ne-line ne-data="nodeMem" ne-metric="'MiB'">
			
				</div>
			</div>
			<div class="dash-item dash-size-2">
				<p class="dash-title">
					<span ng-bind="'Disk Usage'|translate"></span>
					<span class="fr">
						<span ng-bind="'Current Usage'|translate"></span>
						: {{nodeDiskNow}}MiB
					</span>

				</p>
				<div class="dash-content" ne-line ne-data="nodeDisk" ne-metric="'MiB'">
					
				</div>
			</div>
		</div>
		<div class="dashboard-col">
			<div class="dash-item dash-noshadow dash-size-1">
				<div class="dashboard-col dash-size-2">
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Kubernetes Version'|translate">
							
						</p>
						<div class="dash-content">
							<p class="dash-version"><span>v</span>1.3.5</p>
						</div>
					</div>
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'ETCD Version'|translate">
						</p>
						<div class="dash-content">
							<p class="dash-version"><span>v</span>2.2.1</p>
						</div>
					</div>
				</div>
				<div class="dashboard-col dash-size-2">
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Docker Version'|translate">
						</p>
						<div class="dash-content">
							<p class="dash-version"><span>v</span>1.10.1</p>
						</div>
					</div>
					<div class="dash-item dash-size-2">
						<p class="dash-title" ng-bind="'Calico Version'|translate">
						</p>
						<div class="dash-content">
							<p class="dash-version"><span>v</span>0.23</p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'Infrastructure'|translate">
				</p>
				<div class="dash-content">
					<div class="if-wrap">
						<p class="if-item item1">
							<span ng-bind="'Host'|translate"></span>
							<span ng-bind="infraInfo.hosts" class="fr"></span>
						</p>
						<p class="if-item item2">
							<span ng-bind="'CPU Core'|translate"></span>
							<span ng-bind="infraInfo.cpu" class="fr"></span>
						</p>
						<p class="if-item item3">
							<span ng-bind="'Memory'|translate"></span>
							<span ng-bind="infraInfo.memory + 'KiB'" class="fr"></span>
						</p>
					</div>
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'System Component Status'|translate">
				</p>
				<div class="dash-content kubernetes">
					<div class="if-wrap">
						<p class="if-item">
							<span ng-bind="'kube-apiserver'|translate"></span>
							<span ng-bind="'running'|translate" class="fr green"></span>
						</p>
						<p class="if-item">
							<span ng-bind="'kubelet'|translate"></span>
							<span ng-bind="'running'|translate" class="fr green"></span>
						</p>
						<p class="if-item">
							<span ng-bind="'kube-controller-manager'|translate"></span>
							<span ng-bind="'running'|translate" class="fr green"></span>
						</p>
						<p class="if-item">
							<span ng-bind="'kube-proxy'|translate"></span>
							<span ng-bind="'running'|translate" class="fr green"></span>
						</p>
						<p class="if-item">
							<span ng-bind="'kube-scheduler'|translate"></span>
							<span ng-bind="'running'|translate" class="fr green"></span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="dashboard-col">
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'
				Tenants'|translate" >
				</p>
				<div class="dash-content">
					<div class="ec-wrap" ne-gauge ne-value="tenantInfo.tenants" ne-total="infraInfo.hosts*10" ne-name="'Tenant Usage'"></div>
					<div class="corner-info">
						<span ng-bind="infraInfo.hosts*10 - tenantInfo.tenants>0 ? infraInfo.hosts*10 - tenantInfo.tenants : 0"></span>
						<span ng-bind="'Tenants'|translate"></span>
						<span ng-bind="'Can Be Created'|translate"></span>
					</div>
					
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'
				Tenant Project Usage Rate'|translate">
				</p>
				<div class="dash-content" ne-pie ne-value="tenantInfo.namespace">
					
				</div>
			</div>
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'
				Tenant Image Usage Rate'|translate">
				</p>
				<div class="dash-content" ne-pie ne-value="tenantInfo.harbor">
					
				</div>
			</div>
		</div>

		<div class="dashboard-col">
			<div class="dash-item dash-size-1">
				<p class="dash-title" ng-bind="'System Warning'|translate">
				</p>
				<div class="dash-content">
					<p class="errCount" ng-bind="warningInfo.errCount"></p>
					<p class="subhint">Warnings</p>
					<p class="errMsg" ng-bind="warningInfo.errMsgSample"></p>
				</div>
			</div>
			<div class="dash-item dash-size-3">
				<p class="dash-title" ng-bind="'Recent Events'|translate">
					
				</p>
				<div class="dash-content">
					<div class="flex-time dash-event">
						<span ng-show="pod.events.length == 0">
							{{'noEvent'|translate}}
						</span>
						<div ng-repeat="event in eventInfo track by $index">
							<ul class="flex-time-ul">
								<li class="flex-li-time">{{event.lastTimestamp | transTime}}</li>
								<li class="flex-li-spot">
									<div class="flex-li-span">
										<div class="my-circle-iron" ng-show="event.type == 'Normal'"></div>
										<div class="my-circle-iron" ng-show="event.type == 'Warning'" style="background-color:red;"></div>
									</div>	
								</li>
								<li class="flex-li-detail">
										{{event.reason}}
									<span class="event-count">(arised {{event.count}} times)</span>
									<span class="flex-detail-time">{{event.firstTimestamp | transTime}}</span><br>
										{{event.message}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>