<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="service.name" class="hc-topbar-name"></span>
			<span ng-if="service.status == 0" class="hc-state-stop hc-topbar-state">
				{{'stopped'|translate}}
			</span>
			<span ng-if="service.status == 1" class="hc-state-start hc-topbar-state">
				{{'started'|translate}}
			</span>
			<span ng-if="service.status == 2" class="hc-state-unstable hc-topbar-state">
				{{'stopping'|translate}}
			</span>
			<span ng-if="service.status == 3" class="hc-state-unstable hc-topbar-state">
				{{'starting'|translate}}
			</span>
		</div>
		<div class="hc-topbar-block hc-labels-parents">
			<div ng-repeat="(name,value) in service.labels" class="hc-label">
				<span ng-bind="name" class="hc-label-name" title="name"></span>
				<span ng-bind="value" class="hc-label-value" title="value"></span>
			</div>
		</div>
		<div class="hc-topbar-block hc-button-block hc-flright">
			<button class="hc-button hc-button-green" ng-bind="'Console'|translate"  ng-click="choose()"></button>
		</div>
		<div class="hc-topbar-block hc-button-block hc-flright dropdown">
			<button class="hc-button hc-button-black dropdown-toggle" id="operation" data-toggle="dropdown">
				{{'operate'|translate}}
				<span class="icon-angle-down"></span>
			</button>
			<ul class="dropdown-menu hc-operation-detail" role="menu" aria-labelledby="operation">
				<li role="presentation" ng-click="start()" class="pointer hover-gray">
					<span>{{'start'|translate}}</span>
				</li>
				<li role="presentation" ng-click="stop()" class="pointer hover-gray">
					<span>{{'stop'|translate}}</span>
				</li>
				<li role="presentation" ng-show="!service.autoScaling" ng-click="flexOn()" class="pointer hover-gray">
					<span>{{'autoflex'|translate}}</span>
				</li>
				<!-- <li role="presentation" class="pointer">
					<span>回 滚</span>
				</li> -->
			</ul>
		</div>
	</div>
	<div class="hc-detail-outer clearfix">
		<div class="hc-container hc-detail-inner">
			<div sp-tabs></div>
		</div>
	</div>
</div>