<div class="hc-service-information clearfix">
	<div class="clearfix">
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'BasicInfo'|translate"></span>
			</div>
			<div class="hc-info-body">
				<ul>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'creationTime'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="service.createTime | transTime"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'refershTime'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="service.updateTime | transTime"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'namespace'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="namespace|harborName"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'Owner'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="service.owner"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'Version'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="service.version"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'instanceCount'|translate}} ：</span>
						<span class="hc-info-value" edit-instance="service.instance"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'annotation'|translate}} ：</span>
						<span class="hc-info-value" ng-if="service.annotation">{{service.annotation}}</span>
						<span class="hc-info-value" ng-if="!service.annotation">{{'none'|translate}}</span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'internalDomain'|translate}} ：</span>
						<span class="hc-info-value" ng-if="!service.serviceAddress">{{'none'|translate}}</span>
						<span class="hc-info-value">{{service.serviceAddress}}</span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'podClusterIP'|translate}} ：</span>
						<span class="hc-info-value" ng-if="!service.clusterIP">{{'none'|translate}}</span>
						<span class="hc-info-value">{{service.clusterIP}}</span>
					</li>
					<li class="hc-info-list hc-height-auto">
						<span class="hc-info-name">{{'Service Port'|translate}} ：</span>
						<div class="hc-con-info-block hc0-indent0">
							<div ng-repeat="port in service.internalPorts track by $index">
								<span class="hc-info-value hc-con-value hc-small-width hc-inline" ng-bind="port.targetPort" title="{{'podPort'|translate}}"></span>
								({{port.protocol}})
								<!-- <div class="hc-tcp-icon" ng-show="port.protocol == 'TCP'" title='TCP' ng-bind="'T'"></div>
								<div class="hc-tcp-icon" ng-show="port.protocol == 'UDP'" title='UDP' ng-bind="'U'"></div> -->
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'ContainerStatus'|translate"></span>
			</div>
			<div class="hc-info-body">
				<div class="hc-container-pie" ne-pie ne-value="pieData" ne-title="" ne-background="'#fff'" ne-color="color">
				</div>
				<div class="hc-info-pietext">
					<div>
						<span class="hc-pie-running">{{'running'|translate}} : </span>
						<span ng-bind="pieData[0].value"></span>
					</div>
					<div>
						<span class="hc-pie-pause">{{'pause'|translate}} : </span>
						<span ng-bind="pieData[1].value"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="hc-info-block hc-container-block">
			<div class="hc-info-head">
				<span ng-bind="'Specs'|translate"></span>
				<span class="hc-resource-edit pointer hc-color-green" ng-show="!disable()" ng-bind="'Save'|translate" ng-click="refresh()"></span>
			</div>
			<div class="hc-info-body" ng-repeat="con in containers" ng-init="conIndex = $index">
				<ul>
					<li class="hc-info-list hc-first-li">
						<span class="hc-info-name">{{'conatinerName'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="con.name"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'image'|translate}} ：</span>
						<span class="hc-info-value" ng-bind="con.img"></span>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'livenessProbe'|translate}} ：</span>
						<span class="hc-info-value" ng-if="!con.livenessProbe">{{'none'|translate}}</span>
						<div class="hc-con-info-block" ng-if="con.livenessProbe">
							<p ng-if="!!con.livenessProbe.httpGet">
								{{con.livenessProbe.httpGet.path}} ({{con.livenessProbe.httpGet.scheme}})
							</p>
							<p ng-if="!!con.livenessProbe.tcpSocket">
								{{con.livenessProbe.tcpSocket.port}} (TCP)<br>

							</p>
							<p>
								<span class="hc-font-bold">{{con.livenessProbe.initialDelaySeconds}}</span><span class="hc-font-bold" ng-show="!con.livenessProbe.initialDelaySeconds">0</span>
								Second(s) Initial Delay
							</p>
							<p>
								<span class="hc-font-bold">{{con.livenessProbe.timeoutSeconds}}</span>
								Second(s) Timeout
							</p>
							<p>
								<span class="hc-font-bold">{{con.livenessProbe.periodSeconds}}</span>
								Second(s) Interval
							</p>
							<p>
								<span class="hc-font-bold">{{con.livenessProbe.successThreshold}}</span>
								Success Threshold
							</p>
							<p>
								<span class="hc-font-bold">{{con.livenessProbe.failureThreshold}}</span>
								Failure Threshold
							</p>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'readinessProbe'|translate}} ：</span>
						<span class="hc-info-value" ng-if="!con.readinessProbe">{{'none'|translate}}</span>
						<div class="hc-con-info-block" ng-if="con.readinessProbe">
							<p ng-if="!!con.readinessProbe.httpGet">
								{{con.readinessProbe.httpGet.path}}({{con.readinessProbe.httpGet.scheme}})
							</p>
							<p ng-if="!!con.readinessProbe.tcpSocket">
								{{con.readinessProbe.tcpSocket.port}}(TCP)
							</p>
							<p>
								<span class="hc-font-bold">{{con.readinessProbe.initialDelaySeconds}}</span><span class="hc-font-bold" ng-show="!con.readinessProbe.initialDelaySeconds">0</span>
								Second(s) Initial Delay
							</p>
							<p>
								<span class="hc-font-bold">{{con.readinessProbe.timeoutSeconds}}</span>
								Second(s) Timeout
							</p>
							<p>
								<span class="hc-font-bold">{{con.readinessProbe.periodSeconds}}</span>
								Second(s) Interval
							</p>
							<p>
								<span class="hc-font-bold">{{con.readinessProbe.successThreshold}}</span>
								Success Threshold
							</p>
							<p>
								<span class="hc-font-bold">{{con.readinessProbe.failureThreshold}}</span>
								Failure Threshold
							</p>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'cpuValue'|translate}} ：</span>
						<span class="hc-info-value" ng-show="!con.ifCpuEdit">
							<a ng-click="editConCpu(conIndex)" class="pointer underline">{{con.resource.cpu|cpuNumber}}</a>
						</span>
						<div name="cpu_form" class="edit-form" ng-show="!!con.ifCpuEdit">
							<div sp-number name="cpu" sp-min="100" sp-max="4000" sp-interval="100" sp-data="temp.cpu" sp-filter="cpuNumber" sp-dirty="" ng-model="temp.cpu" required></div>
							<span class="img-button pointer ico-check hc-state-start"  ng-click="saveConCpu(conIndex,temp.cpu)"></span>
							<span class="img-button pointer ico-cross hc-state-stop"  ng-click="editConCpu(conIndex)"></span>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'memory'|translate}} ：</span>
						<span class="hc-info-value" ng-show="!con.ifMemoryEdit">
							<a ng-click="editMemory(conIndex)" class="pointer underline">{{con.resource.memory}}</a>
						</span>
						<div class="edit-form" ng-show="!!con.ifMemoryEdit">
							<div sp-number name="memory" sp-min="128" sp-max="1024" sp-interval="128" sp-data="temp.memory" sp-filter="memoryFormat" sp-dirty="" ng-model="temp.memory" required></div>
							<span class="img-button pointer ico-check hc-state-start"  ng-click="saveMemory(conIndex,temp.memory)"></span>
							<span class="img-button pointer ico-cross hc-state-stop"  ng-click="editMemory(conIndex)"></span>
						</div>
					</li>
				</ul>
				<ul class="hc-fold" ng-style="{height:(con.command.length+con.args.length+con.env.length+con.ports.length+con.storage.length+6)*35+'px'}" ng-class="{hcFold: !con.expand}">
					<li class="hc-info-list">
						<span class="hc-info-name">{{'ConfigMap'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info hc-width-p100" ng-if="!!con.configmap">
								<div class="hc-info-value hc-con-value hc-width-p70" con-edit="con.configmap.path" cl-changed="changeConfigmap(conIndex,con.configmap.path)"></div>
								<span class="hc-delete-icon ico-cog hc-color-green pointer" ng-click="editConfigValue(conIndex,'text')"></span>
							</div>
							<div class="hc-con-info hc-width-p100" ng-if="!con.configmap">
								<span class="hc-info-value">{{'none'|translate}}</span>
							</div>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'command'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info" ng-repeat="c in con.command track by $index">
								<div class="hc-info-value hc-con-value" con-edit="c" cl-changed="changeCommand(conIndex,$index,c)"></div>
								<span class="hc-delete-icon ico-cross pointer hc-color-red" ng-click="deleteCommand(conIndex,$index)"></span>
							</div>
							<div class="hc-con-info">
								<input class="hc-con-add" type="text" name="" placeholder="{{'fillInCommand'|translate}}" ng-model="con.tempCommand" enter-search="addCommand(conIndex,con.tempCommand)">

								<span class="hc-delete-icon ico-check hc-color-green pointer" ng-click="addCommand(conIndex,con.tempCommand)"></span>
							</div>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'args'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info" ng-repeat="a in con.args track by $index">
								<div class="hc-info-value hc-con-value" con-edit="a" cl-changed="changeArgs(conIndex,$index,a)"></div>
								<span class="hc-delete-icon ico-cross hc-color-red pointer" ng-click="deleteArgs(conIndex,$index)"></span>
							</div>
							<div class="hc-con-info">
								<input class="hc-con-add" type="text" name="" placeholder="{{'fillInArgs'|translate}}" ng-model="con.tempArgs" enter-search="addArgs(conIndex,con.tempArgs)">
								<span class="hc-delete-icon ico-check hc-color-green pointer" ng-click="addArgs(conIndex,con.tempArgs)"></span>
							</div>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'env'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info" ng-repeat="e in con.env track by $index">
								<div class="hc-info-value hc-con-value hc-two-width" con-edit="e.name" cl-changed="changeEnv(conIndex,$index,e.name,'name')"></div>
								<span class="hc-connect-icon">=</span>
								<div class="hc-info-value hc-con-value hc-two-width" con-edit="e.value" cl-changed="changeEnv(conIndex,$index,e.value,'value')"></div>
								<span class="hc-delete-icon ico-cross hc-color-red pointer" ng-click="deleteEnv(conIndex,$index)"></span>
							</div>
							<div class="hc-con-info">
								<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputEnvKey'|translate}}" ng-model="con.tempEnvName">
								<span class="hc-connect-icon hc-connect-placeholder">=</span>
								<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputEnvValue'|translate}}" ng-model="con.tempEnvValue" enter-search="addEnv(conIndex)">
								<span class="hc-delete-icon ico-check pointer hc-color-green" ng-click="addEnv(conIndex)"></span>
							</div>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'port'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info" ng-repeat="p in con.ports track by $index">
								<div class="hc-info-value hc-con-value hc-two-width" con-edit="p.containerPort" cl-changed="changePort(conIndex,$index,p.containerPort,'containerPort')"></div>
								<span class="hc-connect-icon hc-hasplace"></span>
								<div class="hc-info-value hc-con-value hc-two-width" con-edit="p.protocol" cl-changed="changePort(conIndex,$index,p.protocol,'protocol')"></div>
								<span class="hc-delete-icon ico-cross hc-color-red pointer" ng-click="deletePort(conIndex,$index)"></span>
							</div>
							<div class="hc-con-info">
								<input  type="number" class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'fillInPort'|translate}}" ng-model="con.tempContainerPort"  min="10" max="65535" enter-search="addPort(conIndex)">
								<span class="hc-connect-icon hc-hasplace"></span>
								<select name="" class="hc-con-add hc-two-width" placeholder="{{'fillInProtocol'|translate}}" ng-model="con.tempProtocol">
									<option value="TCP">TCP</option>
									<option value="UDP">UDP</option>
								</select>
								<!-- <select name="protocol"  value="Input Protocol" ng-model="con.tempProtocol" class="hc-con-add hc-two-width">
									<option value="TCP">TCP</option>
									<option value="UDP">UDP</option>
								</select> -->
								<span class="hc-delete-icon ico-check pointer hc-color-green" ng-click="addPort(conIndex)"></span>
							</div>
						</div>
					</li>
					<li class="hc-info-list">
						<span class="hc-info-name">{{'VolumeMounts'|translate}} ：</span>
						<div class="hc-con-info-block">
							<div class="hc-con-info" ng-repeat="s in con.storage track by $index" ng-show="s.type =='pv'">
								<div class="hc-info-value hc-con-value hc-two-width" con-edit="s.name" cl-list="volumeName" cl-type="select" cl-changed="changeStorage(conIndex,$index,s.name,'name')"></div>
								<span class="hc-connect-icon ico-arrow-right"></span>
								<div class="hc-info-value hc-con-value hc-two-width" con-edit="s.mountPath" cl-changed="changeStorage(conIndex,$index,s.mountPath,'mountPath')" cl-pattern="([/][0-9a-zA-Z.]+)+" title="{{s.mountPath}}"></div>
								<span class="hc-delete-icon ico-cross hc-color-red pointer" ng-click="deleteStorage(conIndex,$index)"></span>
							</div>
							<div class="hc-con-info">
								<select name="protocol"  value="Input Protocol" ng-model="con.tempStorageName" class="hc-con-add hc-two-width">
									<option ng-repeat="v in volume" value="{{v.name}}">{{v.name}}</option>
								</select>
								<span class="hc-connect-icon hc-connect-placeholder ico-arrow-right"></span>
								<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputMount'|translate}}" ng-model="con.tempStorageMountPath" ng-pattern="pathPattern" enter-search="addStorage(conIndex)">
								<span class="hc-delete-icon ico-check pointer hc-color-green" ng-click="addStorage(conIndex)"></span>
							</div>
						</div>
					</li>
				</ul>
				<div>
					<div class="hc-expand-button pointer" ng-click="expand(conIndex)">
						<!-- <div  ng-class="{hcAngleReverse: con.expand}" class="hc-expand-icon">
							<span class="ico-rewind"></span>
						</div>
						<div  ng-class="{hcAngleReverse: con.expand}" class="hc-expand-icon">
							<span class="ico-rewind"></span>
						</div>
						<div  ng-class="{hcAngleReverse: con.expand}" class="hc-expand-icon">
							<span class="ico-rewind"></span>
						</div> -->
						<div class="hc-expand-text">
							<span ng-show="!con.expand" ng-bind="'Config More'|translate"></span>
							<span ng-show="con.expand" ng-bind="'Config Less'|translate">collapse</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hc-info-block">
			<div class="hc-info-head">
				<span ng-bind="'event'|translate"></span>
			</div>
			<div class="hc-info-body hc-event-block">
				<span ng-show="events.length == 0">
					{{'noEvent'|translate}}
				</span>
				<div ng-repeat="event in events track by $index">
					<ul class="hc-event-ul">
						<li>
							<div class="hc-event-time">
								{{event.lastTimestamp | transTime}}
							</div>
							<div class="hc-dialog-left"></div>
						</li>
						<li class="hc-event-spot">
							<div class="hc-event-span">
								<div class="hc-circle-iron" ng-show="event.type == 'Normal'"></div>
								<div class="hc-circle-iron" ng-show="event.type == 'Warning'" style="background-color:red;"></div>
							</div>	
						</li>
						<li class="hc-event-list">
							<div class="hc-dialog-right"></div>
							<div class="hc-event-detail">
								<div class="hc-event-reason" ng-bind="event.reason"></div>
								<span ng-bind="event.message"></span>
								<div>
									<div class="hc-event-bottom hc-event-count">
										Arised
										<span ng-bind="event.count"></span>
										<span ng-show="event.count == 1">time</span>
										<span ng-show="event.count>1">times in</span>
										<span ng-show="event.count>1" ng-bind="event.span"></span>
										<span ng-show="event.count>1" ng-bind="event.spanMetric"></span>
									</div>
									<div class="hc-event-bottom hc-event-from">
										From
										<span ng-bind="event.involvedObject.name"></span>(<span ng-bind="event.involvedObject.kind"></span>)
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="hc-info-block hc-podlist-block">
		<div class="hc-info-head">
			<span ng-bind="'Pods'|translate"></span>
		</div>
		<div class="hc-info-body">
			<table class="hc-info-table hc-podlist-table">
				<thead>
					<tr class="hc-info-table-head">
						<td>{{'name'|translate}}</td>
						<td>{{'runState'|translate}}</td>
						<td>{{'podIP'|translate}}</td>
						<td>{{'nodeIP'|translate}}</td>
						<td>{{'creationTime'|translate}}</td>
						<td>{{'conatinerName'|translate}}</td>
						<td>{{'containerState'|translate}}</td>
						<td>{{'containerRestart'|translate}}</td>
					</tr>
				</thead>
				<tbody class="hc-info-table-body">
					<tr class="hc-info-table-row" ng-repeat="pod in podList">
						<td ng-bind="pod.name"></td>
						<td>
							<span ng-if="pod.status == 'Running'" ng-bind="'running'|translate" class="hc-state-start"></span>
							<span ng-if="pod.status != 'Running'" ng-bind="'pause'|translate" class="hc-state-stop"></span>
						</td>
						<td ng-bind="pod.ip"></td>
						<td ng-bind="pod.nodeIp"></td>
						<td ng-bind="pod.startTime | transTime"></td>
						<td>
							<div ng-repeat="con in pod.containers track by $index">
								<span ng-bind="con.name"></span>
							</div>
						</td>
						<td>
							<div ng-repeat="con in pod.containers track by $index">
								<span ng-show="con.state == 'running'" ng-bind="'running'|translate" class="hc-state-start"></span>
								<span ng-show="con.state == 'terminated'" ng-bind="'terminating'|translate" class="hc-state-stop"></span>
								<span ng-show="con.state == 'waiting'" ng-bind="'waiting'|translate" class="hc-state-unstable"></span>
							</div>
						</td>
						<td>
							<div ng-repeat="con in pod.containers track by $index">
								<span ng-bind="con.restartCount"></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>