<div class="image role-all" ng-controller="CRoleAllController">
	<div class="hc-detail-topbar" ng-show="!parent">
		<div class="hc-topbar-block">
			<span ng-bind="'clusterrole'|translate" class="hc-topbar-name"></span>
		</div>
		<!-- <div class="hc-topbar-block hc-button-block hc-flright hc-p0-ml10">
			<button class="hc-button hc-button-green hc-button-green-heavy" ui-sref="croleNew" ng-bind="'new'|translate"></button>
		</div>
		<div class="hc-topbar-block hc-button-block hc-flright hc-p0-ml10">
			<button class="hc-button hc-button-red" delete-confirm="delete('crole')" delete-text="{{'deleteText'|translate}}"  ng-bind="'delete'|translate"></button>
		</div> -->
	</div>

	<div class="hc-detail-outer">
		<div class="service-body">
			<div class="service-table-div">
				<div class="ne-table">
					<div class="thead">
						<div class="tr">
							<div class="td" style="width: 2.5%">
								<input type="checkbox" ng-model="checkAllCrole"/>
							</div>
							<div class="td font14" style="width: 20%" ng-bind="'name'|translate"></div>
							<div class="td font14" style="width: 20%" ng-bind="'type'|translate"></div>
							<div class="td font14" style="width: 25%" ng-bind="'creationTime'|translate"></div>
						</div>
					</div>
					<div class="tbody">
						<div class="tr role-block" ng-repeat="role in cRoleAll" ng-click="roleDetail(role.name,role.namespace)">
							<div class="td pointer" style="width: 2.5%" ng-click="$event.stopPropagation()">
								<input type="checkbox" ng-model="role.selected"/>
							</div>
							<div class="td pointer font14" style="width: 20%" cl-width='50' ng-bind="role.name"></div>
							<div class="td pointer font14" style="width: 20%" ng-bind="role.type"></div>
							<div class="td pointer" style="width: 25%" ng-bind="role.time|transTime"></div>
						</div>
					</div>
				</div>

				<span ng-show="(!cRoleAll||cRoleAll.length==0)" class="nomore">
					sorry,don't have role yet.
				</span>
			</div>
		</div>
	</div>
</div>

<!-- <div class="image role-all" ng-controller="RoleAllController">
	<div class="service-all">
		<span class="service-title" ng-bind="'role'|translate"></span>
		<div class="service-body">
			<button class="function-button hc-new" ui-sref="roleNew" ng-bind="'new'|translate"></button>
   			<button class="function-button delete" delete-confirm="delete('role')" delete-text="{{'deleteText'|translate}}"  ng-bind="'delete'|translate"></button>
			<div class="service-table-div">
				<div class="ne-table">
					<div class="thead">
						<div class="tr">
							<div class="td" style="width: 2.5%">
								<input type="checkbox" ng-model="checkAllRole"/>
							</div>
							<div class="td font14" style="width: 20%" ng-bind="'name'|translate"></div>
							<div class="td font14" style="width: 20%" ng-bind="'namespace'|translate"></div>
							<div class="td font14" style="width: 20%" ng-bind="'type'|translate"></div>
							<div class="td font14" style="width: 25%" ng-bind="'creationTime'|translate"></div>
						</div>
					</div>
					<div class="tbody">
						<div class="tr role-block" ng-repeat="role in roleAll" ng-click="roleDetail(role.name,role.namespace)">
							<div class="td pointer" style="width: 2.5%"  ng-click="$event.stopPropagation()">
								<input type="checkbox" ng-model="role.selected"/>
							</div>
							<div class="td pointer font14" style="width: 20%" cl-width='50' ng-bind="role.name"></div>
							<div class="td pointer font14" style="width: 20%"  ng-bind="role.namespace"></div>
							<div class="td pointer font14" style="width: 20%" ng-bind="role.type"></div>
							<div class="td pointer" style="width: 25%" ng-bind="role.time|transTime"></div>
						</div>
					</div>
				</div>

				<span ng-show="(!roleAll||roleAll.length==0)" class="nomore">
					sorry,don't have role yet.
				</span>
			</div>
		</div>
	</div>

</div> -->