<div class="service-new role-new">
	<div class="back">
		<span class="icon-double-angle-left pointer" delete-confirm="back()" delete-text="Are You Sure to Give Up?"></span>
	</div>
	<span class="service-title" ng-bind="addText|translate"></span>
	<div class="service-new-detail padding-b70">
		<form name="newRole_form" class="noneMargin">
		<ul class="service-information-ul">
			<li class="service-information-list">
				<div class="service-informantion-name padLeft10 service-list">
					<span class="ne-required">{{'name'|translate}}：</span>
				</div>
				<input type="input" name="name" class="service-new-input" ng-model="name" ng-pattern="namePattern" required>
			</li>
			<li class="service-information-list" ng-show="type == 'role'">
				<div class="service-informantion-name padLeft10 service-list">
					<span class="ne-required">{{'namespace'|translate}}：</span>
				</div>
				<select type="input" name="namespace" class="service-new-input namespace-width" ng-model="namespace" required>
					<option ng-repeat="n in namespaceList track by $index" value="{{n}}">{{n}}</option>
				</select>
			</li>
			<li class="service-information-list">
				<div class="service-informantion-name padLeft10 service-list">
					<span class="ne-required">{{'index'|translate}}：</span>
				</div>
				<input type="number" name="name" class="service-new-input" ng-model="index" required>
			</li>
			<li class="service-information-list overflow-visible">
				<div class="service-informantion-name padLeft10 service-list">
					<span>{{'resource'|translate}}：</span>
				</div>
				<div class="resource-all">
					<div ng-repeat="res in resource" ng-init="index = $index" class="resource-block">
						<div class="resource-content" ng-class="{chooseblock:res.choose}">
							<div class="resList-name pointer" ng-click="expand($index)" title="{{res.name}}">
								<span ng-bind="res.name"></span>
							</div>
							<div class="choose-but pointer" ng-click="disableRes($index)">
								<span class="icon-ok-circle"></span>
							</div>
							<div class="resource-operation" ng-class="{hidden:res.hidden}" ng-style="{height: 25*res.operations.length}">
								<ul class="operall">
									<li ng-repeat="op in res.operations" class="oper-list" ng-click="chooseOpe(index)">
										<input class="ope-box" type="checkbox" name="" ng-model="op.choose">
										<span ng-bind="op.name"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="service-information-list overflow-visible">
				<div class="service-informantion-name padLeft10 service-list">
					<span>{{'noneResorce'|translate}}：</span>
				</div>
				<div class="resource-all">
					<div ng-repeat="res in noneResource" ng-init="index = $index" class="resource-block">
						<div class="resource-content" ng-class="{chooseblock:res.choose}">
							<div class="resList-name pointer" ng-click="expandNone($index)" title="{{res.name}}">
								<span ng-bind="res.name"></span>
							</div>
							<div class="choose-but" ng-click="disableNoneRes($index)">
								<span class="icon-ok-circle"></span>
							</div>
							<div class="resource-operation" ng-class="{hidden:res.hidden}" ng-style="{height: 25*res.operations.length}">
								<ul class="operall">
									<li ng-repeat="op in res.operations" class="oper-list" ng-click="chooseNoneOpe(index)">
										<input class="ope-box" type="checkbox" name="" ng-model="op.choose">
										<span ng-bind="op.name"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="service-information-list service-information-button">
				<button class="service-new-button service-new-create disabled-{{disable()}} " ng-click="save()" ng-disabled="disable()">{{'saveRole'|translate}}</button>
			</li>
		</ul>
		</form>
	</div>
</div>