<div class="hc-dropdown-wrap" ng-mouseenter="expand()" ng-mouseleave="shrink()">
	<div class="head-wrap">
		<span class="hc-drop-title" ng-bind="neName|translate"></span>
		<span ng-bind="disp|dynamicFilter:neFilter"></span>
		<span class="ico-chevron-thin-down hc-chevron" ng-show="list.length>1"></span>
	</div>
	<ul class="droplist">
		<li class="drop-item" ng-repeat="item in list track by $index" ng-click="select($index)" ng-bind="item|dynamicFilter:neFilter" ng-show="disp != item" title="{{item}}">
		</li>
	</ul>
</div>