<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.harmonycloud.dao.cluster.ClusterDomainMapper">

	<resultMap id="ClusterDomain" type="com.harmonycloud.dao.cluster.bean.ClusterDomain">
		    <id column="id" property="id" jdbcType="INTEGER" />
		    <result column="domain" property="domain" jdbcType="VARCHAR" />
	</resultMap>
  	
  	 <update id="updateDomain" parameterType="java.lang.String">
    update cluster_domain SET domain = #{domain}
    WHERE id=1
  </update>
  	
  	  <select id="find"  resultMap="ClusterDomain">
	    	select * from cluster_domain
	  </select>

     <select id="insert"  parameterType="java.lang.String">
	    	insert into cluster_domain(domain)  value(#{domain})  
	  </select>

</mapper>