<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.harmonycloud.dao.cluster.ClusterMapper">

    <resultMap id="clusterMap" type="com.harmonycloud.dao.cluster.bean.Cluster">
        <id property="id" column="uuid" />
        <result property="name" column="name" />
        <result property="host" column="host" />
        <result property="protocol" column="protocol" />
        <result property="authType" column="auth_type"/>
        <result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="machineToken" column="machine_token"/>
		<result property="port" column="port"/>
		<result property="entryPoint" column="entry_point"/>
		<result property="haproxyVersion" column="haproxy_version"/>
		<result property="influxdbUrl" column="influxdb_url"/>
		<result property="influxdbDb" column="influxdb_db"/>
		<result property="influxdbVersion" column="influxdb_version"/>
		<result property="esHost" column="es_host"/>
		<result property="esPort" column="es_port"/>
		<result property="esClusterName" column="es_cluster_name"/>
		<result property="esVersion" column="es_version"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

	<insert id="addCluster" parameterType="com.harmonycloud.dao.cluster.bean.Cluster" keyProperty="id">
		insert into cluster(id,name,host,protocol,auth_type,username,password,machine_token,port,entry_point,haproxy_version,influxdb_url,influxdb_db,influxdb_version,es_host,es_port,es_cluster_name,es_version,create_time)
		values(#{id},#{name},#{host},#{protocol},#{authType},#{username},#{password},#{machineToken},#{port},#{entryPoint},#{haproxyVersion},#{influxdbUrl},#{influxdbDb},#{influxdbVersion},#{esHost},#{esPort},#{esClusterName},#{esVersion},#{createTime})
	</insert>

	<select id="listClusters" resultMap="clusterMap">
		select id,name,host,protocol,auth_type,username,password,machine_token,port,entry_point,haproxy_version,influxdb_url,influxdb_db,influxdb_version,es_host,es_port,es_cluster_name,es_version,create_time from cluster;
	</select>

	<select id="findClusterById" resultMap="clusterMap" parameterType="com.harmonycloud.dao.cluster.bean.Cluster">
		select id,name,host,protocol,auth_type,username,password,machine_token,port,entry_point,haproxy_version,influxdb_url,influxdb_db,influxdb_version,es_host,es_port,es_cluster_name,es_version,create_time from cluster WHERE id=#{id};
	</select>

	<select id="findClusterByHost" resultMap="clusterMap" parameterType="com.harmonycloud.dao.cluster.bean.Cluster">
		select id,name,host,protocol,auth_type,username,password,machine_token,port,entry_point,haproxy_version,influxdb_url,influxdb_db,influxdb_version,es_host,es_port,es_cluster_name,es_version,create_time from cluster WHERE host=#{host};
	</select>

	<select id="updateCluster" parameterType="com.harmonycloud.dao.cluster.bean.Cluster">
	update cluster
	<trim prefix="set" suffixOverrides=",">
		<if test="id!=null">id=#{id},</if>
		<if test="name!=null">name=#{name},</if>
		<if test="host!=null">host=#{host},</if>
		<if test="protocol!=null">protocol=#{protocol},</if>
		<if test="authType!=null">auth_type=#{authType},</if>
		<if test="username!=null">username=#{username},</if>
		<if test="password!=null">password=#{password},</if>
		<if test="machineToken!=null">machine_token=#{machineToken},</if>
		<if test="port!=null">port=#{port},</if>
		<if test="entryPoint!=null">entry_point=#{entryPoint},</if>
		<if test="haproxyVersion!=null">haproxy_version=#{haproxyVersion},</if>
		<if test="influxdbUrl!=null">influxdb_url=#{influxdbUrl,jdbcType=VARCHAR},</if>
		<if test="influxdbDb!=null">influxdb_db=#{influxdbDb,jdbcType=VARCHAR},</if>
		<if test="influxdbVersion!=null">influxdb_version=#{influxdbVersion,jdbcType=VARCHAR},</if>
		<if test="esHost!=null">es_host=#{esHost,jdbcType=VARCHAR},</if>
		<if test="esPort!=null">es_port=#{esPort,jdbcType=VARCHAR},</if>
		<if test="esClusterName!=null">es_cluster_name=#{esClusterName,jdbcType=VARCHAR},</if>
		<if test="esVersion!=null">es_version=#{esVersion,jdbcType=VARCHAR},</if>
		<if test="updateTime!=null">update_time=#{updateTime,jdbcType=TIMESTAMP}</if>
	</trim>
	WHERE host=#{host}
	</select>

    <select id="findClusterByTenantId" resultMap="clusterMap">
        select c.id,c.name,c.host,c.protocol,c.auth_type,c.username,c.password,c.machine_token,c.port,c.entry_point,c.haproxy_version,c.influxdb_url,c.influxdb_db,c.influxdb_version,c.es_host,c.es_port,c.es_cluster_name,c.es_version,c.create_time
        from cluster c
        join tenant_binding on c.id=tenant_binding.cluster_id
        WHERE tenant_binding.tenant_id=#{tenantId}
    </select>


</mapper>