<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- namespace必须指向Dao接口 -->
<mapper namespace="com.harmonycloud.dao.debug.DebugMapper">
        <insert id="insert" parameterType="com.harmonycloud.dao.debug.bean.DebugState">
                insert into debug_state
                (username,state,update_time,namespace,service,port,pod_name)
                values(#{username},#{state},sysdate(),#{namespace},#{service},#{port},#{podname})
        </insert>

        <update id="update" parameterType="com.harmonycloud.dao.debug.bean.DebugState">
                update debug_state
                set state=#{state},
                    pod_name=#{podname},
                    update_time=sysdate(),
                    namespace=#{namespace},
                    service=#{service},
                    port=#{port}
                WHERE username=#{username}
        </update>

        <select id="getStateByUsername" resultType="com.harmonycloud.dao.debug.bean.DebugState">
                select * from debug_state where username=#{username}
        </select>

        <select id="getStateByService" resultType="com.harmonycloud.dao.debug.bean.DebugState">
            select * from debug_state where service=#{service} and namespace=#{namespace} and state!='stop'
        </select>
</mapper>
