<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harmonycloud.dao.application.FileUploadContainerMapper" >
  <resultMap id="BaseResultMap" type="com.harmonycloud.dao.application.bean.FileUploadContainer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="container_file_path" property="containerFilePath" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="namespace" property="namespace" jdbcType="VARCHAR" />
    <result column="deployment" property="deployment" jdbcType="VARCHAR" />
    <result column="pod" property="pod" jdbcType="VARCHAR" />
    <result column="container" property="container" jdbcType="VARCHAR" />
    <result column="phase" property="phase" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="err_msg" property="errMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, container_file_path, file_name, user_id, namespace, deployment, pod, container, 
    phase, status, err_msg, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file_upload_container
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from file_upload_container
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from file_upload_container
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainerExample" >
    delete from file_upload_container
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainer" >
    insert into file_upload_container (id, container_file_path, file_name, 
      user_id, namespace, deployment, 
      pod, container, phase, 
      status, err_msg, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{containerFilePath,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{namespace,jdbcType=VARCHAR}, #{deployment,jdbcType=VARCHAR}, 
      #{pod,jdbcType=VARCHAR}, #{container,jdbcType=VARCHAR}, #{phase,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{errMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainer" >
    insert into file_upload_container
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="containerFilePath != null" >
        container_file_path,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="namespace != null" >
        namespace,
      </if>
      <if test="deployment != null" >
        deployment,
      </if>
      <if test="pod != null" >
        pod,
      </if>
      <if test="container != null" >
        container,
      </if>
      <if test="phase != null" >
        phase,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="errMsg != null" >
        err_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="containerFilePath != null" >
        #{containerFilePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="namespace != null" >
        #{namespace,jdbcType=VARCHAR},
      </if>
      <if test="deployment != null" >
        #{deployment,jdbcType=VARCHAR},
      </if>
      <if test="pod != null" >
        #{pod,jdbcType=VARCHAR},
      </if>
      <if test="container != null" >
        #{container,jdbcType=VARCHAR},
      </if>
      <if test="phase != null" >
        #{phase,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
     <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  </insert>
  <select id="countByExample" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainerExample" resultType="java.lang.Integer" >
    select count(*) from file_upload_container
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update file_upload_container
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.containerFilePath != null" >
        container_file_path = #{record.containerFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.namespace != null" >
        namespace = #{record.namespace,jdbcType=VARCHAR},
      </if>
      <if test="record.deployment != null" >
        deployment = #{record.deployment,jdbcType=VARCHAR},
      </if>
      <if test="record.pod != null" >
        pod = #{record.pod,jdbcType=VARCHAR},
      </if>
      <if test="record.container != null" >
        container = #{record.container,jdbcType=VARCHAR},
      </if>
      <if test="record.phase != null" >
        phase = #{record.phase,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.errMsg != null" >
        err_msg = #{record.errMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update file_upload_container
    set id = #{record.id,jdbcType=INTEGER},
      container_file_path = #{record.containerFilePath,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      namespace = #{record.namespace,jdbcType=VARCHAR},
      deployment = #{record.deployment,jdbcType=VARCHAR},
      pod = #{record.pod,jdbcType=VARCHAR},
      container = #{record.container,jdbcType=VARCHAR},
      phase = #{record.phase,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      err_msg = #{record.errMsg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainer" >
    update file_upload_container
    <set >
      <if test="containerFilePath != null" >
        container_file_path = #{containerFilePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="namespace != null" >
        namespace = #{namespace,jdbcType=VARCHAR},
      </if>
      <if test="deployment != null" >
        deployment = #{deployment,jdbcType=VARCHAR},
      </if>
      <if test="pod != null" >
        pod = #{pod,jdbcType=VARCHAR},
      </if>
      <if test="container != null" >
        container = #{container,jdbcType=VARCHAR},
      </if>
      <if test="phase != null" >
        phase = #{phase,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        err_msg = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harmonycloud.dao.application.bean.FileUploadContainer" >
    update file_upload_container
    set container_file_path = #{containerFilePath,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      namespace = #{namespace,jdbcType=VARCHAR},
      deployment = #{deployment,jdbcType=VARCHAR},
      pod = #{pod,jdbcType=VARCHAR},
      container = #{container,jdbcType=VARCHAR},
      phase = #{phase,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>