<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.ci.JobBuildMapper">
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.JobBuild">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="job_id" jdbcType="INTEGER" property="jobId" />
        <result column="build_num" jdbcType="VARCHAR" property="buildNum" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="duration" jdbcType="VARCHAR" property="duration" />
        <result column="log" jdbcType="VARCHAR" property="log" />
        <result column="start_user" jdbcType="VARCHAR" property="startUser"/>
    </resultMap>

    <select id="queryByObject" resultMap="BaseResultMap">
        SELECT id,job_id,build_num,status,duration,start_time,duration,log
        FROM cicd_job_build
        WHERE 1=1
        <if test="jobId!=null and jobId!=''"> AND job_id=#{jobId} </if>
        <if test="buildNum!=null and buildNum!=''"> AND build_num=#{buildNum} </if>
        ORDER BY build_num DESC
    </select>

    <insert id="insert" parameterType="com.harmonycloud.dao.ci.bean.JobBuild" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cicd_job_build(job_id,build_num,status,start_time,start_user)
        VALUE(#{jobId},#{buildNum},#{status},#{startTime},#{startUser})
    </insert>

    <update id="update" parameterType="com.harmonycloud.dao.ci.bean.JobBuild">
        UPDATE cicd_job_build
        SET status = #{status},
        start_time = #{startTime},
        duration = #{duration},
        log = #{log}
        WHERE id = #{id}
    </update>
    <delete id="deleteByJobId" parameterType="java.lang.Integer">
        DELETE FROM cicd_job_build WHERE id=#{id}
    </delete>

</mapper>