<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.harmonycloud.dao.ci.JobMapper">
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.Job" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="tenant" property="tenant" jdbcType="VARCHAR" />
        <result column="project_type" property="projectType" jdbcType="VARCHAR" />
        <result column="build_type" property="buildType" jdbcType="VARCHAR" />
        <result column="repository_type" property="repositoryType" jdbcType="VARCHAR" />
        <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
        <result column="repository_branch" property="repositoryBranch" jdbcType="VARCHAR" />
        <result column="credentials_username" property="credentialsUsername" jdbcType="VARCHAR" />
        <result column="credentials_password" property="credentialsPassword" jdbcType="VARCHAR" />
        <result column="base_image" property="baseImage" jdbcType="VARCHAR" />
        <result column="image_name" property="imageName" jdbcType="VARCHAR" />
        <result column="image_tag" property="imageTag" jdbcType="VARCHAR" />
        <result column="harbor_project" property="harborProject" jdbcType="VARCHAR" />
        <result column="" property="createUser" jdbcType="VARCHAR" />
    </resultMap>

    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT id,job_name,tenant,project_type,build_type,repository_type,repository_url,repository_branch,credentials_username,credentials_password,base_image,image_name,image_tag,harbor_project,create_user
        FROM job
        WHERE 1=1
        <if test="jobName!=null and jobName!=''"> AND job_name=#{jobName} </if>
        <if test="tenant!=null and tenant!=''"> AND tenant=#{tenant} </if>
        <if test="createUser!=null and createUser!=''"> AND createUser=#{create_user} </if>
    </select>

    <insert id="insertJob" parameterType="com.harmonycloud.dao.ci.bean.Job">
        INSERT INTO job (job_name,tenant,project_type,build_type,repository_type,repository_url,repository_branch,credentials_username,credentials_password,base_image,image_name,image_tag,harbor_project,create_user)
        VALUE (#{jobName},#{tenant},#{projectType},#{buildType},#{repositoryType},#{repositoryUrl},#{repositoryBranch},#{credentialsUsername},#{credentialsPassword},#{baseImage},#{imageName},#{imageTag},#{harborProject},#{createUser})
    </insert>
    <update id="updateJob" parameterType="com.harmonycloud.dao.ci.bean.Job">
        UPDATE job
        SET project_type = #{projectType},
        build_type = #{buildType},
        repository_type = #{repositoryType},
        repository_url = #{repositoryUrl},
        repository_branch = #{repositoryBranch},
        credentials_username = #{credentialsUsername},
        credentials_password = #{credentialsPassword},
        base_image = #{baseImage},
        image_name = #{imageName},
        image_tag = #{imageTag},
        harbor_project = #{harborProject}
        WHERE tenant = #{tenant} and job_name = #{jobName}
    </update>
    <delete id="deleteJobByTenantAndJobName" parameterType="java.lang.String">
        DELETE FROM job where tenant = #{tenant} and job_name = #{jobName}
    </delete>


</mapper>
