<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harmonycloud.dao.application.ServiceMapper" >
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.application.bean.Service" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="business_id" property="businessId" jdbcType="INTEGER" />
        <result column="service_template_id" property="serviceTemplateId" jdbcType="INTEGER" />
        <result column="is_external" property="isExternal" jdbcType="INTEGER" />
        <result column="pvc" property="pvc" jdbcType="VARCHAR" />
        <result column="ingress" property="ingress" jdbcType="VARCHAR" />
        <result column="namespace" property="namespace" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByBusinessIdAndName" parameterType="java.lang.String" resultType="com.harmonycloud.dao.application.bean.Service">
        select * from service where business_id =#{0} and name=#{1}
    </select>

    <select id="selectByBusinessId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from service where business_id =#{id}
    </select>

    <insert id="insertService" parameterType="com.harmonycloud.dao.application.bean.Service">
        INSERT INTO service (name,business_id,service_template_id,is_external,pvc,ingress,namespace) VALUE (#{name},#{businessId},#{serviceTemplateId},#{isExternal},#{pvc},#{ingress},#{namespace})
    </insert>

    <delete id="deleteSerivceByID" parameterType="java.util.List">
        DELETE FROM service WHERE id IN
        <foreach collection="ids" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteSerivceByNamespace" parameterType="java.lang.String">
        DELETE FROM service WHERE namespace = #{namespace} 
    </delete>


    <select id="selectServiceByIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        select * from service WHERE id IN
        <foreach collection="idList" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectServiceByNames" parameterType="java.util.List" resultMap="BaseResultMap">
        select * from service WHERE name IN
        <foreach collection="names" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

	<select id="selectServiceByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from service WHERE name =#{name} and namespace = #{namespace}
    </select>
	
	<update id="updateServicePVC">
		update service set pvc=#{pvc} where name=#{name} and namespace = #{namespace}
	</update>
</mapper>
