<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.application.ServiceTemplatesMapper">
  <resultMap id="BaseResultMap" type="com.harmonycloud.dao.application.bean.ServiceTemplates">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="deployment_content" jdbcType="VARCHAR" property="deploymentContent" />
    <result column="image_list" jdbcType="VARCHAR" property="imageList" />
    <result column="ingress_content" jdbcType="VARCHAR" property="ingressContent" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tenant" jdbcType="VARCHAR" property="tenant" />
    <result column="create_user" jdbcType="VARCHAR" property="user" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="node_selector" property="nodeSelector" jdbcType="VARCHAR" />
    <result column="is_public" property="isPublic" jdbcType="BOOLEAN" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR"/>
    <result column="cluster_id" property="clusterId" jdbcType="VARCHAR"/>
    <result column="service_account" property="serviceAccount" jdbcType="VARCHAR"/>
    <result column="service_type" property="serviceType" jdbcType="INTEGER"/>
  </resultMap>


  <insert id="insert" parameterType="com.harmonycloud.dao.application.bean.ServiceTemplates" useGeneratedKeys="true" keyProperty="id">
    insert into service_templates (name, tag, details, image_list, ingress_content, status, tenant, create_user, create_time, flag, deployment_content, node_selector, is_public, project_id, cluster_id, service_type)
    values (#{name}, #{tag}, #{details}, #{imageList}, #{ingressContent}, #{status}, #{tenant}, #{user}, #{createTime}, #{flag}, #{deploymentContent}, #{nodeSelector}, #{isPublic}, #{projectId}, #{clusterId}, #{serviceType})
  </insert>

  <select id="listServiceByTenant" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * FROM service_templates WHERE name =#{name} AND status=0 and flag=0 and project_id = #{projectId}
  </select>

  <select id="listNameByProjectId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * FROM service_templates WHERE
    <if test="name != null" >
      name like concat(concat('%',#{name}),'%') AND
    </if>
    <if test="clusterId != null" >
      (cluster_id = #{clusterId}) AND
    </if>
    <if test="projectId != null" >
      (project_id = #{projectId}) AND
    </if>
    <if test ="serviceType != null">
      service_type = #{serviceType} AND
    </if>
     status=0 and flag=0 and is_public=#{isPublic}
  </select>

  <select id="listNameByImage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select distinct name , tenant FROM service_templates WHERE
    <if test="name != null" >
      name like concat(concat('%',#{name}),'%') AND
    </if>
    <if test="tenant != null" >
      tenant = #{tenant} AND
    </if>
    <if test="projectId != null" >
      project_id = #{projectId} AND
    </if>
    image_list LIKE concat(concat('%',#{image}),'%') AND status=0 and flag=0
  </select>
 
   <select id="listServiceByImage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * FROM service_templates WHERE 
      name =#{name} AND 
      tenant = #{tenant} AND image_list =#{image} AND status=0 and flag=0 and is_public=#{isPublic}
  </select> 
  
  <select id="listServiceLikeImage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * FROM service_templates WHERE 
      name =#{name} AND 
      tenant = #{tenant} AND image_list LIKE concat(concat('%',#{image}),'%') AND status=0 and flag=0 AND project_id = #{projectId}
  </select> 

  <select id="listServiceMaxTagByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates where tag = (SELECT  max(tag) FROM service_templates where name = #{name} AND status=0 and flag=0) AND name = #{name} AND status=0 and flag=0
  </select>

  <select id="listByTemplateName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE name = #{name}
    <if test="projectId != null and projectId != '' ">
    and project_id = #{projectId}
    </if>
    AND status=0 and flag=0 order by tag desc
  </select>

  <select id="listIDListByTemplateName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE name = #{name} AND status=0 and flag=0
  </select>

  <update id="deleteByName" parameterType="java.lang.String">
    update service_templates SET status = 1
    WHERE name = #{name}
    <if test="clusterId != null" >
      AND cluster_id = #{clusterId}
    </if>
    <if test="projectId != null" >
      AND project_id = #{projectId}
    </if>
  </update>

  <select id="listTplByNameAndProjectAndCluster" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE
    <if test="name != null" >
      name = #{name} AND
    </if>
    <if test="clusterId != null" >
      cluster_id = #{clusterId} AND
    </if>
    <if test="projectId != null" >
      project_id = #{projectId} AND
    </if>
    status=0 and flag=0 and is_public=#{isPublic}
  </select>

  <select id="getSpecificService" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE name = #{name}
    <if test="tag != null and tag != '' ">
      AND tag=#{tag}
    </if>
     AND status=0 and flag=0
    <if test="clusterId != null and clusterId != '' ">
      and cluster_id = #{clusterId}
    </if>
    and project_id = #{projectId}
  </select>

  <select id="getServiceTemplatesByID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE id = #{ID}
  </select>

  <select id="listServiceTemplate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from service_templates where name=#{name} and flag=0
    <if test="tag!=null and tag!=''">
      and tag=#{tag}
    </if>
    order by tag desc
  </select>
  
  <select id="listSearchByImage" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE status=0 and flag=0  and is_public=#{isPublic}
    <if test="image != null and image != ''">
    	and image_list LIKE concat(concat('%',#{image}),'%')
    </if>
    <if test="clusterId != null" >
        and (cluster_id = #{clusterId})
    </if>
    <if test="projectId != null" >
      and (project_id = #{projectId})
    </if>
    <if test ="serviceType != null">
      and service_type = #{serviceType}
    </if>
  </select>
  
  <select id="listSearchByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM service_templates WHERE status=0 and flag=0 and is_public=#{isPublic}
    <if test="name != null and name != ''">
    	and name LIKE concat(concat('%',#{name}),'%')
    </if>
    <if test="clusterId != null" >
        and (cluster_id = #{clusterId})
    </if>
    <if test="projectId != null" >
      and (project_id = #{projectId})
    </if>
    <if test ="serviceType != null">
      and service_type = #{serviceType}
    </if>
  </select>
  
  <delete id="deleteByProjects">
    delete from service_templates where project_id in
   	  <foreach item="item" index="index" collection="projectIds" open="(" separator="," close=")">
       	#{item}
      </foreach> 
  </delete>

  <delete id="deleteByClusterId">
    delete from service_templates where cluster_id = #{clusterId}
  </delete>
  
    <delete id="deleteById">
    delete from service_templates where id = #{id}
  </delete>
  <update id="updateServiceTemplate">
    update service_templates
    <set>
        details = #{details},
      <if test="deploymentContent != null">
        deployment_content = #{deploymentContent},
      </if>
      <if test="user != null">
        create_user = #{user},
      </if>
      <if test="imageList != null">
        image_list = #{imageList},
      </if>
      <if test="serviceAccount != null">
        service_account = #{serviceAccount},
      </if>
      <if test="serviceType != null">
        service_type = #{serviceType},
      </if>
        ingress_content = #{ingressContent},
        node_selector = #{nodeSelector},
    </set>
    where id = #{id}
  </update>
  
    <select id="listPublicSearchByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT DISTINCT tenant, name, image_list FROM service_templates WHERE status=0 and flag=0 and is_public=#{isPublic}
    <if test="name != null and name != ''">
    	and name LIKE concat(concat('%',#{name}),'%')
    </if>
    <if test ="serviceType != null">
      and service_type = #{serviceType}
    </if>
  </select>
  
    <select id="listPublicSearchByImage" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT DISTINCT tenant, name, image_list FROM service_templates WHERE status=0 and flag=0  and is_public=#{isPublic}
    <if test="image != null and image != ''">
    	and image_list LIKE concat(concat('%',#{image}),'%')
    </if>
    <if test ="serviceType != null">
      and service_type = #{serviceType}
    </if>
  </select>
  
    <select id="listPublicNameByTenant" parameterType="java.lang.String" resultMap="BaseResultMap">
    select distinct name , image_list,tenant FROM service_templates WHERE
    <if test="name != null" >
      name like concat(concat('%',#{name}),'%') AND
    </if>
    <if test ="serviceType != null">
      service_type = #{serviceType} AND
    </if>
     status=0 and flag=0 and is_public=#{isPublic}
  </select>
  
  <update id="updateServiceTemplatePublic">
    update service_templates
    <set>
        is_public = #{isPublic},
    </set>
    where name = #{name} and status=0 and flag=0
  </update>

  <delete id="deleteByAppId">
    delete from service_templates where id in (select service_id from app_store_service where app_id = #{appId})
  </delete>

  <select id="listByAPPId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM service_templates where id in (select service_id from app_store_service where app_id = #{appId})
  </select>
</mapper>
