<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.ci.StageTypeMapper">
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.StageType">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="user_defined" jdbcType="BOOLEAN" property="userDefined" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="template_type" jdbcType="VARCHAR" property="templateType" />
    </resultMap>

    <sql id="selectAllColumns">
        SELECT st.id,st.name,st.user_defined,st.template_type
        FROM cicd_stage_type st
    </sql>

    <select id="queryByTenantId" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        WHERE tenant_id =#{tenentId} or tenant_id is NULL
        ORDER BY id
    </select>

    <select id="queryByTenant" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        LEFT JOIN tenant_binding tb ON st.tenant_id=tb.tenant_id
        WHERE tb.tenant_name =#{tenent} or st.tenant_id is NULL
        ORDER BY id
    </select>

    <select id="queryById" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        WHERE id=#{id}
    </select>

    <insert id="insertStageType" parameterType="com.harmonycloud.dao.ci.bean.StageType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cicd_stage_type(name,user_defined,tenant_id,template_type)
        VALUES(#{name},#{userDefined},#{tenantId},#{templateType})
    </insert>

    <delete id="deleteStageType" parameterType="java.lang.Integer">
      DELETE FROM cicd_stage_type WHERE id = #{id}
    </delete>
</mapper>