<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.ci.StageMapper">
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.Stage">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="job_id" jdbcType="INTEGER" property="jobId" />
        <result column="stage_order" jdbcType="VARCHAR" property="stageOrder" />
        <result column="stage_type_id" jdbcType="INTEGER" property="stageTypeId" />
        <result column="stage_template_type" jdbcType="INTEGER" property="stageTemplateType" />
        <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
        <result column="repository_type" jdbcType="VARCHAR" property="repositoryType" />
        <result column="repository_url" jdbcType="VARCHAR" property="repositoryUrl" />
        <result column="repository_branch" jdbcType="VARCHAR" property="repositoryBranch" />
        <result column="credentials_username" jdbcType="VARCHAR" property="credentialsUsername" />
        <result column="credentials_password" jdbcType="VARCHAR" property="credentialsPassword" />
        <result column="environment_change" jdbcType="BOOLEAN" property="environmentChange" />
        <result column="build_environment_id" jdbcType="VARCHAR" property="buildEnvironmentId" />
        <result column="environment_variables" jdbcType="VARCHAR" property="environmentVariables" />
        <result column="use_dependency" jdbcType="BOOLEAN" property="useDependency" />
        <result column="dependences" jdbcType="VARCHAR" property="dependences" />
        <result column="dockerfile_type" jdbcType="INTEGER" property="dockerfileType" />
        <result column="base_image" jdbcType="VARCHAR" property="baseImage" />
        <result column="dockerfile_id" jdbcType="VARCHAR" property="dockerfileId" />
        <result column="dockerfile_path" jdbcType="VARCHAR" property="dockerfilePath" />
        <result column="image_name" jdbcType="VARCHAR" property="imageName" />
        <result column="image_tag_type" jdbcType="VARCHAR" property="imageTagType" />
        <result column="image_base_tag" jdbcType="VARCHAR" property="imageBaseTag" />
        <result column="image_increase_tag" jdbcType="VARCHAR" property="imageIncreaseTag" />
        <result column="image_tag" jdbcType="VARCHAR" property="imageTag" />
        <result column="harbor_project" jdbcType="VARCHAR" property="harborProject" />
        <result column="deploy_type" jdbcType="VARCHAR" property="deployType" />
        <result column="namespace" jdbcType="VARCHAR" property="namespace" />
        <result column="origin_stage_id" jdbcType="INTEGER" property="originStageId" />
        <result column="service_template_name" jdbcType="VARCHAR" property="serviceTemplateName" />
        <result column="service_template_tag" jdbcType="VARCHAR" property="serviceTemplateTag" />
        <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
        <result column="container_name" jdbcType="VARCHAR" property="containerName" />
        <result column="configuration" jdbcType="VARCHAR" property="configuration"/>
        <result column="instances" jdbcType="INTEGER" property="instances"/>
        <result column="max_surge" jdbcType="INTEGER" property="maxSurge"/>
        <result column="max_unavailable" jdbcType="INTEGER" property="maxUnavailable"/>
        <result column="command" jdbcType="VARCHAR" property="command" />
        <result column="suite_id" jdbcType="VARCHAR" property="suiteId" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="dest_cluster_id" jdbcType="VARCHAR" property="destClusterId" />
        <result column="repository_id" jdbcType="VARCHAR" property="repositoryId" />
    </resultMap>

    <sql id="selectAllColumns">
        SELECT s.id,
        s.job_id,
        s.stage_order,
        s.stage_type_id,
        s.stage_name,
        s.repository_type,
        s.repository_url,
        s.repository_branch,
        s.credentials_username,
        s.credentials_password,
        s.environment_change,
        s.build_environment_id,
        s.environment_variables,
        s.use_dependency,
        s.dependences,
        s.dockerfile_type,
        s.base_image,
        s.dockerfile_id,
        s.dockerfile_path,
        s.image_type,
        s.image_name,
        s.image_tag_type,
        s.image_base_tag,
        s.image_increase_tag,
        s.image_tag,
        s.harbor_project,
        s.deploy_type,
        s.namespace,
        s.origin_stage_id,
        s.service_template_name,
        s.service_template_tag,
        s.service_name,
        s.container_name,
        s.configuration,
        s.instances,
        s.max_surge,
        s.max_unavailable,
        s.command,
        s.suite_id,
        s.create_time,
        s.update_time,
        s.dest_cluster_id,
        s.repository_id,
        cicd_stage_type.template_type stage_template_type
        FROM cicd_stage s
        JOIN cicd_stage_type ON s.stage_type_id = cicd_stage_type.id
    </sql>

    <insert id="insertStage" parameterType="com.harmonycloud.dao.ci.bean.Stage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cicd_stage(
        job_id,
        stage_order,
        stage_type_id,
        stage_name,
        repository_type,
        repository_url,
        repository_branch,
        credentials_username,
        credentials_password,
        environment_change,
        build_environment_id,
        environment_variables,
        use_dependency,
        dependences,
        dockerfile_type,
        base_image,
        dockerfile_id,
        dockerfile_path,
        image_name,
        image_tag_type,
        image_base_tag,
        image_increase_tag,
        image_tag,
        harbor_project,
        deploy_type,
        namespace,
        origin_stage_id,
        service_template_name,
        service_template_tag,
        service_name,
        container_name,
        configuration,
        instances,
        max_surge,
        max_unavailable,
        command,
        suite_id,
        create_user,
        create_time,
        update_user,
        update_time,
        dest_cluster_id,
        repository_id
        )
        VALUES(
        #{jobId},
        #{stageOrder},
        #{stageTypeId},
        #{stageName},
        #{repositoryType},
        #{repositoryUrl},
        #{repositoryBranch},
        #{credentialsUsername},
        #{credentialsPassword},
        #{environmentChange},
        #{buildEnvironmentId},
        #{environmentVariables},
        #{useDependency},
        #{dependences},
        #{dockerfileType},
        #{baseImage},
        #{dockerfileId},
        #{dockerfilePath},
        #{imageName},
        #{imageTagType},
        #{imageBaseTag},
        #{imageIncreaseTag},
        #{imageTag},
        #{harborProject},
        #{deployType},
        #{namespace},
        #{originStageId},
        #{serviceTemplateName},
        #{serviceTemplateTag},
        #{serviceName},
        #{containerName},
        #{configuration},
        #{instances},
        #{maxSurge},
        #{maxUnavailable},
        #{command},
        #{suiteId},
        #{createUser},
        #{createTime},
        #{updateUser},
        #{updateTime},
        #{destClusterId},
        #{repositoryId}
        )
    </insert>

    <select id="queryByJobId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        WHERE s.job_id = #{jobId}  ORDER BY s.stage_order
    </select>

    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        WHERE s.id = #{id}
    </select>

    <select id="queryByStageTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        JOIN cicd_job ON s.job_id = cicd_job.id
        WHERE cicd_stage_type.tenant_id = cicd_job.tenant_id AND s.stage_type_id = #{stageTypeId}
    </select>

    <update id="updateStage" parameterType="com.harmonycloud.dao.ci.bean.Stage">
        UPDATE cicd_stage SET
        stage_name = #{stageName},
        stage_type_id = #{stageTypeId},
        repository_type = #{repositoryType},
        repository_url = #{repositoryUrl},
        repository_branch = #{repositoryBranch},
        credentials_username = #{credentialsUsername},
        credentials_password = #{credentialsPassword},
        environment_change = #{environmentChange},
        build_environment_id = #{buildEnvironmentId},
        environment_variables = #{environmentVariables},
        use_dependency = #{useDependency},
        dependences = #{dependences},
        dockerfile_type = #{dockerfileType},
        base_image = #{baseImage},
        dockerfile_id = #{dockerfileId},
        dockerfile_path = #{dockerfilePath},
        image_name = #{imageName},
        image_tag_type = #{imageTagType},
        image_base_tag = #{imageBaseTag},
        image_increase_tag = #{imageIncreaseTag},
        image_tag = #{imageTag},
        harbor_project = #{harborProject},
        deploy_type = #{deployType},
        namespace = #{namespace},
        origin_stage_id = #{originStageId},
        service_template_name = #{serviceTemplateName},
        service_template_tag = #{serviceTemplateTag},
        service_name = #{serviceName},
        container_name = #{containerName},
        configuration = #{configuration},
        instances = #{instances},
        max_surge = #{maxSurge},
        max_unavailable = #{maxUnavailable},
        command = #{command},
        suite_id = #{suiteId},
        update_user = #{updateUser},
        update_time = #{updateTime},
        dest_cluster_id = #{destClusterId},
        repository_id = #{repositoryId}
        WHERE id = #{id}
    </update>

    <update id="increaseStageOrder" parameterType="java.lang.Integer">
        UPDATE cicd_stage SET stage_order = stage_order + 1 WHERE job_id = #{jobId} and stage_order >= #{stageOrder}
    </update>
    <update id="decreaseStageOrder" parameterType="java.lang.Integer">
        UPDATE cicd_stage SET stage_order = stage_order - 1 WHERE job_id = #{jobId} and stage_order > #{stageOrder}
    </update>

    <delete id="deleteStage" parameterType="java.lang.Integer">
        DELETE FROM cicd_stage where id = #{id}
    </delete>

    <delete id="deleteStageByJob" parameterType="java.lang.Integer">
        DELETE FROM cicd_stage where job_id = #{id}
    </delete>

    <select id="querySonarByJobId" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        WHERE cicd_stage_type.template_type = #{stageTemplateType}

        <if test="op!=null and op!=''">
            <if test="op == 'LT'">
                <![CDATA[ AND s.stage_order < #{stageOrder} ]]>
            </if>
            <if test="op == 'GT'">
                <![CDATA[ AND s.stage_order > #{stageOrder} ]]>
            </if>
        </if>
        AND s.job_id = #{jobId} ORDER BY s.stage_order
    </select>
    <sql id="Where_Clause">
        <where>
            <if test="jobId != null">
                AND job_id = #{jobId}
            </if>
            <if test="stageOrder != null">
                AND stage_order = #{stageOrder}
            </if>
            <if test="buildEnvironmentId != null">
                AND build_environment_id = #{buildEnvironmentId}
            </if>
            <if test="dockerfileId != null">
                AND dockerfile_id = #{dockerfileId}
            </if>
            <if test="dependences != null">
                AND dependences like concat(concat('%',#{dependences}),'%')
            </if>
            <if test="credentialsUsername != null">
                AND credentials_username = #{credentialsUsername}
            </if>
        </where>
    </sql>

    <select id="countByExample" parameterType="com.harmonycloud.dao.ci.bean.Stage" resultType="java.lang.Long">
        SELECT count(1) FROM cicd_stage s
        <include refid="Where_Clause" />
    </select>
    <select id="selectByExample" parameterType="com.harmonycloud.dao.ci.bean.Stage" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        <include refid="Where_Clause" />
    </select>
    <update id="updatePasswordByUsername" >
        UPDATE cicd_stage SET credentials_password=#{password} WHERE credentials_username = #{username}
    </update>
</mapper>