<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.ci.StageBuildMapper">
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.StageBuild">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="job_id" jdbcType="INTEGER" property="jobId" />
        <result column="stage_id" jdbcType="INTEGER" property="stageId" />
        <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
        <result column="stage_order" jdbcType="INTEGER" property="stageOrder" />
        <result column="stage_type_id" jdbcType="INTEGER" property="stageTypeId" />
        <result column="stage_type" jdbcType="VARCHAR" property="stageType" />
        <result column="stage_template_type_id" jdbcType="INTEGER" property="stageTemplateTypeId" />
        <result column="build_num" jdbcType="VARCHAR" property="buildNum" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="duration" jdbcType="VARCHAR" property="duration" />
        <result column="log" jdbcType="VARCHAR" property="log" />
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="test_result" jdbcType="VARCHAR" property="testResult"/>
        <result column="test_url" jdbcType="VARCHAR" property="testUrl"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_id,stage_id,stage_name,stage_order,stage_type_id,stage_type,stage_template_type_id,build_num,status,start_time,duration,image,test_result,test_url
    </sql>
    <sql id="Where_Clause">
        <trim prefix="where" prefixOverrides="and">
            <if test="jobId!=null">
                AND job_id=#{jobId}
            </if>
            <if test="stageId!=null">
                AND stage_id=#{stageId}
            </if>
            <if test="buildNum!=null">
                AND build_num=#{buildNum}
            </if>
            <if test="status!=null">
                AND status=#{status}
            </if>
        </trim>
    </sql>

    <select id="queryByObject" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM cicd_stage_build
        <include refid="Where_Clause" />
        ORDER BY build_num DESC
    </select>


    <select id="countByObject" resultType="java.lang.Integer">
        SELECT count(1)
        FROM cicd_stage_build
        <trim prefix="where" prefixOverrides="and">
            <if test="jobId!=null">
                AND job_id=#{jobId}
            </if>
            <if test="stageId!=null">
                AND stage_id=#{stageId}
            </if>
            <if test="buildNum!=null">
                AND build_num=#{buildNum}
            </if>
        </trim>
    </select>

    <select id="queryByObjectWithPagination" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM cicd_stage_build
        <trim prefix="where" prefixOverrides="and">
            <if test="stageBuild.jobId!=null">
                AND job_id=#{stageBuild.jobId}
            </if>
            <if test="stageBuild.stageId!=null">
                AND stage_id=#{stageBuild.stageId}
            </if>
            <if test="stageBuild.buildNum!=null">
                AND build_num=#{stageBuild.buildNum}
            </if>
        </trim>
        ORDER BY build_num DESC
        LIMIT #{offset},#{rows}
    </select>

    <insert id="insert" parameterType="com.harmonycloud.dao.ci.bean.StageBuild">
        INSERT INTO cicd_stage_build(job_id,stage_id,stage_name,stage_order,stage_type_id,stage_type,stage_template_type_id,build_num,status,start_time,image)
        VALUE(#{jobId},#{stageId},#{stageName},#{stageOrder},#{stageTypeId},#{stageType},#{stageTemplateTypeId},#{buildNum},#{status},#{startTime},#{image})
    </insert>

    <update id="updateByStageOrderAndBuildNum">
        UPDATE cicd_stage_build
        SET start_time = #{stageBuild.startTime},
        duration = #{stageBuild.duration},
        status = #{stageBuild.status},
        log = #{stageBuild.log}
        <if test="stageBuild.image!=null and stageBuild.image !=''">
            ,image=#{stageBuild.image}
        </if>
        WHERE job_id = #{stageBuild.jobId}
        AND stage_order = #{stageBuild.stageOrder}
        AND build_num = #{stageBuild.buildNum}
    </update>

    <update id="updateWaitingStage" parameterType="java.lang.Integer">
        UPDATE cicd_stage_build
        SET status = 'NOTBUILT'
        WHERE job_id = #{jobId}
        AND build_num = #{buildNum}
        AND status = 'WAITING'
    </update>

    <delete id="deleteByJobId" parameterType="java.lang.Integer">
        DELETE FROM cicd_stage_build
        WHERE job_id=#{id}
    </delete>

    <update id="updateByStageIdAndBuildNum" parameterType="com.harmonycloud.dao.ci.bean.StageBuild">
        UPDATE cicd_stage_build
        <set>
            <if test="jobId != null">
                job_id = #{jobId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="duration != null">
                duration = #{duration},
            </if>
            <if test="stageName != null">
                stage_name = #{stageName},
            </if>
            <if test="stageOrder != null">
                stage_order = #{stageOrder},
            </if>
            <if test="stageTypeId != null">
                stage_type_id = #{stageTypeId},
            </if>
            <if test="stageType != null">
                stage_type = #{stageType},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="testResult != null">
                test_result = #{testResult},
            </if>
            <if test="testUrl != null">
                test_url = #{testUrl},
            </if>
        </set>
        WHERE stage_id = #{stageId}
        AND build_num = #{buildNum}
    </update>

    <select id="queryLogByObject" resultType="java.lang.String">
        SELECT log FROM cicd_stage_build
        <include refid="Where_Clause" />
    </select>
</mapper>