<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.ci.StageSonarMapper">
    <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.StageSonar">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="stage_id" jdbcType="INTEGER" property="stageId" />
        <result column="qualitygates_id" jdbcType="INTEGER" property="qualitygatesId" />
        <result column="project_name" jdbcType="VARCHAR" property="projectName" />
        <result column="project_key" jdbcType="VARCHAR" property="projectKey" />
        <result column="sonar_property" jdbcType="VARCHAR" property="sonarProperty" />
    </resultMap>

    <sql id="selectAllColumns">
        id,stage_id,qualitygates_id,project_name,project_key,sonar_property
    </sql>

    <insert id="insertStageSonar" parameterType="com.harmonycloud.dao.ci.bean.StageSonar" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cicd_stage_sonar(
        stage_id,
        qualitygates_id,
        project_name,
        project_key,
        sonar_property
        )
        VALUES(
        #{stageId},
        #{qualitygatesId},
        #{projectName},
        #{projectKey},
        #{sonarProperty}
        )
    </insert>

    <select id="queryByStageId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="selectAllColumns"/> FROM cicd_stage_sonar
        WHERE stage_id = #{stageId}
    </select>

    <update id="updateStageSonar" parameterType="com.harmonycloud.dao.ci.bean.StageSonar">
        UPDATE cicd_stage_sonar
        <trim prefix="set" suffixOverrides=",">
            <if test="qualitygatesId!=null and qualitygatesId!=''">
                qualitygates_id = #{qualitygatesId},
            </if>
            <if test="projectName!=null and projectName!=''">
                project_name = #{projectName},
            </if>
            <if test="projectKey!=null and projectKey!=''">
                project_key = #{projectKey},
            </if>
            <if test="sonarProperty!=null and sonarProperty!=''">
                sonar_property = #{sonarProperty},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByStageId" parameterType="java.lang.Integer">
        DELETE FROM cicd_stage_sonar where stage_id = #{stageId}
    </delete>

</mapper>