<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.cluster.TransferStepMapper">
  <resultMap id="BaseResultMap" type="com.harmonycloud.dao.cluster.bean.TransferStep">
    <id column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="percent" jdbcType="VARCHAR" property="percent" />
  </resultMap>
  <sql id="Base_Column_List">
    step_id, step_name, `percent`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transfer_step
    where step_id = #{stepId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transfer_step
    where step_id = #{stepId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.harmonycloud.dao.cluster.bean.TransferStep">
    insert into transfer_step (step_id, step_name, `percent`
      )
    values (#{stepId,jdbcType=INTEGER}, #{stepName,jdbcType=VARCHAR}, #{percent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harmonycloud.dao.cluster.bean.TransferStep">
    insert into transfer_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepId != null">
        step_id,
      </if>
      <if test="stepName != null">
        step_name,
      </if>
      <if test="percent != null">
        `percent`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="stepName != null">
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="percent != null">
        #{percent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harmonycloud.dao.cluster.bean.TransferStep">
    update transfer_step
    <set>
      <if test="stepName != null">
        step_name = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="percent != null">
        `percent` = #{percent,jdbcType=VARCHAR},
      </if>
    </set>
    where step_id = #{stepId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harmonycloud.dao.cluster.bean.TransferStep">
    update transfer_step
    set step_name = #{stepName,jdbcType=VARCHAR},
      `percent` = #{percent,jdbcType=VARCHAR}
    where step_id = #{stepId,jdbcType=INTEGER}
  </update>
</mapper>