<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.dao.ci.TriggerMapper">
  <resultMap id="BaseResultMap" type="com.harmonycloud.dao.ci.bean.Trigger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="is_customised" jdbcType="INTEGER" property="isCustomised" />
    <result column="cron_exp" jdbcType="VARCHAR" property="cronExp" />
    <result column="trigger_job_id" jdbcType="INTEGER" property="triggerJobId" />
    <result column="trigger_image" jdbcType="VARCHAR" property="triggerImage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, job_id, is_valid, type, is_customised, cron_exp, trigger_job_id, trigger_image
  </sql>
  <select id="selectByExample" parameterType="com.harmonycloud.dao.ci.bean.TriggerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cicd_trigger
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cicd_trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cicd_trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.harmonycloud.dao.ci.bean.TriggerExample">
    delete from cicd_trigger
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.harmonycloud.dao.ci.bean.Trigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cicd_trigger (job_id, is_valid, type, 
      is_customised, cron_exp, trigger_job_id, trigger_image
      )
    values (#{jobId,jdbcType=INTEGER}, #{isValid,jdbcType=BIT}, #{type,jdbcType=INTEGER}, 
      #{isCustomised,jdbcType=INTEGER}, #{cronExp,jdbcType=VARCHAR}, #{triggerJobId,jdbcType=INTEGER}, #{triggerImage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harmonycloud.dao.ci.bean.Trigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cicd_trigger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isCustomised != null">
        is_customised,
      </if>
      <if test="cronExp != null">
        cron_exp,
      </if>
      <if test="triggerJobId != null">
        trigger_job_id,
      </if>
      <if test="triggerImage != null">
        trigger_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isCustomised != null">
        #{isCustomised,jdbcType=INTEGER},
      </if>
      <if test="cronExp != null">
        #{cronExp,jdbcType=VARCHAR},
      </if>
      <if test="triggerJobId != null">
        #{triggerJobId,jdbcType=INTEGER},
      </if>
      <if test="triggerImage != null">
        #{triggerImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.harmonycloud.dao.ci.bean.TriggerExample" resultType="java.lang.Long">
    select count(*) from cicd_trigger
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cicd_trigger
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=BIT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.isCustomised != null">
        is_customised = #{record.isCustomised,jdbcType=INTEGER},
      </if>
      <if test="record.cronExp != null">
        cron_exp = #{record.cronExp,jdbcType=VARCHAR},
      </if>
      <if test="record.triggerJobId != null">
        trigger_job_id = #{record.triggerJobId,jdbcType=INTEGER},
      </if>
      <if test="record.triggerImage != null">
        trigger_image = #{record.triggerImage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cicd_trigger
    set id = #{record.id,jdbcType=INTEGER},
      job_id = #{record.jobId,jdbcType=INTEGER},
      is_valid = #{record.isValid,jdbcType=BIT},
      type = #{record.type,jdbcType=INTEGER},
      is_customised = #{record.isCustomised,jdbcType=INTEGER},
      cron_exp = #{record.cronExp,jdbcType=VARCHAR},
      trigger_job_id = #{record.triggerJobId,jdbcType=INTEGER},
      trigger_image = #{record.triggerImage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.harmonycloud.dao.ci.bean.Trigger">
    update cicd_trigger
    <set>
      <if test="jobId != null">
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isCustomised != null">
        is_customised = #{isCustomised,jdbcType=INTEGER},
      </if>
      <if test="cronExp != null">
        cron_exp = #{cronExp,jdbcType=VARCHAR},
      </if>
      <if test="triggerJobId != null">
        trigger_job_id = #{triggerJobId,jdbcType=INTEGER},
      </if>
      <if test="triggerImage != null">
        trigger_image = #{triggerImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harmonycloud.dao.ci.bean.Trigger">
    update cicd_trigger
    set job_id = #{jobId,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=BIT},
      type = #{type,jdbcType=INTEGER},
      is_customised = #{isCustomised,jdbcType=INTEGER},
      cron_exp = #{cronExp,jdbcType=VARCHAR},
      trigger_job_id = #{triggerJobId,jdbcType=INTEGER},
      trigger_image = #{triggerImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByJobId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cicd_trigger
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
</mapper>