<div class="menu" id="menu" ng-class="{foldmenu:foldMenu}" ng-controller="MessageController">
	<div class="logo">
		<img src="./images/logo2.png">
	</div>
	<div class="menu-bar">
		<ul class="menu-bar-ul" id="menu-bar-ul">

			<li ng-repeat="menu in menuList" ng-init="indexa = $index">
				<span class="bar-first" ng-bind="menu.transName|translate"></span>
				<div ng-repeat="sub in menu.subMenu" ng-init="indexb = $index">
					<div class="menu-bar-item pointer" ui-sref-active="menu-bar-item-click" ui-sref="{{sub.url}}" ng-if="sub.subMenu.length <= 0 || !sub.subMenu.length">
						<div class="menu-bar-text">
							<span class="menu-icon" ng-class="sub.iconName"></span>
							<span class="menu-size" ng-bind="sub.transName|translate"></span>
						</div>
					</div>
					<div class="menu-bar-expand pointer" ng-class="{'changeBack':$state.includes(sub.url)}" ng-if="sub.subMenu.length > 0" ng-init="sub.direct = 'right'">
						<div class="menu-bar-text" ng-click="expand(indexa,indexb)">
							<span class="menu-icon" ng-class="sub.iconName"></span>
							<span class="menu-size" ng-bind="sub.transName|translate"></span>
						</div>
						<span class="icon-caret-{{sub.direct}} right-icon" ng-click="expand(indexa,indexb)"></span>
						<ul class="third-ul" ng-style="{height:32*sub.subMenu.length}" ng-class="{'thirdUlFold':sub.direct == 'right'}">
							<li ng-repeat="third in sub.subMenu" class="third-li" ui-sref="{{third.url}}" ng-class="{'third-bar-click':$state.includes(third.url)}">
								<span class="icon-circle menu-icon third-icon"></span>
								<span ng-bind="third.transName|translate"></span>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="hc-lang" ng-bind="'chooseTrans'|translate" ng-click="translate()">

	</div>
</div>