<div class="modify-container">
	<div class="modify-container-title">{{'modifyRouter'|translate}}</div>
	<ul class="service-information-ul">
			<li class="service-information-list">
				<span class="service-informantion-name">{{'name'|translate}} ：</span>
				<input type="input" name="serviceName" class="service-new-input">
			</li>
			<li class="service-information-list">
				<span class="service-informantion-name">{{'annotation'|translate}} ：</span>
				<textarea class="remark-input"></textarea>
			</li>
			<li class="service-information-list service-information-button">
				<button class="service-new-button yes">{{'confirm'|translate}}</button>
			</li>
		</ul>
</div>  