<div class="graphWrap monitor-chart">
		<div class="selection monitor-graph">
		<!-- <div class="input-wrap">
				<label>{{'Monitor'|translate}}</label>
				<div class="mon-podconsele">
					<ul class="nav nav-tabs" role="tablist" style="border-bottom: 0px;position: absolute;left: 80px;top: -6px;">
						<li role="presentation" style="background-color: white;color: black;" id="podcon"><a href="#home2" role="tab" data-toggle="tab">{{selectP}}&nbsp{{selectC}}</a></li>
					</ul>
					
					<div class="tab-content" style="position: absolute;">
					 	<div role="tabpanel" class="tab-pane" id="home2" style="background-color: white;color: black;">
						     <div style="width: 370px">
								<ul class="tab-head" role="tablist" style="border-bottom: 0px">
									<li role="presentation" class="tab-head-item left pointer" style="background-color: white;color:black;"><a href="#home" role="tab" data-toggle="tab">{{selectP | harborName}}</a></li>
									<li role="presentation" class="tab-head-item left pointer" ng-show="selectC!='' && selectC != null" style="background-color: white;color:black;"><a href="#profile" role="tab" data-toggle="tab" style="width: 100px;height: 20px">{{selectC}}</a></li>
								</ul>

								<div class="tab-content-warp">
									<div role="tabpanel" class="tab-item" id="home" style="background-color: white;color:black;">
										<div class="row" style="margin-left: 0px">
										    <div class="col-xs-3" ng-repeat="pod in service.podList">
										        <a ng-click="selectPod(pod)" >{{pod.name}}</a>
										    </div>
										</div>
									</div>
									<div role="tabpanel" class="tab-item" id="profile" style="background-color: white;color:black;">
										<div class="row" style="margin-left: 0px">
										    <div class="col-xs-3" ng-repeat="container in containers">
										        <a ng-click="selectCon(container)" >{{container.name}}</a>
										    </div>
										</div>
									</div>
								</div>
							</div>
						</div>		  
					</div>
				</div>
			</div> -->
			<div class="input-wrap">
				<label>Pod：</label>
				<select ng-model='select.pod' class="choose">
					<option ng-repeat='pod in service.podList' value="{{pod.name}}">{{pod.name}}</option>
				</select>
			</div>
			<div class="input-wrap">
				<label>{{'container'|translate}}：</label>
				<select ng-model='select.container'  class="choose">
					<option ng-repeat='container in containersList' ng-bind='container.name' value='{{container.name}}'></option>
				</select>
			</div>
			<div class="input-wrap">
				<label>{{'time'|translate}}：</label>
				<select ng-model='select.time'  class="choose">
					<option value='0' ng-show="timeSpan >= 30">{{'thirtyMinute'|translate}}</option>
					<option value='1' ng-show="timeSpan >= 360">{{'sixHour'|translate}}</option>
					<option value='2' ng-show="timeSpan >= 1440">{{'twentyFourHour'|translate}}</option>
					<option value='3' ng-show="timeSpan >= 10080">{{'sevenDay'|translate}}</option>
					<option value='4' ng-show="timeSpan >= 43200">{{'thirtyDay'|translate}}</option>
					<option value='5'>{{'setupToNow'|translate}}</option>
				</select>
			</div>
		</div>
		<div class="type">
			<div class="choose-type pointer" ng-click="chooseType('cpu')" ng-class="{active:select.target=='cpu'}" id="cpu">CPU</div>
			<div class="choose-type pointer" ng-click="chooseType('memory')" ng-class="{active:select.target=='memory'}">Memory</div>
			<div class="choose-type pointer" ng-click="chooseType('disk')" ng-class="{active:select.target=='disk'}">Disk</div>
			<div class="choose-type pointer" ng-click="chooseNetwork('rx','tx')" ng-class="{active:select.target=='rxtx'}">Network</div>
		</div>
		<div class="graphInner">
			<div class="nodata" ng-show="nodata">
				{{'createMonitor'|translate}}
			</div>
			<div class="graph-div">
				<div id='graph' class="graphContent my-graph"></div>
			</div>
		</div>
	</div>
</div>