<div class="modify-container newing">
	<div class="modify-container-title">{{'addTCPRouter'|translate}}</div>
	<form name="name_form" class="margin0">
		<ul class="service-information-ul">
				<li class="service-information-list">
					<div class="service-informantion-name">
						<span class="ne-required" title="{{'name'|translate}}">{{'name'|translate}} ：</span>
					</div>
						<input type="input" name="name" class="service-new-input container-input" ng-model="name" required>
							<span ng-show="name_form.name.$dirty &&name_form.name.$error.required" style="color:#F00;">{{'fillInName'|translate}}</span>
				</li>
				<li class="service-information-list">
					<div class="service-informantion-name">
						<span class="ne-required" title="Namespace">Namespace ：</span>
					</div>
					<span ng-bind='currentNamespace|harborName'></span>
				</li>
				<li class="service-information-list">
					<div class="service-informantion-name">
						<span class="ne-required" title="{{'targetService'|translate}}">{{'targetService'|translate}} ：</span>
					</div>
						<select type="input" name="name" class="service-new-input container-input" ng-model="appNow" required>
							<option ng-repeat="n in appList track by $index" value="{{n.name}}" ng-bind="n.name"></option>
						</select>

						<!-- <input type="input" name="name" class="service-new-input container-input" ng-model="selector" required> -->

							<span ng-show="name_form.name.$dirty &&name_form.name.$error.required" style="color:#F00;">{{'fillInPicker'|translate}}</span>
				</li>
				<li class="service-information-list">
					<div class="service-informantion-name">
						<span class="ne-required" title="{{'portMap'|translate}}">{{'portMap'|translate}} ：</span>
					</div>
				<form name="ports_form" class="container-config-right">
					<input type="number" name="portsport" class="ing-rules w174 h24 fl" placeholder="{{'portRange'|translate}}" ng-model="port" ng-class="{'border-red':portErr}">
					<input type="number" name="portsprotocol" class="ing-rules h24 w90 fl" placeholder="{{'targetPort'|translate}}" ng-model="targetPort">
					<select class="ing-rules" ng-model="protocol" placeholder="{{'protocolType'|translate}}">
						<option ng-repeat='p in protocolList track by $index' ng-bind="p" value="{{p}}"></option>
					</select>
					<img src="../images/add.png" class="container-image" ng-click="addPort()">
				</form>
			</li>
			<li class="service-information-list" ng-show="rules.length>0">
					<div class="service-informantion-name">
						<span></span>
					</div>
					<div class="content-list">
						<div ng-repeat="p in rules track by $index" class="content-item">
							<div class="ing-rules port-item">{{p.port}}</div>
							<div class="ing-rules port-item">{{p.targetPort}}</div>
							<div class="ing-rules port-item">{{p.protocol}}</div>
							<img src="../images/remove.png" class="container-image" ng-click="removePort($index)">
						</div>
					</div>
					
				</li>
				<li class="service-information-list">
					<div class="service-informantion-name" title="Label">Label ：</div>
						<input type="input" name="name" class="service-new-input container-input" placeholder="e.g. app=appName,env=develop" ng-model="labels">	
				</li>
				<li class="service-information-list">
					<div class="service-informantion-name" title="{{'annotation'|translate}}">{{'annotation'|translate}} ：</div>
					<form name="name_form">
						<input type="input" name="name" class="service-new-input container-input" ng-model="annotation">
					</form>
				</li>
				
				<li class="service-information-list service-information-button  container-button-father action-area">
					<span class="errMsg" ng-bind="errMsg" title="{{errMsg}}"></span>
					<button class="service-new-button mr72 container-next next-position disabled-{{disable()}} fr button"  ng-click="saveIng()" ng-disabled="disable()" ng-class="{'ne-loading':loading}">{{'saveProxy'|translate}}</button>
				</li>
		</ul>
	</form>

</div>