<div>
	<div class="service-information">
		<div class="selection monitor-graph">
			<div class="input-wrap">
				<label ng-bind="('logOutput' | translate)+':'"></label>
				<select ng-model='select.out'  class="choose" ng-options="item.value as item.name|translate for item in outputlist"></select>
			</div>
			<div class="input-wrap">
				<label ng-bind="('pod' | translate)+':'"></label>
				<label ng-bind='pod.name'></label>
			</div>
			<div class="input-wrap">
				<label ng-bind="('containerList' | translate)+':'"></label>
				<select ng-model='select.con'  class="choose" >
					<option ng-repeat='con in pod.containers' value="{{con.name}}" style="margin-left: 8px">{{con.name | harborName}}</option>
				</select>
			</div>
			<div class="input-wrap" ng-if="select.out == 1">
					<label ng-bind="('logdir' | translate)+':'"></label>
					<select ng-model='select.logdir'  class="choose" ng-options="item for item in logdirlist">
				</select>
			</div>
			<div class="input-wrap" ng-if="select.out == 1">
					<label>{{'time'|translate}}：</label>
					<select ng-model="select.range" ng-options="item.value as item.name|translate for item in rangeList"  class="choose"></select>
			</div>
			
			<div class="log-bodys" style="margin-left: -40px;margin-right: 20px">
				<ul>
					<li ng-repeat="l in log track by $index" ng-bind="l+'\n'"></li>

				</ul>
				<div style="text-align: center;" ng-show="logdirlist && logdirlist.length != 0">
					<span ng-show="(pageCount()-1) != -1 && log.length != 0 && currentPage != (pageCount()-1)" ng-click="nextPage()" style="text-align: center;cursor: pointer;">--------点击加载更多--------</span>
					<span ng-show="((pageCount()-1) == -1 && log.length != 0) || currentPage == (pageCount()-1)" style="cursor: pointer;">--------没有更多--------</span>
				</div>

			</div>
	</div>
	</div>
</div>