<div class="flex-time">
	<span ng-show="pod.events.length == 0">
		{{'noEvent'|translate}}
	</span>
	<div ng-repeat="event in pod.events track by $index">
		<ul class="flex-time-ul">
			<li class="flex-li-time">{{event.lastTimestamp | transTime}}</li>
			<li class="flex-li-spot">
				<div class="flex-li-span">
					<div class="my-circle-iron" ng-show="event.type == 'Normal'"></div>
					<div class="my-circle-iron" ng-show="event.type == 'Warning'" style="background-color:red;"></div>
				</div>	
			</li>
			<li class="flex-li-detail">
					{{event.reason}}
				<span class="event-count">(arised {{event.count}} times)</span>
				<span class="flex-detail-time">{{event.firstTimestamp | transTime}}</span><br>
					{{event.message}}
			</li>
		</ul>
	</div>
</div>