<div class="image">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'tcpProxy'|translate" class="hc-topbar-name hc-mr20"></span> 
			<span ng-bind="'entranceip'|translate" class="hc-f12"></span>
			<span ng-bind="displayEntry" class="hc-f12"></span>
		</div>
		
		<div class="hc-action-wrap">
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-red" delete-confirm="deleteSvc()" delete-text="{{'deleteText'|translate}}" ng-bind="'delete'|translate"></button>
			</div>
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green hc-button-green-heavy" ng-click="newLb()"  ng-bind="'new'|translate"></button>
			</div>
		</div>
	</div>




	<div class="hc-detail-outer">
		
		<div class="service-table-div">
			<div class="ne-table">
				<div class="thead hc-h42">
					<div class="tr">
						<div class="td" style="width: 2.5%">
							
						</div>
						<div class="td" style="width: 2.5%">
							<input type="checkbox" ng-model="selectAll" />
						</div>
						<div class="td font14" style="width: 20%" ng-bind="'name'|translate"></div>
						<div class="td font14" style="width: 18%" ng-bind="'service'|translate"></div>
						<div class="td font14" style="width: 24%" ng-bind="'label'|translate"></div>
						<div class="td font14" style="width: 14%" ng-bind="'creationTime'|translate"></div>
						<div class="td font14" style="width: 19%" ng-bind="'annotation'|translate"></div>
					</div>
				</div>
				<div class="tbody">

					<div class="tr shadow" ng-repeat="ingress in svc" ng-class="{'shrink':!ingress.expand}" ng-click="toggle2(ingress)"  ng-style="{height:82+40*ingress.rules.length}" ng-show="!ingress.deleted">
						<div class="td pos_r pointer" style="width: 2.5%">
							<span class="shrink-icon ico-chevron-thin-down"></span>
						</div>
						<div class="td pointer" style="width: 2.5%">
							
							<input type="checkbox" ng-model="ingress.selected" ng-click="$event.stopPropagation()" />
						</div>
						<div class="td pointer font14" style="width: 20%"  ng-bind="ingress.name"></div>
						<div class="td pointer font14" style="width: 18%"  ng-bind="ingress.service"></div>
						<div class="td pointer font14" style="width: 24%">
							<p class="label-item"  ng-repeat="label in ingress.labels">
								{{label.name}}={{label.value}}
							</p>
						</div>
						<div class="td pointer font14" style="width: 14%" ng-bind="ingress.createTime | transTime"></div>
						<div class="td pointer" style="width: 19%" ng-bind="ingress.annotation"></div>
						<div class="extra-content" ng-show="ingress.expand" ng-click="$event.stopPropagation()">
							<div class="ne-table">
								<div class="thead">
									<div class="tr pos_r">
										<div class="td"  style="width: 33%" ng-bind="'port'|translate"></div>
										<div class="td"  style="width: 33%" ng-bind="'targetPort'|translate"></div>
										<div class="td"  style="width: 33%" ng-bind="'protocol'|translate"></div>
										<div class="td options pointer"><span ng-click="addRule(ingress)" class="ico-plus green"></span></div>
									</div>
								</div>
								<div class="tbody">
									<div class="tr pos_r" ng-repeat="rule in ingress.rules">
										<div class="td"  style="width: 33%"  ng-show="!rule.isEdit">
											<p cl-edit="rule.port" class="inline margin0" cl-changed="confirmEdit(rule,ingress)"></p>
										</div>
										<div class="td"  style="width: 33%" cl-edit="rule.targetPort" ng-show="!rule.isEdit"  cl-changed="confirmEdit(rule,ingress)"></div>
										<div class="td"  style="width: 33%" cl-edit="rule.protocol" ng-show="!rule.isEdit"  cl-changed="confirmEdit(rule,ingress)" cl-type="select" cl-list="protocolList">
											
										</div>
										<div class="td options blue" ng-show="!rule.isEdit">
											<span class="red pointer ico-cross" ng-click="deleteRule(rule,ingress,$index)"></span>
										</div>


										<div class="td"  style="width: 33%" ng-show="rule.isEdit">
											<p ng-bind="ingress.host" class="inline margin0"></p>
											<input type="text" ng-model="rule.port" class="" />
										</div>
										<div class="td"  style="width: 33%" ng-show="rule.isEdit">
											<input type="text" ng-model="rule.targetPort" class="" />

										</div>
										<div class="td"  style="width: 33%" ng-show="rule.isEdit">
											<select ng-model="rule.protocol">
												<option ng-repeat="p in protocolList" value="{{p}}" ng-bind="p"></option>
											</select>
											
										</div>
										<div class="td options blue" ng-show="rule.isEdit"><span class="mr10 green pointer ico-checkmark" ng-click="confirmEdit(rule,ingress)"></span><span class="red mr10 pointer ico-cancel" ng-click="deleteRule(rule,ingress,$index)"></span></div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<span ng-show="!svc||svc.length==0" class="nomore">
				
			</span>
		</div>
	</div>

</div>