<div class="service-information">
	<ul class="service-information-ul">
		<li class="service-information-list">
			<span class="service-informantion-name">{{'name'|translate}} ：</span>
			<span class="service-informantion-var">{{service.name}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'namespace'|translate}} ：</span>
			<span class="service-informantion-var">{{namespace}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'runState'|translate}} ：</span>
			<span class="service-informantion-var" ng-show="service.status == 0">{{'stopped'|translate}}</span>
			<span class="service-informantion-var" ng-show="service.status == 1">{{'started'|translate}}</span>
			<span class="service-informantion-var" ng-show="service.status == 2">{{'stopping'|translate}}</span>
			<span class="service-informantion-var" ng-show="service.status == 3">{{'starting'|translate}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'creationTime'|translate}} ：</span>
			<span class="service-informantion-var">{{service.createTime | transTime}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'refershTime'|translate}} ：</span>
			<span class="service-informantion-var">{{service.updateTime | transTime}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'instanceCount'|translate}} ：</span>
			<span class="service-informantion-var" edit-instance="service.instance"></span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'internalDomain'|translate}} ：</span>
			<span class="service-informantion-var" ng-if="!service.serviceAddress">{{'none'|translate}}</span>
			<span class="service-informantion-var">{{service.serviceAddress}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'podClusterIP'|translate}} ：</span>
			<span class="service-informantion-var" ng-if="!service.clusterIP">{{'none'|translate}}</span>
			<span class="service-informantion-var">{{service.clusterIP}}</span>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'port'|translate}} ：</span>
			<div class="service-informantion-label">
				<table class="informantion-label-table">
					<tr class="port-name">
						<td>{{'virtualPort'|translate}}</td>
						<td>{{'podPort'|translate}}</td>
						<td>{{'protocol'|translate}}</td>
					</tr>
					<tr class="port-content" ng-repeat="port in service.internalPorts">
						<td>{{port.port}}</td>
						<td>{{port.targetPort}}</td>
						<td>{{port.protocol}}</td>
					</tr>
				</table>
			</div>
		</li>
		<li class="service-information-list">
			<span class="service-informantion-name">{{'annotation'|translate}} ：</span>
			<span class="service-informantion-var" ng-if="service.annotation">{{service.annotation}}</span>
			<span class="service-informantion-var" ng-if="!service.annotation">{{'none'|translate}}</span>
		</li>
	</ul>
</div>