<div class="service-detail">
	<div class="service-detail-title">
		<div class="back">
			<span class="icon-double-angle-left pointer" ng-click="back()"></span>
		</div>
		<div class="service-detail-text">
			<span class="service-detail-name">{{service.name}} ( {{service.version}} )</span>
			<span ng-if="service.status == 0" class="state-icon icon-circle" style="color: red;"></span>
			<span ng-if="service.status == 1" class="state-icon icon-circle"></span>
			<span ng-if="service.status == 2" class="state-icon icon-circle" style="color:#f4c600;"></span>
			<span ng-if="service.status == 3" class="state-icon icon-circle" style="color:#f4c600;"></span>
		</div>
		<div class="dropdown detail-operation-div">
			<button class="dropdown-toggle detail-operation-button" id="operation" data-toggle="dropdown">
				{{'operate'|translate}}
				<span class="icon-angle-down"></span>
			</button>
			<ul class="dropdown-menu detail-operation-menu  overflow-hidden" role="menu" aria-labelledby="operation">
				<li role="presentation" ng-click="start()" class="pointer hover-gray">
					<span>{{'start'|translate}}</span>
				</li>
				<li role="presentation" ng-click="stop()" class="pointer hover-gray">
					<span>{{'stop'|translate}}</span>
				</li>
				<li role="presentation" ng-show="!service.autoScaling" ng-click="flexOn()" class="pointer hover-gray">
					<span>{{'autoflex'|translate}}</span>
				</li>
				<!-- <li role="presentation" class="pointer">
					<span>回 滚</span>
				</li> -->
			</ul>
		</div>
		<div class="service-detail-console">
			<button class="detail-operation-button console-button" ng-click="choose()">
				{{'openConsole'|translate}}
			</button>
		</div>


		<div sp-tabs></div>
		<!-- <ul class="service-detail-choose">
			<li ui-sref="serviceInformation({name:service.name})" ui-sref-active="service-detail-active">基本信息</li>
			<li ui-sref="podInstance" ui-sref-active="service-detail-active">pod实例</li>
			<li ui-sref="event" ui-sref-active="service-detail-active">事件</li>
			<li ui-sref="autoFlex" ui-sref-active="service-detail-active">自动伸缩</li>
			<li ui-sref="monitorChart" ui-sref-active="service-detail-active">监控</li>
		</ul> -->
	</div>
	<!-- <div class="service-detail-content" ui-view></div> -->
</div>