<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block">
			<span ng-bind="'serviceList'|translate" class="hc-topbar-name"></span>
		</div>
		
		<div class="hc-action-wrap">
			
			<div class="hc-topbar-block hc-button-block dropdown">
				<button class="hc-button hc-button-black dropdown-toggle" id="operation" data-toggle="dropdown">
					{{'operate'|translate}}
					<span class="icon-angle-down"></span>
				</button>
				<ul class="dropdown-menu hc-operation-detail" role="menu" aria-labelledby="operation">
					<li role="presentation" ng-click="start()" class="pointer hover-gray">
						<span>{{'start'|translate}}</span>
					</li>
					<li role="presentation" ng-click="stop()" class="pointer hover-gray">
						<span>{{'stop'|translate}}</span>
					</li>
					<li role="presentation" delete-confirm="delete()" delete-text="{{'deleteText'|translate}}" class="pointer hover-gray">
						<span>{{'delete'|translate}}</span>
					</li>
					<!-- <li role="presentation" class="pointer">
						<span>回 滚</span>
					</li> -->
				</ul>
			</div>
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green hc-button-green-heavy hc-mr10" ui-sref="serviceNew">{{'new'|translate}}</button>
			</div>
		</div>
		<div class="search-div">
				<div class="label-div">
					<div class="service-all-label search-label" ng-if="query.name">
						{{query.name}}
						<span class="icon-remove remove-label" ng-click="deleteName()"></span>
					</div>
					<div class="service-all-label search-label" ng-repeat="l in query.labels">
						{{l}}
						<span class="icon-remove remove-label" ng-click="deleteLabel($index)"></span>
					</div>
				</div>
				<div class="area" ng-class="{boxerr:!match}">
					<input type="input" name="search" class="box" ng-model="queryInput" placeholder="{{'searchText'|translate}}" enter-search="search()">
					<div class="search-iron pointer" ng-click="search()">
						<span class="icon-search"></span>
					</div>
				</div>
				<div class="question pointer" ng-mouseenter="question=true" ng-mouseleave="question=false" id="notion">
					<span class="icon-question-sign"></span>
				</div>
				<bubble ng-if="question" for="notion" align="top left" close="!question">
					<div class="detail">
						{{'searchText'|translate}}
					</div>
				</bubble>
		</div>
		


	</div>




	<div class="hc-detail-outer clearfix">
		<div class="hc-container hc-detail-inner">
			<!-- <button class="function-button refresh" ng-click=refresh()>刷新</button> -->
			
			<div class="service-table-div service-list-block">
				<table class="service-table">
					<thead class="service-table-head">
						<tr>
							<td class="service-choose-td"><input class="service-choose-box" id="choose-all" type="checkbox" ng-model="checkboxAll"></td>
							<td class="service-name">{{'name'|translate}}</td>
							<td>{{'namespace'|translate}}</td>
							<td>{{'state'|translate}}</td>
							<td>{{'label'|translate}}</td>
							<td>{{'version'|translate}}</td>
							<td>{{'instanceCount'|translate}}</td>
							<td>{{'creationTime'|translate}}</td>
						</tr>
					</thead>
					<tbody  class="service-table-body">
						<tr ng-repeat="service in serviceList">
							<td class="service-choose-td"><input class="service-choose-box" type="checkbox" ng-model="service.checkbox"></td>
							<td class="service-name"><a ui-sref="serviceDetail({name:service.name,namespace:service.namespace})">{{service.name}}</a></td>
							<td>{{service.namespace|harborName}}</td>
							<td ng-show="service.status==0">
								{{'stopped'|translate}}
								&nbsp
								<span class="state-icon icon-circle" style="color: red;"></span>
							</td>
							<td ng-show="service.status==1">
								{{'started'|translate}}
								&nbsp
								<span class="state-icon icon-circle"></span>
							</td>
							<td ng-show="service.status==2">
								{{'stopping'|translate}}
								&nbsp
								<span class="state-icon icon-circle" style="color: #f4c600;"></span>
							</td>
							<td ng-show="service.status==3">
								{{'starting'|translate}}
								&nbsp
								<span class="state-icon icon-circle" style="color: #f4c600;"></span>
							</td>
							<td>
								<div class="service-all-label" ng-repeat="(name,value) in service.labels">{{name}}={{value}}</div>
								<span ng-if="!service.labels">{{'none'|translate}}</span>
							</td>
							<td>{{service.version}}</td>
							<td>{{service.instance}}</td>
							<td>{{service.createTime | transTime}}</td>
						</tr>
					</tbody>
				</table>
				<span ng-show="!serviceList||serviceList.length==0" class="nomore">
				</span>
			</div>
			<!-- <div class="service-page">
				<ul class="service-page-ul">
	  				<li><a href="#">上一页</a></li>
	  				<li class="active"><a href="#">1</a></li>
	  				<li><a href="#">2</a></li>
	  				<li><a href="#">3</a></li>
	  				<li><a href="#">4</a></li>
	  				<li><a href="#">5</a></li>
	  				<li><a href="#">下一页</a></li>
	  				<li>共 <span>5</span> 条/ <span>1</span> 页 </li>
				</ul>
			</div> -->
		</div>
	</div>
	
</div>