<div class="hc-service-detail">
	<div class="hc-detail-topbar">
		<div class="hc-topbar-block hc-back pointer ico-rewind" ng-click="back()">
		</div>
		<div class="hc-topbar-block">
			<span ng-bind="'newService'|translate" class="hc-topbar-name"></span>
		</div>
		<div class="hc-action-wrap">
			<div class="hc-topbar-block hc-button-block hc-p0-ml10">
				<button class="hc-button hc-button-green" ng-class="{'hc-button-disable':(disable()||label_form.label.$invalid)}" ng-click="setup()" ng-disabled="disable()||label_form.label.$invalid" ng-bind="'saveService'|translate"></button>
			</div>
		</div>
	</div>
	<div class="hc-detail-outer">
		<div class="hc-detail-innerwrap">
		<div class="hc-col-block">
			<div class="hc-info-block">
				<div class="hc-info-head">
					<span ng-bind="'BasicInfo'|translate"></span>
				</div>
				<div class="hc-info-body">
					<form name="input_form">
						<ul class="service-information-ul hc-servicenew-total">
							<li class="hc-info-list">
								<span class="hc-info-name ne-required">{{'serviceName'|translate}}：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info hc-width-p100">
										<input type="input" name="name" class="hc-con-add" ng-pattern="namePattern" placeholder="{{'Input Name'|translate}}"  ng-model="serviceName" required>
									</div>
								</div>
								<span ng-show="input_form.name.$dirty && input_form.name.$error.required" class="error">{{'fillInServiceName'|translate}}</span>
								<span ng-show="input_form.name.$invalid && !input_form.name.$error.required" class="error">{{'wrongServiceName'|translate}}</span>
							</li>
							<li class="hc-info-list">
								<span class="hc-info-name ne-required">{{'namespace'|translate}}：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info hc-width-p100">
										<span ng-bind="namespace|harborName"></span>	
									</div>
								</div>
							</li>
							<li class="hc-info-list hc-instance-list">
								<span class="hc-info-name ne-required">{{'instanceCount'|translate}} ：</span>
								<div class="hc-con-info-block">
									<div sp-number name="count" sp-min="1" sp-interval="1" sp-dirty="" sp-data="instanceCount" ng-model="instanceCount" required></div>
								</div>		
							</li>
							<li class="hc-info-list">
								<span class="hc-info-name">{{'label'|translate}}：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info hc-width-p100">
										<input type="input" name="label"  class="hc-con-add hc-width-p100" ng-model="label" ng-pattern="labelPattern" placeholder="{{'labelText'|translate}}">
									</div>
								</div>
								<span ng-show="input_form.label.$invalid" class="error">{{'wrongLabel'|translate}}</span>
							</li>
						</ul>
					</form>
				</div>	
			</div>
			<div class="hc-info-block">
				<div class="hc-info-head">
					<span ng-bind="'AdvanceInfo'|translate"></span>
				</div>
				<div class="hc-info-body">
					<form name="input_form">
						<ul class="service-information-ul hc-servicenew-total">
							<li class="hc-info-list">
								<span class="hc-info-name">{{'podClusterIP'|translate}} ：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info hc-width-p100">
										<input type="text" name="ip" ng-model="clusterIP" placeholder="{{'fillInInternelIP'|translate}}" class="hc-con-add" ng-pattern="ipPattern" />
									</div>
								</div>
								<span ng-show="input_form.ip.$invalid && configIp" class="error">{{'wrongIP'|translate}}</span>
							</li>
							<li class="hc-info-list">
								<span class="hc-info-name">{{'HostName'|translate}}：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info hc-width-p100">
										<input type="input" name="hostName" class="hc-con-add" ng-model="hostName">
									</div>
								</div>		
							</li>
							<li class="hc-info-list hc-height-auto">
								<span class="hc-info-name">{{'selector'|translate}}：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info">
										<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputSelectorKey'|translate}}" ng-model="tempselector.key" ne-dropdown-hint="availableKey">
										<span class="hc-connect-icon hc-connect-placeholder">=</span>
										<input class="hc-con-add hc-two-width" type="text" name="" placeholder="{{'inputSelectorValue'|translate}}" ng-model="tempselector.value" ne-dropdown-hint="availableValue">
										<span class="hc-delete-icon ico-check pointer hc-color-green" ng-click="addSelector()"></span>
									</div>
									<div class="hc-con-info" ng-repeat="(key,value) in selector">
										<span class="hc-info-value hc-con-value hc-two-width" ng-bind="key"></span>
										<span class="hc-connect-icon">=</span>
										<span class="hc-info-value hc-con-value hc-two-width" ng-bind="value"></span>
										<span class="hc-delete-icon ico-cross hc-color-red pointer" ng-click="deleteSelector(key)"></span>
									</div>
								</div>		
							</li>
							<li class="hc-info-list">
								<span class="hc-info-name">{{'annotation'|translate}} ：</span>
								<div class="hc-con-info-block">
									<div class="hc-con-info hc-width-p100">
										<input type="input" class="hc-con-add" ng-model="annotation">
									</div>
								</div>
							</li>
						</ul>
					</form>
				</div>	
			</div>
		</div>
		<div class="hc-col-block">
			<div class="hc-info-block">
				<div class="hc-info-head">
					<span ng-bind="'containerList'|translate"></span>
					<span class="hc-project-add pointer" ng-bind="'add'|translate" ng-click="newContainer()"></span>
				</div>
				<div class="hc-info-body">
					<div ng-repeat="container in containers" class="hc-mutiple-container" ng-class="{hcProExpand:container.exp}">
						<div class="hc-project-label">
							<span ng-bind="container.name" class="hc-project-label-text pointer" ng-click="expContainer($index)"></span>
							<span class="ico-cross pointer"  delete-confirm="deleteContainer($index)"></span>
						</div>
						<div class="hc-tenant-second clearfix">
							<div class="hc-container-block hc-min-height0">
								<div class="hc-info-head">
									<span ng-bind="'BasicConfig'|translate"></span>
									<span class="hc-resource-edit pointer" ng-bind="'Edit'|translate" ng-click="modifyContainer(container,$index)"></span>
								</div>
								<div class="hc-info-body hc-height150 hc-over-visible hc-padding-b0">
									<ul>
										<li class="hc-info-list">
											<span class="hc-info-name">{{'name'|translate}} ：</span>
											<span class="hc-info-value">{{container.name}}</span>
										</li>
										<li class="hc-info-list">
											<span class="hc-info-name">{{'image'|translate}} ：</span>
											<span class="hc-info-value">{{container.img}}:{{container.tag}}</span>
										</li>
										<li class="hc-info-list">
											<span class="hc-info-name">{{'memory'|translate}} ：</span>
											<span class="hc-info-value">{{container.resource.memory|memoryFormat}}</span>
										</li>
										<li class="hc-info-list">
											<span class="hc-info-name">{{'cpuValue'|translate}} ：</span>
											<span class="hc-info-value">{{container.resource.cpu}}</span>
										</li>
										<li class="hc-info-list">
											<span class="hc-info-name">{{'portConfig'|translate}} ：</span>
											<div class="hc-con-info-block">
												<span class="hc-info-value" ng-repeat="p in container.ports">
													{{p.port}}({{p.protocol}})
												</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>