<div class="noti-wrap setting">
	<h3 class="warning-title">{{'setting'|translate}}</h3>
	<div class="setting-wrap">
	<!-- 	<div class="left-menu">
			<div class="menu-item on">userlist</div>
			<div class="menu-item">用户管理</div>
		</div> -->
		<!-- <div class="setting-content"> -->
			<div class="namespace-wrap padding20">



				<div class="ne-table">

					<div class="thead">
						<div class="tr">
							
							<div class="td font14" style="width: 33.3%" ng-bind="'username'|translate"></div>
							<div class="td font14" style="width: 33.3%" ng-bind="'password'|translate"></div>
							<div class="td font14" style="width: 33.3%"><span ng-bind="'namespace'|translate"></span><span class="ico-plus green pointer fr user-add" ng-click="newNs()"></span></div>
						</div>
					</div>

					<div class="tbody">

						<div class="tr" ng-repeat="user in userlist">
							<div class="td pointer font14" style="width: 33.3%" ng-bind='user.username'></div>
							<div class="td"  style="width: 33%" cl-edit="user.password" ng-show="!rule.isEdit"  cl-changed="modifyPsd(user)" cl-type="password"></div>
							<div class="td pointer font14" style="width: 33.3%">
							<span ng-bind="user.username|nsTemp"></span>
							<span class="red pointer ico-cross fr user-delete" ng-click="deleteUser(user)" ng-show="!user.deleting"></span>
							<span ng-show="user.deleting" ng-bind="'deleting'|translate" class="fr"></span>
							</div>
						</div>
						<div class="tr" ng-show='isAddNs'>
							<div class="td pointer font14" style="width: 33.3%">
								<input ng-model="newUsername" class="addfield" />
							</div>
							<div class="td pointer font14" style="width: 33.3%">
								<input ng-model="newPassword" class="addfield" />
							</div>
							<div class="td pointer font14" style="width: 33.3%">
								<span ng-click="addNs()" class="green pointer ico-checkmark" ng-show="!adding"></span>
								<span ng-click="cancelNs()" class="red mr10 pointer ico-cancel" ng-show="!adding"></span><span ng-show="adding">{{'creating'|translate}}</span>
							</div>
						</div>
					</div>
				</div>


				<div class="table-wrap">





					
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>